
<form enctype="multipart/form-data" id="Task_117jsqz" class="form-horizontal" role="form">

  <script cam-script type="text/form-script">
           var variableManager = camForm.variableManager;
           $scope.taskId_ = camForm.taskId;
  </script>

  <div class="form-group">
     <h4>Definir comissão administrativa área demandante</h4>
 </div>


 <div class="form-group">
    <div class="col-sm-12" style="padding-top: 25px;">
      <label class="control-label" >Download:
      </label>
      <a cam-file-download="pcti_file_etp_avaliarRT"></a>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12" style="padding-top: 25px;">
      <label class="control-label">Upload:
      </label>
      <input type="file"
        cam-variable-name="pcti_file_etp_definirComissaoAdministrativaDemandante"
        id="pcti_file_etp_definirComissaoAdministrativaDemandante"
        cam-variable-type="File"
        cam-max-filesize="10000000" /> <!-- 10mb -->
    </div>
  </div>

  <div class="form-group" >
    <div class="col-md-12">	
      <h3>Anexos</h3>
      <table id='tabelaAnexo' class="table table-striped">	
        <tr>
          <td scope="col" align="left">
            Arquivo
          </td>
          <td scope="col" align="left">
            Tipo
          </td>
          <td scope="col" align="left">
            Data
          </td>
          <td scope="col" align="left">
           
         </td>
        </tr>
      </table>
    </div>
  </div>
  


  <div class="form-group">
    <div class="col-sm-12" style="padding-top: 25px;">

      <label class="control-label" for="pcti_etp_notaAvaliarRT">Nota de avaliação dos recursos tecnologicos:
        <p id="show-lenght-nota" style="color:#d57d6d; display: inline;">
          (0/2000)
        </p>
      </label>
      <textarea  cam-variable-name="pcti_etp_notaAvaliarRT"
              cam-variable-type="String"
              id="pcti_etp_notaAvaliarRT"
              class="form-control"
              rows="5" cols="25"
              maxlength="2000"
              readonly="readonly"></textarea>  
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12" style="padding-top: 25px;">

      <label class="control-label" for="pcti_etp_notaDefinirAdequacaoAmbiente">Nota de adequação do ambiente:
        <p id="show-lenght-nota" style="color:#d57d6d; display: inline;">
          (0/2000)
        </p>
      </label>
      <textarea  cam-variable-name="pcti_etp_notaDefinirAdequacaoAmbiente"
              cam-variable-type="String"
              id="pcti_etp_notaDefinirAdequacaoAmbiente"
              class="form-control"
              rows="5" cols="25"
              maxlength="2000"
              readonly="readonly"></textarea>  
    </div>
  </div>


 <div class="form-group">
  <div class="panel panel-default">
      <div class="panel-heading">Área Requisitante</div>
      <div class="panel-body">
          <div class="row">
            <div class="col">
              <div class="col-md-6 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label >Diretor:</label>
                <input type="text" class="form-control" id="pcti_etp_nomeDiretorAreaRequisitante" placeholder="nome do diretor"
                    cam-variable-name="pcti_etp_nomeDiretorAreaRequisitante" cam-variable-type="String">
              </div>
            </div>
            <div class="col">
              <div class="col-md-6 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label >Superintendente:</label>
                <input type="text" class="form-control" id="pcti_etp_nomeSuperintendenteAreaRequisitante" placeholder="nome do superintendente"
                    cam-variable-name="pcti_etp_nomeSuperintendenteAreaRequisitante" cam-variable-type="String">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="col-md-6 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label >Gerente:</label>
                <input type="text" class="form-control" id="pcti_etp_nomeGerenteAreaRequisitante" placeholder="nome do gerente"
                    cam-variable-name="pcti_etp_nomeGerenteAreaRequisitante" cam-variable-type="String">
              </div>
            </div>
          </div>
      </div>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12" style="padding-top: 25px;">

    <label class="control-label" for="pcti_etp_notaComissaoAdministrativaDemandante">Nota:
      <p id="show-lenght-nota" style="color:#d57d6d; display: inline;">
        (0/2000)
      </p>
    </label>
    <textarea  cam-variable-name="pcti_etp_notaComissaoAdministrativaDemandante"
            cam-variable-type="String"
            id="pcti_etp_notaComissaoAdministrativaDemandante"
            class="form-control"
            rows="5" cols="25"
            maxlength="2000"
            oninput="verificationNota()"
            required></textarea>  
  </div>
</div>

 <script cam-script type="text/form-script">
  $scope.userName = '';
  var variableManager = camForm.variableManager;

  camForm.on('form-loaded', function() {
    console.log ("iniciado form-loaded");

    // this callback is executed *before* the variables are loaded from the server.
    // if we declare a variable here, its value will be fetched as well
    
    try {
      variableManager.fetchVariable('pcti_etp_notaDefinirAdequacaoAmbiente');

    } 
    catch (err) {
      console.log(err);
    }

  });


  camForm.on('submit', function(evt) {
    if (document.getElementById('pcti_file_etp_definirComissaoAdministrativaDemandante').files.length === 0) {
      alert("Faça o upload do documento")
      evt.submitPrevented = true;
    }
       
   });

   ////codigo do formulario web codigo para adpatar
   inject(['$http', 'Uri', function($http, Uri) 
   {
   
       var contextRetorno = $scope.contextRetorno;
   
       $http.get(Uri.appUri('engine://engine/:engine/identity/groups?userId=' + $scope.userName)).then(function(response) {
         $scope.retorno = response.data;
         console.log($scope.retorno);
       });
   
       camForm.on('form-loaded', function() {
         try {
           console.log ("iniciado form-loaded");
         
           variableManager.fetchVariable('listaArquivosETP');
         } catch (err) {
           console.log(err);
         }
       });
   
   
   
       camForm.on('variables-restored', function() {
         // handle variables restored
         $scope.loadFields();
       });
   
       $scope.loadFields = function() {
   
       var listaArquivosETP = variableManager.variable('listaArquivosETP').value;
       if(listaArquivosETP){
     
         listaArquivosETP.forEach(function(fileUploaded) {
       
           let data = fileUploaded.data.split('T')[0];
           data = data.split('-');
       
           var novaLinha = "<tr id='tr_"+ fileUploaded.nome +"'>";
             novaLinha += "<td> <a href='/engine-rest/task/"+camForm.taskId+"/variables/"+ fileUploaded.camundaVariable +"/data' download='" + fileUploaded.nome + "' class='btn btn-info btn-xs' role='button'>";
             novaLinha += fileUploaded.nome+"</a></td>";
             novaLinha += "<td>"+fileUploaded.tipo+"</td>";
             novaLinha += "<td>"+ data[2] + '/' + data[1] + '/' + data[0] +"</td>";
             novaLinha += "<td style=\"text-align:right\">";
             novaLinha += '<input disabled id="' + fileUploaded.nome + '" type="button" value="&#x1F5D1;"  style="font-size:16px; " onclick="" />';
             novaLinha += '</td></tr>';
       
           $('#tabelaAnexo').append(novaLinha);
   
         });
         
       }
   
     };
   
   
     camForm.on('store', function(evt) {
   
       evt.retrieveVariables();
       var vManager = evt.variableManager;
       
       try {
   
       } catch (err) {
         console.error(err);
         evt.submitPrevented = true;
       }
     });
   
     camForm.on('variables-stored', function() {
     });
   
   }]); /// funcao inject


 </script>

 <script>
  // show the user how many characteres are in the input area
  var verificationNota = function(e) {
    // get the value into textarea 
    // has to change the ID when have to use in another textarea element  
    let inputedByUser = document.getElementById("pcti_etp_notaComissaoAdministrativaDemandante").value;
    let showUserInputLenghtElement = document.getElementById("show-lenght-nota");
    // generate the p tag that show to user how many characteres are in the input area
    showUserInputLenghtElement.innerHTML = "(" + inputedByUser.length +"/2000)";
    if(inputedByUser.length >= 1950 || inputedByUser.length <= 1)
      document.getElementById("show-lenght-nota").style = "color: #d57d6d; display: inline;"
    else if(inputedByUser.length < 1950)
      document.getElementById("show-lenght-nota").style = "color: #a2d19e; display: inline;"
  }
</script>
 
</form>
