
<form enctype="multipart/form-data" id="ReavaliarAConformidadeDoETPTask" class="form-horizontal" role="form">

  <script cam-script type="text/form-script">
           var variableManager = camForm.variableManager;
           $scope.taskId_ = camForm.taskId;

  </script>

  <div class="form-group">
     <h4>Reavaliar
      a conformidade do ETP</h4>
 </div>

 <div class="form-group" id="mostrarAjuste">
    <div class="panel panel-default">
        <div class="panel-heading">Nota ajustar ETP</div>
        <div class="panel-body">
        <div class="col-sm-12" style="padding-top: 25px;">
          <textarea  cam-variable-name="pcti_etp_notaAjustarETP"
              cam-variable-type="String"
              id="pcti_etp_notaAjustarETP"
              class="form-control"
              rows="5" cols="25"
              maxlength="2000"
              readonly="readonly"></textarea>
        </div>
        <div class="row">
          <div class="col-sm-6" style="padding-top: 25px;">
            <label class="control-label" >Download:
            </label>
            <a href="/engine-rest/task/{{camForm.taskId}}/variables/pcti_file_etp_ajustarETP/data" class="btn btn-default" role="button">
              Download
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="form-group">
  <div class="panel panel-default">
      <div class="panel-heading">Nota Comissão Administrativa Demandante</div>
      <div class="panel-body">
      <div class="col-sm-12" style="padding-top: 25px;">
        <textarea  cam-variable-name="pcti_etp_notaComissaoAdministrativaDemandante"
            cam-variable-type="String"
            id="pcti_etp_notaComissaoAdministrativaDemandante"
            class="form-control"
            rows="5" cols="25"
            maxlength="2000"
            readonly="readonly"></textarea>  
      </div>
      <div class="row">
        <div class="col-sm-6" style="padding-top: 25px;">
          <label class="control-label" >Download:
          </label>
          <a cam-file-download="pcti_file_etp_definirComissaoAdministrativaDemandante"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group" id="mostrarComissaoDITEC">
  <div class="panel panel-default">
      <div class="panel-heading">Nota Comissão Administrativa DITEC</div>
      <div class="panel-body">
      <div class="col-sm-12" style="padding-top: 25px;">
        <textarea  cam-variable-name="pcti_etp_notaComissaoAdministrativaDITEC"
            cam-variable-type="String"
            id="pcti_etp_notaComissaoAdministrativaDITEC"
            class="form-control"
            rows="5" cols="25"
            maxlength="2000"
            readonly="readonly"></textarea>
      </div>
      <div class="row">
        <div class="col-sm-6" style="padding-top: 25px;">
          <label class="control-label" >Download:
          </label>
          <a href="/engine-rest/task/{{camForm.taskId}}/variables/pcti_file_etp_definirComissaoAdministrativaDITEC/data" class="btn btn-default" role="button">
            Download
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="form-group" id="divavaliacaoConformidadeETP">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
        <label class="col-md-12 control-label">Avaliação de conformidade do ETP: </label>
    </div>
    <div class="col">
      <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
        <ui-select class="col-md-12 col-xs-12 col-sm-12" ng-model="selectedavaliacaoConformidadeETP.value" theme="select2"> 
          <ui-select-match placeholder="Selecione ou pesquise o tipo na lista...">
            {{$select.selected.name}}
          </ui-select-match> 
          <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
            <div ng-bind-html="item.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12" style="padding-top: 25px;">

    <label class="control-label" for="pcti_etp_notaReavaliarConformidadeETP">Nota:
      <p id="show-lenght-nota" style="color:#d57d6d; display: inline;">
        (0/2000)
      </p>
    </label>
    <textarea  cam-variable-name="pcti_etp_notaReavaliarConformidadeETP"
            cam-variable-type="String"
            id="pcti_etp_notaReavaliarConformidadeETP"
            class="form-control"
            rows="5" cols="25"
            maxlength="2000"
            oninput="verificationNota()"
            required></textarea>  
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12" style="padding-top: 25px;">
    <label class="control-label">Upload:
    </label>
    <input type="file"
      cam-variable-name="pcti_file_etp_reavaliarConformidadeETP"
      id="pcti_file_etp_reavaliarConformidadeETP"
      cam-variable-type="File"
      cam-max-filesize="10000000" /> <!-- 10mb -->
  </div>
</div>

<div class="form-group" >
  <div class="col-md-12">	
    <h3>Anexos</h3>
    <table id='tabelaAnexo' class="table table-striped">	
      <tr>
        <td scope="col" align="left">
          Arquivo
        </td>
        <td scope="col" align="left">
          Tipo
        </td>
        <td scope="col" align="left">
          Data
        </td>
        <td scope="col" align="left">
         
       </td>
      </tr>
    </table>
  </div>
</div>

 <script cam-script type="text/form-script">
   $scope.userName = '';
   var variableManager = camForm.variableManager;

   camForm.on('form-loaded', function() {
    console.log ("iniciado form-loaded");

    // this callback is executed *before* the variables are loaded from the server.
    // if we declare a variable here, its value will be fetched as well
    
    try {
      variableManager.fetchVariable('pcti_etp_notaComissaoAdministrativaDemandante');
    } 
    catch (err) {
      console.log(err);
    }
    try {
      variableManager.fetchVariable('pcti_etp_notaComissaoAdministrativaDITEC');
    } 
    catch (err) {
      console.log(err);
    }

  });


  camForm.on('variables-fetched', function() {
    if(processAndGetVariable('pcti_etp_notaAjustarETP') == '') {
      document.getElementById('mostrarAjuste').style = "display: none;";
    }
    if(processAndGetVariable('pcti_etp_notaComissaoAdministrativaDITEC') == ''){
      document.getElementById('mostrarComissaoDITEC').style = "display: none;";
    }
  });

   inject(['$rootScope', function($rootScope) {

       $scope.onSelect = function(item,model){
         console.log("selectedItem",item);
       }
       //alert("end 2: " + $scope.retorno);

       //$scope.userName = $rootScope.authentication.name;

       $scope.itemArray = [
           {id: 'etp-reprovado', name: 'Reprovado'},
           {id: 'etp-invalido', name: 'Inválido'},
           {id: 'etp-conforme', name: 'Conforme'}
       ];
       $scope.selectedavaliacaoConformidadeETP = { value: $scope.itemArray[0] };

   }]);

   


   camForm.on('submit', function(evt) {

    if (document.getElementById('pcti_file_etp_reavaliarConformidadeETP').files.length === 0) {
      alert("Faça o upload do documento" )
      evt.submitPrevented = true;
    }

    console.log("value" + $scope.selectedavaliacaoConformidadeETP);
       var pctiETPavaliacaoConformidadeETP       = $scope.selectedavaliacaoConformidadeETP.value.id;
       createVariableCamunda('pcti_etp_avaliacaoConformidadeETP',       'String',  pctiETPavaliacaoConformidadeETP);

   });

   function createVariableCamunda(nameVariable, typeVariable, valueVariable) {
      if (variableManager.variable(nameVariable) != undefined) {
        variableManager.variableValue(nameVariable, valueVariable);
      } else {
        variableManager.createVariable({
            name: nameVariable,
            type: typeVariable,
            value: valueVariable,
            isDirty: true
        });
      }
    }

    function processAndGetVariable(value) {
      var valueReturn = variableManager.variableValue(value);
      if (valueReturn === undefined) {
        variableManager.destroyVariable(value);
      }
      return valueReturn;
    }



  
     ////codigo do formulario web codigo para adpatar
     inject(['$http', 'Uri', function($http, Uri) 
     {
     
         var contextRetorno = $scope.contextRetorno;
     
         $http.get(Uri.appUri('engine://engine/:engine/identity/groups?userId=' + $scope.userName)).then(function(response) {
           $scope.retorno = response.data;
           console.log($scope.retorno);
         });
     
         camForm.on('form-loaded', function() {
           try {
             console.log ("iniciado form-loaded");
           
             variableManager.fetchVariable('listaArquivosETP');
           } catch (err) {
             console.log(err);
           }
         });
     
     
     
         camForm.on('variables-restored', function() {
           // handle variables restored
           $scope.loadFields();
         });
     
         $scope.loadFields = function() {
     
         var listaArquivosETP = variableManager.variable('listaArquivosETP').value;
         if(listaArquivosETP){
       
           listaArquivosETP.forEach(function(fileUploaded) {
         
             let data = fileUploaded.data.split('T')[0];
             data = data.split('-');
         
             var novaLinha = "<tr id='tr_"+ fileUploaded.nome +"'>";
               novaLinha += "<td> <a href='/engine-rest/task/"+camForm.taskId+"/variables/"+ fileUploaded.camundaVariable +"/data' download='" + fileUploaded.nome + "' class='btn btn-info btn-xs' role='button'>";
               novaLinha += fileUploaded.nome+"</a></td>";
               novaLinha += "<td>"+fileUploaded.tipo+"</td>";
               novaLinha += "<td>"+ data[2] + '/' + data[1] + '/' + data[0] +"</td>";
               novaLinha += "<td style=\"text-align:right\">";
               novaLinha += '<input disabled id="' + fileUploaded.nome + '" type="button" value="&#x1F5D1;"  style="font-size:16px; " onclick="" />';
               novaLinha += '</td></tr>';
         
             $('#tabelaAnexo').append(novaLinha);
     
           });
           
         }
     
       };
     
     
       camForm.on('store', function(evt) {
     
         evt.retrieveVariables();
         var vManager = evt.variableManager;
         
         try {
     
         } catch (err) {
           console.error(err);
           evt.submitPrevented = true;
         }
       });
     
       camForm.on('variables-stored', function() {
       });
     
     }]); /// funcao inject
 </script>

 <script>
  // show the user how many characteres are in the input area
  var verificationNota = function(e) {
    // get the value into textarea 
    // has to change the ID when have to use in another textarea element  
    let inputedByUser = document.getElementById("pcti_etp_notaReavaliarConformidadeETP").value;
    let showUserInputLenghtElement = document.getElementById("show-lenght-nota");
    // generate the p tag that show to user how many characteres are in the input area
    showUserInputLenghtElement.innerHTML = "(" + inputedByUser.length +"/2000)";
    if(inputedByUser.length >= 1950 || inputedByUser.length <= 1)
      document.getElementById("show-lenght-nota").style = "color: #d57d6d; display: inline;"
    else if(inputedByUser.length < 1950)
      document.getElementById("show-lenght-nota").style = "color: #a2d19e; display: inline;"
  }
</script>
 
</form>
