
<form enctype="multipart/form-data" id="AvaliarOsRecursosTecnologicosTask" class="form-horizontal" role="form">

  <script cam-script type="text/form-script">
           var variableManager = camForm.variableManager;
           $scope.taskId_ = camForm.taskId;
  </script>

  <div class="form-group">
     <h4>Avaliar os recursos tecnológicos</h4>
 </div>

 <div class="form-group">
  <div class="col-sm-12" style="padding-top: 25px;">
    <label class="control-label" >Download:
    </label>
    <a cam-file-download="pcti_file_etp_consolidarDados"></a>
</div>
</div>

<div class="form-group">
  <div class="col-sm-12" style="padding-top: 25px;">
    <label class="control-label">Upload:
    </label>
    <input type="file"
      cam-variable-name="pcti_file_etp_avaliarRT"
      id="pcti_file_etp_avaliarRT"
      cam-variable-type="File"
      cam-max-filesize="10000000" /> <!-- 10mb -->
  </div>
</div>

<div class="form-group" >
  <div class="col-md-12">	
    <h3>Anexos</h3>
    <table id='tabelaAnexo' class="table table-striped">	
      <tr>
        <td scope="col" align="left">
          Arquivo
        </td>
        <td scope="col" align="left">
          Tipo
        </td>
        <td scope="col" align="left">
          Data
        </td>
        <td scope="col" align="left">
         
       </td>
      </tr>
    </table>
  </div>
</div>

 <div class="form-group">
    <div class="col-sm-12" style="padding-top: 25px;">

      <label class="control-label" for="pcti_etp_notaConsolidarDados">Nota consolidar dados:
      </label>
      <textarea  cam-variable-name="pcti_etp_notaConsolidarDados"
              cam-variable-type="String"
              id="pcti_etp_notaConsolidarDados"
              class="form-control"
              rows="5" cols="25"
              maxlength="2000"
              readonly="readonly"></textarea>  
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12" style="padding-top: 25px;">

      <label class="control-label" for="pcti_etp_notaAvaliarRT">Nota de avaliação dos recursos tecnologicos:
        <p id="show-lenght-nota-avaliarRT" style="color:#d57d6d; display: inline;">
          (0/2000)
        </p>
      </label>
      <textarea  cam-variable-name="pcti_etp_notaAvaliarRT"
              cam-variable-type="String"
              id="pcti_etp_notaAvaliarRT"
              class="form-control"
              rows="5" cols="25"
              maxlength="2000"
              oninput="verificationNota('pcti_etp_notaAvaliarRT','show-lenght-nota-avaliarRT')"
              required></textarea>  
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12" style="padding-top: 25px;">

      <label class="control-label" for="pcti_etp_notaDefinirAdequacaoAmbiente">Nota de adequação do ambiente:
        <p id="show-lenght-nota-defAdequacaoAmbiente" style="color:#d57d6d; display: inline;">
          (0/2000)
        </p>
      </label>
      <textarea  cam-variable-name="pcti_etp_notaDefinirAdequacaoAmbiente"
              cam-variable-type="String"
              id="pcti_etp_notaDefinirAdequacaoAmbiente"
              class="form-control"
              rows="5" cols="25"
              maxlength="2000"
              oninput="verificationNota('pcti_etp_notaDefinirAdequacaoAmbiente', 'show-lenght-nota-defAdequacaoAmbiente')"
              required></textarea>  
    </div>
  </div>


 <script cam-script type="text/form-script">
   $scope.userName = '';
   var variableManager = camForm.variableManager;

   camForm.on('form-loaded', function() {
    console.log ("iniciado form-loaded");

    // this callback is executed *before* the variables are loaded from the server.
    // if we declare a variable here, its value will be fetched as well
    
    try {
      variableManager.fetchVariable('pcti_etp_notaConsolidarDados');

    } 
    catch (err) {
      console.log(err);
    }

  });


   camForm.on('submit', function(evt) {
    if (document.getElementById('pcti_file_etp_avaliarRT').files.length === 0) {
      alert("Faça o upload do documento" )
      evt.submitPrevented = true;
    }
       
   });

   ////codigo do formulario web codigo para adpatar
   inject(['$http', 'Uri', function($http, Uri) 
   {
   
       var contextRetorno = $scope.contextRetorno;
   
       $http.get(Uri.appUri('engine://engine/:engine/identity/groups?userId=' + $scope.userName)).then(function(response) {
         $scope.retorno = response.data;
         console.log($scope.retorno);
       });
   
       camForm.on('form-loaded', function() {
         try {
           console.log ("iniciado form-loaded");
         
           variableManager.fetchVariable('listaArquivosETP');
         } catch (err) {
           console.log(err);
         }
       });
   
   
   
       camForm.on('variables-restored', function() {
         // handle variables restored
         $scope.loadFields();
       });
   
       $scope.loadFields = function() {
   
       var listaArquivosETP = variableManager.variable('listaArquivosETP').value;
       if(listaArquivosETP){
     
         listaArquivosETP.forEach(function(fileUploaded) {
       
           let data = fileUploaded.data.split('T')[0];
           data = data.split('-');
       
           var novaLinha = "<tr id='tr_"+ fileUploaded.nome +"'>";
             novaLinha += "<td> <a href='/engine-rest/task/"+camForm.taskId+"/variables/"+ fileUploaded.camundaVariable +"/data' download='" + fileUploaded.nome + "' class='btn btn-info btn-xs' role='button'>";
             novaLinha += fileUploaded.nome+"</a></td>";
             novaLinha += "<td>"+fileUploaded.tipo+"</td>";
             novaLinha += "<td>"+ data[2] + '/' + data[1] + '/' + data[0] +"</td>";
             novaLinha += "<td style=\"text-align:right\">";
             novaLinha += '<input disabled id="' + fileUploaded.nome + '" type="button" value="&#x1F5D1;"  style="font-size:16px; " onclick="" />';
             novaLinha += '</td></tr>';
       
           $('#tabelaAnexo').append(novaLinha);
   
         });
         
       }
   
     };
   
   
     camForm.on('store', function(evt) {
   
       evt.retrieveVariables();
       var vManager = evt.variableManager;
       
       try {
   
       } catch (err) {
         console.error(err);
         evt.submitPrevented = true;
       }
     });
   
     camForm.on('variables-stored', function() {
     });
   
   }]); /// funcao inject
 </script>

 <script>
  // show the user how many characteres are in the input area
  var verificationNota = function(idNota, idLengthNota) {
    // get the value into textarea 
    // has to change the ID when have to use in another textarea element  
    let inputedByUser              = document.getElementById(idNota).value;
    let showUserInputLenghtElement = document.getElementById(idLengthNota);
    // generate the p tag that show to user how many characteres are in the input area
    showUserInputLenghtElement.innerHTML = "(" + inputedByUser.length +"/2000)";
    
    if(inputedByUser.length >= 1950 || inputedByUser.length <= 1)
      document.getElementById(idLengthNota).style = "color: #d57d6d; display: inline;"
    else if(inputedByUser.length < 1950)
      document.getElementById(idLengthNota).style = "color: #a2d19e; display: inline;"
  }
</script>
 
</form>
