
<form enctype="multipart/form-data" id="PreencherOEstudoTecnicoPreliminarETPTask" class="form-horizontal" role="form">

  <script cam-script type="text/form-script">
           var variableManager = camForm.variableManager;
           $scope.taskId_ = camForm.taskId;

  </script>

  <div class="form-group">
     <h4>Preencher
      o Estudo Técnico Preliminar (ETP)</h4>
 </div>

 <div class="form-group" id="divtipoAnexos">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
        <label class="col-md-12 control-label">Selecione o tipo de documento a ser anexado: </label>
    </div>
    <div class="col">
      <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
        <ui-select class="col-md-12 col-xs-12 col-sm-12" ng-model="selectedTipoAnexo.value" theme="select2"> 
          <ui-select-match placeholder="Selecione ou pesquise o tipo na lista...">
            {{$select.selected.name}}
          </ui-select-match> 
          <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
            <div ng-bind-html="item.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
</div>

<div class="form-group" >
  <div class="col-md-12">	
    <h3>Anexos</h3>
    <table id='tabelaAnexo' class="table table-striped">	
      <tr>
        <td scope="col" align="left">
          Arquivo
        </td>
        <td scope="col" align="left">
          Tipo
        </td>
        <td scope="col" align="left">
          Data
        </td>
        <td scope="col" align="left">
         
       </td>
      </tr>
    </table>
  </div>
</div>

 <script cam-script type="text/form-script">
   $scope.userName = '';
   var variableManager = camForm.variableManager;

   inject(['$rootScope', function($rootScope) {

       $scope.onSelect = function(item,model){
         console.log("selectedItem",item);
       }
       //alert("end 2: " + $scope.retorno);

       $scope.userName = $rootScope.authentication.name;

       $scope.itemArray = [
           {id: 'mapa-risco', name: 'Mapa de risco'},
           {id: 'estimativa-preco', name: 'Estimativa de preço'},
           {id: 'outros', name: 'Outros'}
       ];
       $scope.selectedTipoAnexo = { value: $scope.itemArray[0] };

   }]);

   inject(['$http', 'Uri', function($http, Uri) {

       var contextRetorno = $scope.contextRetorno;

       $http.get(Uri.appUri('engine://engine/:engine/identity/groups?userId=' + $scope.userName)).then(function(response) {
               $scope.retorno = response.data;
           
               console.log($scope.retorno);

//                });

       });

   }]);



   camForm.on('submit', function(evt) {

       var pctiETPTipoAnexo       = $scope.selectedTipoAnexo.value.id;

       variableManager.createVariable({
           name: 'pcti_etp_tipoAnexo',
           type: 'String',
           value: pctiETPTipoAnexo,
           isDirty: true
       });

   });

   
   ////codigo do formulario web codigo para adpatar
   inject(['$http', 'Uri', function($http, Uri) 
   {
   
       var contextRetorno = $scope.contextRetorno;
   
       $http.get(Uri.appUri('engine://engine/:engine/identity/groups?userId=' + $scope.userName)).then(function(response) {
         $scope.retorno = response.data;
         console.log($scope.retorno);
       });
   
       camForm.on('form-loaded', function() {
         try {
           console.log ("iniciado form-loaded");
         
           variableManager.fetchVariable('listaArquivosETP');
         } catch (err) {
           console.log(err);
         }
       });
   
   
   
       camForm.on('variables-restored', function() {
         // handle variables restored
         $scope.loadFields();
       });
   
       $scope.loadFields = function() {
   
       var listaArquivosETP = variableManager.variable('listaArquivosETP').value;
       if(listaArquivosETP){
     
         listaArquivosETP.forEach(function(fileUploaded) {
       
           let data = fileUploaded.data.split('T')[0];
           data = data.split('-');
       
           var novaLinha = "<tr id='tr_"+ fileUploaded.nome +"'>";
             novaLinha += "<td> <a href='/engine-rest/task/"+camForm.taskId+"/variables/"+ fileUploaded.camundaVariable +"/data' download='" + fileUploaded.nome + "' class='btn btn-info btn-xs' role='button'>";
             novaLinha += fileUploaded.nome+"</a></td>";
             novaLinha += "<td>"+fileUploaded.tipo+"</td>";
             novaLinha += "<td>"+ data[2] + '/' + data[1] + '/' + data[0] +"</td>";
             novaLinha += "<td style=\"text-align:right\">";
             novaLinha += '<input disabled id="' + fileUploaded.nome + '" type="button" value="&#x1F5D1;"  style="font-size:16px; " onclick="" />';
             novaLinha += '</td></tr>';
       
           $('#tabelaAnexo').append(novaLinha);
   
         });
         
       }
   
     };
   
   
     camForm.on('store', function(evt) {
   
       evt.retrieveVariables();
       var vManager = evt.variableManager;
       
       try {
   
       } catch (err) {
         console.error(err);
         evt.submitPrevented = true;
       }
     });
   
     camForm.on('variables-stored', function() {
     });
   
   }]); /// funcao inject
 </script>

 <script>
   // events handler
 </script>
 
</form>
