<form enctype="multipart/form-data" id="PreencherOEstudoTecnicoPreliminarETPTask" class="form-horizontal" role="form">

  <script cam-script type="text/form-script">
           var variableManager = camForm.variableManager;
           $scope.taskId_ = camForm.taskId;
  </script>

<div class="form-group" style="padding: 10px;">
     <h4>Preencher o Estudo Técnico Preliminar (ETP)</h4>
     <div>
       <p>
        Favor incluir a versão preliminar do ETP em formato editável (doc, odp) e demais anexos. O ETP será complementado pelas demais áreas evolvidas e ao final volta para o demandante realizar a consolidação do documento.
       </p>
     </div>
 </div>

 <div class="form-group" id="mostrarNaoConformidade">
  <div class="panel panel-default">
      <div class="panel-heading">ETP não conforme</div>
      <div class="panel-body">
      <div class="col-sm-12" style="padding-top: 25px;">
        <textarea  cam-variable-name="pcti_etp_notaConformidade"
            cam-variable-type="String"
            id="pcti_etp_notaConformidade"
            class="form-control"
            rows="5" cols="25"
            maxlength="2000"
            readonly="readonly"></textarea>  
      </div>
      <!-- <div class="row">
        <div class="col-sm-6" style="padding-top: 25px;">
          <label class="control-label" >Download:
          </label>
          <div></div>
          <a href="/engine-rest/task/{{camForm.taskId}}/variables/pcti_file_etp_conformidadeETP/data" class="btn btn-default" role="button">
            Download
          </a>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class="form-group"> 

  <div class="col-md-3" >
    <label class="control-label " for="brbTipoAnexoNE">Tipo de Documento</label>				
    <select cam-variable-name="brbTipoAnexoNE" id="brbTipoAnexoNE"  cam-variable-type="String"  class="form-control">
      <option value='nota-executiva'>Nota Executiva</option>
      <option value='apresentacao'>Apresenta&ccedil;&atilde;o</option>
      <option value='estudo-tecnico-preliminar'>Estudo Técnico Preliminar</option>
      <option value='outros-documentos'>Outros</option>

    </select>
  </div>
    
  <div class="col-md-6" >	
    <label class="control-label" for="fileData">Arquivo</label>				
    <input type="file" name="fileData" id="fileData" class="form-control"/>						
  </div>
    
  <div class="col-md-3" >
    <input ng-click="uploadFile()" type="button" value="Upload" class="btn btn-success upload-btn" style="margin-top: 30px"/>					
  </div>
</div>	

<div class="form-group" >
  <div class="col-md-12">	
    <h3>Anexos</h3>
    <table id='tabelaAnexo' class="table table-striped">	
      <tr>
        <td scope="col" align="left">
          Arquivo
        </td>
        <td scope="col" align="left">
          Tipo
        </td>
        <td scope="col" align="left">
          Data
        </td>
        <td scope="col" align="left">
         
       </td>
      </tr>
    </table>
  </div>
</div>
<!-- 
 <div class="form-group">
    <div class="col-sm-12" style="padding-top: 25px;">
      <label class="control-label">Upload:
      </label>
      <input type="file"
        cam-variable-name="pcti_file_etp_preencher"
        id="pcti_file_etp_preencher"
        cam-variable-type="File"
        cam-max-filesize="10000000" /> 
    </div>
  </div> -->

<!-- <div class="form-group">
  <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0" id="pcti_etp_tipoAnexos">
    <ui-select class="col-md-12 col-xs-12 col-sm-12" ng-model="selectTipoAnexos.value" theme="select2"> 
      <ui-select-match placeholder="Selecione ou pesquise o tipo na lista...">
        {{$select.selected.name}}
      </ui-select-match> 
      <ui-select-choices repeat="item in (tipoAnexos | filter: $select.search) track by item.id">
        <div ng-bind-html="item.name | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
  </div>
</div> -->

<div class="form-group">
  <div class="col-sm-12" style="padding-top: 25px;">

    <label class="control-label" for="pcti_etp_notaPreencher">Nota:
      <p id="show-lenght-nota" style="color:#d57d6d; display: inline;">
        (0/2000)
      </p>
    </label>
    <textarea  cam-variable-name="pcti_etp_notaPreencher"
            cam-variable-type="String"
            id="pcti_etp_notaPreencher"
            class="form-control"
            rows="5" cols="25"
            maxlength="2000"
            oninput="verificationNota()"
            required></textarea>  
  </div>
</div>
<script>
  var removeElement = function(id) {
    var elementToRemove = document.getElementById(id);
    elementToRemove.parentNode.removeChild(elementToRemove);
  }
  var removeFileFromList;
  var removeFile = function(element) {
    removeFileFromList(element.id);
    removeElement('tr_'+element.id);
  }
</script>


 <script cam-script type="text/form-script">
  $scope.userName = '';
  var variableManager = camForm.variableManager;
  $scope.conforme = true;
  var __listFile      = $scope.listFile;
  $scope.listFile     = [];

  inject(['$rootScope', function($rootScope) {

      $scope.onSelect = function(item,model){
        console.log("selectedItem",item);
      }


      // $scope.userName = $rootScope.authentication.name;
      $scope.tipoAnexos = [
        {id: 'mapa-risco', name: 'Mapa de Risco'},
        {id: 'estimativa-preco', name: 'Estimativa de Preço'},
        {id: 'outros', name: 'Outros'},
        {id: 'estudo-tecnico-preliminar', name: 'Estudo Técnico Preliminar'}
      ];
      $scope.selectTipoAnexos = { value: $scope.tipoAnexos[0] };

    }]);

    camForm.on('form-loaded', function() {
      console.log ("iniciado form-loaded");
  
      // this callback is executed *before* the variables are loaded from the server.
      // if we declare a variable here, its value will be fetched as well
      
      try {
        variableManager.fetchVariable('pcti_etp_conforme');
      } 
      catch (err) {
        console.log(err);
      }
  
    });
  
    camForm.on('variables-fetched', function() {
        try {
          var conforme = processAndGetVariable('pcti_etp_conforme');
          
          if ( !(conforme === null) && !(conforme === undefined) ) {             

          } else {
            document.getElementById('mostrarNaoConformidade').style = "display: none;";
          }

        } catch (e) {
            console.log("---------------------------------------------------------------------");
            console.log("Erro na criacao do link para realizar o donwload");
            console.log(e);
            console.log("---------------------------------------------------------------------");
        }
    });


  function createVariableCamunda(nameVariable, typeVariable, valueVariable) {
      if (variableManager.variable(nameVariable) != undefined) {
        variableManager.variableValue(nameVariable, valueVariable);
      } else {
        variableManager.createVariable({
            name: nameVariable,
            type: typeVariable,
            value: valueVariable,
            isDirty: true
        });
      }
  }
  function processAndGetVariable(value) {
    var valueReturn = variableManager.variableValue(value);

    console.log(value);
    console.log(valueReturn);

    if (valueReturn === undefined || valueReturn === null) {
      variableManager.destroyVariable(value);
    }
    return valueReturn;
  }



  ////codigo do formulario web codigo para adpatar
inject(['$http', 'Uri', function($http, Uri) 
{

    var contextRetorno = $scope.contextRetorno;

    $http.get(Uri.appUri('engine://engine/:engine/identity/groups?userId=' + $scope.userName)).then(function(response) {
      $scope.retorno = response.data;
      console.log($scope.retorno);
    });

    camForm.on('form-loaded', function() {
      try {
        console.log ("iniciado form-loaded");
        variableManager.fetchVariable('listaArquivosETP');
      } catch (err) {
        console.log(err);
      }
    });


 
 

    camForm.on('variables-restored', function() {
      // handle variables restored
      $scope.loadFields();
    });

    $scope.loadFields = function() {

    var listaArquivosETP = variableManager.variable('listaArquivosETP').value;
    if(listaArquivosETP){
  
      listaArquivosETP.forEach(function(fileUploaded) {
    
        let data = fileUploaded.data.split('T')[0];
        data = data.split('-');
    
        var novaLinha = "<tr id='tr_"+ fileUploaded.nome +"'>";
          novaLinha += "<td> <a href='/engine-rest/task/"+camForm.taskId+"/variables/"+ fileUploaded.camundaVariable +"/data' download='" + fileUploaded.nome + "' class='btn btn-default' role='button'>";
          novaLinha += fileUploaded.nome+"</a></td>";
          novaLinha += "<td>"+fileUploaded.tipo+"</td>";
          novaLinha += "<td>"+ data[2] + '/' + data[1] + '/' + data[0] +"</td>";
          novaLinha += "<td style=\"text-align:right\">";
          novaLinha += '<input id="' + fileUploaded.nome + '" type="button" value="&#x1F5D1;"  style="font-size:16px; " onclick="removeFile(this)" />';
          novaLinha += '</td></tr>';
    
        $('#tabelaAnexo').append(novaLinha);

      });
      
    }

  };


  camForm.on('store', function(evt) {

    evt.retrieveVariables();
    var vManager = evt.variableManager;
    
    try {

    } catch (err) {
      console.error(err);
      evt.submitPrevented = true;
    }
  });

  camForm.on('variables-stored', function() {
  });

}]); /// funcao inject

function createVariableFileCamunda(nameVariable, typeVariable, valueVariable) {
  if (variableManager.variable(nameVariable) != undefined) {
    variableManager.destroyVariable(nameVariable);
  } 
  variableManager.createVariable({
      name:     nameVariable,
      type:     typeVariable,
      value:    valueVariable.file,
      isDirty:  true,
      valueInfo: {
          filename: valueVariable.nome,
          mimetype: valueVariable.mimeType
      }
  });
}


$scope.uploadFile = function() {
  //VERIFICA SE EXISTE ARQUIVO SELECIONADO NO FORMULARIO

  var file = $('#fileData')[0].files[0];
  if($('#fileData')[0].files[0] == undefined){
    alert('Por favor informe o anexo');
    return;
  }

  let fileUploaded =  {
    tipo: $('#brbTipoAnexoNE').val(),
    nome: file.name,
    mimeType: file.type,
    data: new Date().toJSON()
  };
// [ {id: 1, name: "Preencher o Estudo Técnico Preliminar (ETP)"} ]



  $scope.retrieveFiledata(file, fileUploaded);

  let filePesquisa = scope.listFile.find(f => f.nome == fileUploaded.nome);
  if (filePesquisa){
    alert("Arquivo já existe.");
    return;
  }
  
  $scope.listFile.push(fileUploaded);
    let data = new Date(fileUploaded.data).toLocaleDateString('pt-br');
    var novaLinha = "<tr id='tr_"+ fileUploaded.nome +"'>";
      novaLinha += "<td>"+fileUploaded.nome+"</td>";
      novaLinha += "<td>"+fileUploaded.tipo+"</td>";
      novaLinha += "<td>"+ data +"</td>";
      novaLinha += "<td style=\"text-align:right\">";
      novaLinha += '<input id="' + fileUploaded.nome + '" type="button" value="&#x1F5D1;"  style="font-size:16px; " onclick="removeFile(this)" />';
      novaLinha += '</td></tr>';

    $('#tabelaAnexo').append(novaLinha);
    document.getElementById("fileData").value = '';	
  };


$scope.retrieveFiledata = function (file, fileData2) {
  let reader = new FileReader();
  reader.onload = function (event) {
    fileData2.blob = reader.result;
    let binary = '';
    let bytes = new Uint8Array(reader.result);
    for (let i = 0; i < bytes.length; i++) {
      binary += String.fromCharCode(bytes[i]);
    }
    fileData2.file = btoa(binary);
  };
  reader.readAsArrayBuffer(file);
};

removeFileFromList = function(nome) {
  let indexFileToRemove = $scope.listFile.findIndex( f => f.nome == nome);
  delete $scope.listFile[indexFileToRemove];
  $scope.listFile = $scope.listFile.filter(function(el) { return el; });
}


  

camForm.on('submit', function(evt) {

    if($scope.listFile.length <= 0)
    {
      alert("Faça o upload do documento" )
      evt.submitPrevented = true;
    }

     
  

       ////codigo do formualario antigo sem mudança
       try {
        let _dbListFile = [];
        
        console.log($scope.listFile);
  
        $scope.listFile.forEach(function(arquivo){
  
          let nome = arquivo.nome;
          nome = nome.normalize('NFD').replace(/([\u0300-\u036f]|[^0-9a-zA-Z])/g, '');
          nome = 'pcti_etp_' + arquivo.tipo + '_' + nome + arquivo.data;
          
          
          let arq = {
            tipo: arquivo.tipo,
            nome: arquivo.nome,
            data: arquivo.data,
            camundaVariable: nome,
            task: [ {id: 1, name: "Elaborar o Termo de Referência (TR) "} ]
          };
          _dbListFile.push(arq);
          
          console.log(arquivo);
  
          createVariableFileCamunda(nome, 'Bytes', arquivo);
        });
  
        createVariableCamunda('listaArquivosETP', 'Json', _dbListFile);
      } catch (err) {
        console.error(err);
        evt.submitPrevented = true;
      }
   });

   function getValueOfInputRadio(nameElement) { 
       var listElementRadio = document.getElementsByName(nameElement); 
       var returnValue = '';
       for(var i = 0; i < listElementRadio.length; i++) { 
           if (listElementRadio[i].checked) {
               returnValue = listElementRadio[i].value;
           }
       }
       return returnValue;
   };

   function processAndGetVariable(value) {
      var valueReturn = variableManager.variableValue(value);

      console.log(value);
      console.log(valueReturn);

      if (valueReturn === undefined || valueReturn === null) {
        variableManager.destroyVariable(value);
      }
      return valueReturn;
    };

    
    function createVariableCamunda(nameVariable, typeVariable, valueVariable) {
      if (variableManager.variable(nameVariable) != undefined) {
        variableManager.destroyVariable(nameVariable);
      } 
      variableManager.createVariable({
          name: nameVariable,
          type: typeVariable,
          value: valueVariable,
          isDirty: true
      });
    };


</script>

<script>
  // show the user how many characteres are in the input area
  var verificationNota = function(e) {
    // get the value into textarea 
    // has to change the ID when have to use in another textarea element  
    let inputedByUser = document.getElementById("pcti_etp_notaPreencher").value;
    let showUserInputLenghtElement = document.getElementById("show-lenght-nota");
    // generate the p tag that show to user how many characteres are in the input area
    showUserInputLenghtElement.innerHTML = "(" + inputedByUser.length +"/2000)";
    if(inputedByUser.length >= 1950 || inputedByUser.length <= 1)
      document.getElementById("show-lenght-nota").style = "color: #d57d6d; display: inline;"
    else if(inputedByUser.length < 1950)
      document.getElementById("show-lenght-nota").style = "color: #a2d19e; display: inline;"
  }
</script>

</form>