<style>
  .document-editor {
      border: 1px solid var(--ck-color-base-border);
      border-radius: var(--ck-border-radius);

      /* Set vertical boundaries for the document editor. */
      height: 300px;
      
      overflow-x: auto;
      overflow-y: auto;
      
      /* This element is a flex container for easier rendering. */
      display: flex;
      flex-flow: column nowrap;
  }
</style>

<form enctype="multipart/form-data" id="uploadForm" class="form-horizontal" role="form">

  <script cam-script type="text/form-script">
    var variableManager             = camForm.variableManager;
    var editorIdentificacaoDemanda  = $scope.editorIdentificacaoDemanda;
    var editorIndicacaoOrcamentaria = $scope.editorIndicacaoOrcamentaria;
    var editorPDTI                  = $scope.editorPDTI;
    var editorFundamentacao         = $scope.editorFundamentacao;
    var editorResultados            = $scope.editorResultados;
    // var editorServicosContinuos  = $scope.editorServicosContinuos;
    var editorMetas                 = $scope.editorMetas;
    var editorEncaminhamento        = $scope.editorEncaminhamento;

    $scope.taskId_ = camForm.taskId;
    var editorProrrogacao           = $scope.editorProrrogacao;
  </script>

  <div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Nome do Projeto/Solução</div>
        <div class="panel-body">
          <input type="text" readonly class="form-control" id="pcti_nomeProjetoSolucao" placeholder="nome do projeto/solução"
                cam-variable-name="pcti_nomeProjetoSolucao" cam-variable-type="String">
        </div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Área Requisitante</div>
      <div class="panel-body">
        <div class="col">
          <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
            <label class="col-md-12">Tipo:</label>
            <input type="text" readonly="readonly" cam-variable-type="String" cam-variable-name="pcti_areaDemandante" class="form-control" id="tipoAreaRequisitante" placeholder="tipo da área requisitante">
          </div>
        </div>
        <div class="col">
          <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
            <label class="col-md-12">Nome:</label>
            <input type="text" readonly="readonly" class="form-control" id="pcti_dod_nomeAreaRequisitante"
              placeholder="nome da área requisitante" cam-variable-name="pcti_dod_nomeAreaRequisitante" cam-variable-type="String">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Responsável pela demanda</div>
      <div class="panel-body">
        <div class="col">
          <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
            <label class="col-md-12">Matrícula:</label>
            <input type="text" readonly="readonly" class="form-control" id="pcti_dod_nroMatricula"
            placeholder="matrícula do responsável" cam-variable-name="pcti_dod_nroMatricula" cam-variable-type="String">
          </div>
          <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
            <label class="col-md-12">Nome:</label>
            <input type="text" readonly="readonly" class="form-control" id="pcti_dod_nomeResponsavelDemanda"
              placeholder="nome do responsável" cam-variable-name="pcti_dod_nomeResponsavelDemanda" cam-variable-type="String">
          </div>
        </div>
        <div class="col">
          <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
            <label class="col-md-12">Telefone:</label>
            <input type="text" readonly="readonly" class="form-control" id="pcti_dod_nroTelefone"
            placeholder="número do responsável" cam-variable-name="pcti_dod_nroTelefone" cam-variable-type="String">
          </div>
          <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
            <label class="col-md-12">Email:</label>
            <input type="email" readonly="readonly" class="form-control" id="pcti_dod_emailResponsavel"
              placeholder="email do responsável" cam-variable-name="pcti_dod_emailResponsavel" cam-variable-type="String">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Identificação da Demanda</div>
          <div  id="toolbar-container-identificacao-demanda"></div>
          <div id="editor-identificacao-demanda" class="document-editor" style="border-color: grey;"></div>
      </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Indicação Orçamentária</div>

      <div class="panel-body">
        <div  id="toolbar-container-indicacao-orcamentaria"></div>
        <div id="editor-indicacao-orcamentaria" class="document-editor" style="border-color: grey;"></div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="row">
            <div class="col-md-12" style="padding-top: 60px;">
              <label class="col-md-12">Faixas contábeis adicionadas</label>
              <table id='tabelaFaixa' class="table table-striped">
                <tr>
                  <td scope="col" style="text-align:left;" >
                    Tipo faixa
                  </td>
                  <td scope="col" style="text-align:left;" >
                    Faixa
                  </td>
                  <td scope="col" style="text-align:right;" >
                    Valor estimado
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Alinhamento estratégico ao PDTI</div>
      <div id="toolbar-container-pdti"></div>
      <div id="editor-pdti" class="document-editor" style="border-color: grey;"></div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Contratação</div>
        <div class="panel-body">
          <div class="row" style="margin-bottom: 6px; right: 0;">
            <div class="col-md-3 col-sm-12 col-xs-12  col-md-offset-0">
              <label class="control-label">Criticidade da contratação: </label>
            </div>
            <div class="col-md-9 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
              <input type="text" readonly="readonly" class="form-control" id="criticidadeContratacao" placeholder="criticidade da contratação">
            </div>
          </div>

       
          <div class="row" id="prorrogacao_div_block">
            <div class="col-md-12 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
              <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
                  <label class="control-label">Prorrogação e serviços? </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
                  <input type="radio" id="prorrogacao_true" name="prorrogacaoServico" value="true" >
                  <label for="sim">Sim</label>
                  <input type="radio" id="prorrogacao_false" name="prorrogacaoServico" value="false" >
                  <label for="nao">Não</label>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <label style="margin-top: 20px;">Instrução da prorrogação</label>
              <div id="toolbar-container-prorrogacao"></div>
              <div id="editor-prorrogacao" class="document-editor" style="border-color: grey;"></div>
            </div> 
          </div>


          <div class="row" style="margin-bottom: 6px;">
            <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
              <label class="col-md-12 control-label">Vinculado a uma meta? </label>
            </div>
            <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
              <input type="text" readonly="readonly" class="form-control" id="vinculadoMeta" placeholder="vinculado a meta?">
            </div>
          </div>
          <div class="row" style="margin-bottom: 6px;">
            <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
              <label class="col-md-12 control-label">Vinculado a um plano de ação? </label>
            </div>
            <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
              <input type="text" readonly="readonly" class="form-control" id="vinculadoPlanoAcao" placeholder="vinculado a um plano de ação?">
            </div>
          </div>
          <div class="row">
            <div class="panel-body">
              <label >Metas/Planos de ação</label>
              <div id="toolbar-container-metas"></div>
              <div id="editor-metas" class="document-editor" style="border-color: grey;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-heading">Fundamentação da contratação</div>
        <div id="toolbar-container-fundamentacao"></div>
        <div id="editor-fundamentacao" class="document-editor" style="border-color: grey;"></div>
      </div>
    </div>
  
    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-heading">Resultados a serem alcançados</div>
        <div id="toolbar-container-resultados-alcancados"></div>
        <div id="editor-resultados" class="document-editor" style="border-color: grey;"></div>
      </div>
    </div>

  <div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Integrante Requisitante (IR)</div>
        <div class="panel-body">
            <div class="col">
              <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Nome:</label>
                <input readonly="readonly" type="text" class="form-control" id="pcti_dod_nomeIntegranteRequisitante" placeholder="nome do integrante requisitante"
                    cam-variable-name="pcti_dod_nomeIntegranteRequisitante" cam-variable-type="String">
              </div>
              <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Matrícula:</label>
                <input readonly="readonly" type="text" class="form-control" id="pcti_dod_matriculaIntegranteRequisitante" placeholder="matrícula do integrante requisitante"
                cam-variable-name="pcti_dod_matriculaIntegranteRequisitante" cam-variable-type="String">
              </div>
            </div>
            <div class="col">
              <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Email:</label>
                <input readonly="readonly" type="email" class="form-control" id="pcti_dod_emailIntegranteRequisitante" placeholder="email do integrante requisitante"
                    cam-variable-name="pcti_dod_emailIntegranteRequisitante" cam-variable-type="String">
              </div>
              <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Telefone:</label>
                <input readonly="readonly" type="text" class="form-control" id="pcti_dod_telefoneIntegranteRequisitante" placeholder="telefone do integrante requisitante"
                    cam-variable-name="pcti_dod_telefoneIntegranteRequisitante" cam-variable-type="String">
              </div>
            </div>
        </div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Integrante Administrativo (IA)</div>
        <div class="panel-body">
            <div class="col">
              <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Matrícula:</label>
                <input readonly="readonly" type="text" class="form-control" id="pcti_dod_matriculaIntegranteAdministrativo" placeholder="matrícula do integrante administrativo"
                cam-variable-name="pcti_dod_matriculaIntegranteAdministrativo" cam-variable-type="String">
              </div>
              <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Nome:</label>
                <input readonly="readonly" type="text" class="form-control" id="pcti_dod_nomeIntegranteAdministrativo" placeholder="nome do integrante administrativo"
                    cam-variable-name="pcti_dod_nomeIntegranteAdministrativo" cam-variable-type="String">
              </div>
            </div>
            <div class="col">
              <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Telefone:</label>
                <input readonly="readonly" type="text" class="form-control" id="pcti_dod_telefoneIntegranteAdministrativo" placeholder="telefone do integrante administrativo"
                cam-variable-name="pcti_dod_telefoneIntegranteAdministrativo" cam-variable-type="String">
              </div>
              <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Email:</label>
                <input  readonly="readonly" type="email" class="form-control" id="pcti_dod_emailIntegranteAdministrativo" placeholder="email do integrante administrativo"
                    cam-variable-name="pcti_dod_emailIntegranteAdministrativo" cam-variable-type="String">
              </div>
            </div>
        </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Encaminhamento</div>
      <div id="toolbar-container-encaminhamento"></div>
      <div id="editor-encaminhamento" class="document-editor" style="border-color: grey;"></div>
    </div>
  </div>

  <div class="form-group">
    <div class="row" style="margin-left: 5px;">
      <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
          <label class="control-label">Decisão do consultor </label>
      </div>
    </div>
    <div class="row" style="margin-left: 5px;">
      <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
      <select id="pcti_dod_decisaoConsultor" name="decisaoConsultor" cam-variable-name="pcti_dod_decisaoConsultor" cam-variable-type="String" required >
        <option value="liberado">DOD Liberado</option>
        <option value="nao-liberado">DOD Não Liberado</option>
        <option value="encaminhar-nupec">Encaminhar NUPEC</option>
      </select>
      </div> 
    </div>
  </div>

  <div class="form-group" style="display: none;" id="motivoNaoLiberacaoDiv">
    <div class="col-sm-12" style="padding-top: 25px;">
      <label class="control-label" for="pcti_dod_descricaoNaoLiberacao">Motivo não liberação:
        <p id="show-lenght-descricao-nao-liberacao" style="color:#d57d6d; display: inline;">
          (0/2000)
        </p>
      </label>
      <textarea  cam-variable-name="pcti_dod_descricaoNaoLiberacao"
              name="descricaoNaoLiberacao"
              cam-variable-type="String"
              id="pcti_dod_descricaoNaoLiberacao"
              class="form-control"
              rows="5" cols="25"
              maxlength="2000"
              oninput="verificationMotivoNaoLiberacao()" ></textarea>  
    </div>
  </div>
  
  <div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">INDICAÇÃO DE INTEGRANTE TÉCNICO PELO DIRETOR DITEC</div>
        <div class="panel-body">
          <div class="col">
            <div class="col-md-6 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
              <label class="col-md-12">Matrícula:</label>
              <input required="required" type="text" class="form-control" id="pcti_dod_matriculaIntegranteTecnico" placeholder="matrícula do integrante técnico"
              pattern="(([0-9]{5})|([0-9]{4})|([0-9]{3}))(-)\d{1}"
              oninput="handleMatricula(this, this.value)"
              cam-variable-name="pcti_dod_matriculaIntegranteTecnico" cam-variable-type="String">
            </div>
            <div class="col-md-6 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
              <label class="col-md-12">Nome:</label>
              <input required="required" type="text" class="form-control" id="pcti_dod_nomeIntegranteTecnico" placeholder="nome do integrante técnico"
                  cam-variable-name="pcti_dod_nomeIntegranteTecnico" cam-variable-type="String">
            </div>
          </div>
          <div class="col">
            <div class="col-md-6 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
              <label class="col-md-12">Telefone:</label>
              <input required="required" type="text" class="form-control" id="pcti_dod_telefoneIntegranteTecnico" placeholder="telefone do integrante técnico"
              onkeypress="mask(this, mphone);" onblur="mask(this, mphone);"
              cam-variable-name="pcti_dod_telefoneIntegranteTecnico" cam-variable-type="String">
            </div>
            <div class="col-md-6 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
              <label class="col-md-12">Email:</label>
              <input required="required" type="email" class="form-control" id="pcti_dod_emailIntegranteTecnico" placeholder="email do integrante técnico"
                  cam-variable-name="pcti_dod_emailIntegranteTecnico" cam-variable-type="String">
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="form-group" id="nota-direcao-diretor">
    <div class="col-sm-12" style="padding-top: 25px;">
      <input type="hidden" ng-model="pcti_dod_decisaoDiretorSobreDOD" id="pcti_dod_decisaoDiretorSobreDOD" 
              cam-variable-name="pcti_dod_decisaoDiretorSobreDOD" 
              cam-variable-type="String" >
      <label class="control-label" for="pcti_dod_parecerAvaliacaoDiretorDITEC"  ng-show="pcti_dod_decisaoDiretorSobreDOD == 'dod-reprovado' ">
          Nota de reprovação sobre avaliação da DITEC:
      </label>
      <textarea  ng-show="pcti_dod_decisaoDiretorSobreDOD == 'dod-reprovado' "
              cam-variable-name="pcti_dod_parecerAvaliacaoDiretorDITEC"
              cam-variable-type="String"
              id="pcti_dod_parecerAvaliacaoDiretorDITEC"
              class="form-control"
              rows="5" cols="25"
              maxlength="2000"
              readonly></textarea>  
    </div>
  </div>

  <script cam-script type="text/form-script">
    $scope.userName='';
    var variableManager = camForm.variableManager;
    $scope.listaTipoFaixaContabil = [
      {id: 'despesa', name: 'Despesa'},
      {id: 'investimento', name: 'Investimento'}
    ];

    $scope.itensDecisaoConsultor = [
      {id: 'liberado', name: 'DOD Liberado'},
      {id: 'nao-liberado', name: 'DOD Não Liberado'},
      {id: 'encaminhar-nupec', name: 'Encaminhar NUPEC'}
    ];
    $scope.selectedDecisaoConsultor = { value: $scope.itensDecisaoConsultor[0] };

    $scope.itemArray = [
        {id: 'diretoria', name: 'Diretoria'},
        {id: 'superintendencia', name: 'Superintendência'},
        {id: 'gerencia', name: 'Gerência'},
        {id: 'nucleo', name: 'Núcleo'}
    ];
    $scope.selectedAreaRequisitante = { value: $scope.itemArray[0] };

    $scope.itemCriticidadeContratacao = [
        {id: 'criticidade-5', name: '5 - Impacto de não operação do BRB'},
        {id: 'criticidade-4', name: '4 - Degradação drástica da operação e/ou Impacto legal ou financeiro severo (R$ 600.000,00)'},
        {id: 'criticidade-3', name: '3 - Degradação significativa da operação e/ou impacto legal ou financeiro'},
        {id: 'criticidade-2', name: '2 - Não impacta continuidade dos serviços porém degrada a qualidade da prestação'},
        {id: 'criticidade-1', name: '1 - Não impacta continuidade dos serviços e não degrada a qualidade do serviço prestado '}
    ];
    
    $scope.selectedCriticidadeContratacao = { value: $scope.itemCriticidadeContratacao[0] };

    inject(['$rootScope', function($rootScope) {
      $scope.userName = $rootScope.authentication.name;

    }]);


    inject(['$http', 'Uri', function($http, Uri) {

      var contextRetorno = $scope.contextRetorno;
      camForm.on('form-loaded', function() {
        console.log ("iniciado form-loaded");
  
        // this callback is executed *before* the variables are loaded from the server.
        // if we declare a variable here, its value will be fetched as well
        
        try {
          variableManager.fetchVariable('pcti_dod_vinculadoPlanoAcao');
          variableManager.fetchVariable('pcti_dod_vinculadoMeta');
          variableManager.fetchVariable('pcti_dod_criticidadeContratacao');
          variableManager.fetchVariable('pcti_dod_tipoAreaRequisitante');
          variableManager.fetchVariable('pcti_dod_documentoOficializacaoDemandaConforme');
          variableManager.fetchVariable('pcti_dod_textoIdentificacaoDemanda');
          variableManager.fetchVariable('pcti_dod_alinhamentoEstrategicoPDTI');
          variableManager.fetchVariable('pcti_dod_fundamentacaoContratacao');
          variableManager.fetchVariable('pcti_dod_resultadosASeremAlcancados');
          variableManager.fetchVariable('pcti_dod_listaFaixaContabil');
          variableManager.fetchVariable('pcti_dod_textoIndicacaoOrcamentaria');
          // variableManager.fetchVariable('pcti_dod_textoServicosContinuos');
          variableManager.fetchVariable('pcti_dod_textoMetas');
          variableManager.fetchVariable('pcti_dod_textoEncaminhamento');
          variableManager.fetchVariable('dbAreas');

          variableManager.fetchVariable('pcti_dod_textoProrrogacao');
		      variableManager.fetchVariable('pcti_dod_radioProrrogacao');
  
        } 
        catch (err) {
            console.log(err);
        }
      });
  
      camForm.on('variables-fetched', function() {
  
        var jsonIdentificacaoDemanda       = processAndGetVariable('pcti_dod_textoIdentificacaoDemanda');
        var jsonAlinhamentoEstrategicoPDTI = processAndGetVariable('pcti_dod_alinhamentoEstrategicoPDTI');
        var jsonFundamentacao              = processAndGetVariable('pcti_dod_fundamentacaoContratacao');
        var jsonResultados                 = processAndGetVariable('pcti_dod_resultadosASeremAlcancados');
        var jsonListaFaixaContabil         = processAndGetVariable('pcti_dod_listaFaixaContabil');
        var jsonIndicacaoOrcamentaria      = processAndGetVariable('pcti_dod_textoIndicacaoOrcamentaria');
        var jsonMetas                      = processAndGetVariable('pcti_dod_textoMetas');
        var jsonEncaminhamento             = processAndGetVariable('pcti_dod_textoEncaminhamento');
        
        let jsonProrrogacao                = processAndGetVariableValidated('pcti_dod_textoProrrogacao',                       'Json');
        let valueRadioProrrogacao          = processAndGetVariableValidated('pcti_dod_radioProrrogacao',                       'Boolean');
  
      
        carregaEditorTexto($scope.editorIdentificacaoDemanda,  jsonIdentificacaoDemanda);
        carregaEditorTexto($scope.editorIndicacaoOrcamentaria, jsonIndicacaoOrcamentaria);
        carregaEditorTexto($scope.editorPDTI,                  jsonAlinhamentoEstrategicoPDTI);
        carregaEditorTexto($scope.editorFundamentacao,         jsonFundamentacao);
        carregaEditorTexto($scope.editorResultados,            jsonResultados);
        carregaEditorTexto($scope.editorMetas,                 jsonMetas);
        carregaEditorTexto($scope.editorEncaminhamento,        jsonEncaminhamento);

        carregaEditorTexto($scope.editorProrrogacao,           jsonProrrogacao);
        checkedRadioButton('prorrogacaoServico', valueRadioProrrogacao);
        $scope.editorProrrogacao.isReadOnly = true;
        document.getElementById('prorrogacao_true').disabled = true;
        document.getElementById('prorrogacao_false').disabled = true;

        $scope.editorIdentificacaoDemanda.isReadOnly = true;
        $scope.editorPDTI.isReadOnly = true;
        $scope.editorFundamentacao.isReadOnly = true;
        $scope.editorResultados.isReadOnly = true;
        $scope.editorIndicacaoOrcamentaria.isReadOnly = true;
        $scope.editorMetas.isReadOnly = true;
        $scope.editorEncaminhamento.isReadOnly = true;
        
  
        // this callback is executed *after* the variables have been fetched from the server
  
        try {
          var valueRadio = variableManager.variableValue('pcti_dod_documentoOficializacaoDemandaConforme');
          checkedRadioButton('documentoOficializacaoDemandaConforme', valueRadio);
        } 
        catch (err) {
            console.log(err);
        }
  
        try{
          var pctiDODAreaRequisitante = variableManager.variableValue('pcti_dod_tipoAreaRequisitante');
          setValueInInputText(pctiDODAreaRequisitante,  $scope.itemArray, 'tipoAreaRequisitante');
        } catch(err) {
          console.log(err);
        }
  
        try{
          var pctiDODCriticidadeContratacao = variableManager.variableValue('pcti_dod_criticidadeContratacao');;
          setValueInInputText(pctiDODCriticidadeContratacao, $scope.itemCriticidadeContratacao, 'criticidadeContratacao');
        } catch(err) {
          console.log(err);
        }
  
        try {
          var valueVinculadoMeta = variableManager.variableValue('pcti_dod_vinculadoMeta');
          document.getElementById('vinculadoMeta').value = (valueVinculadoMeta != null)? (valueVinculadoMeta == true)?"Sim": "Não": "";
        } catch(err) {
          console.log(err);
        }
  
        try {
          var valueVinculadoPlanoAcao = variableManager.variableValue('pcti_dod_vinculadoPlanoAcao');
          document.getElementById('vinculadoPlanoAcao').value = (valueVinculadoPlanoAcao != null)? (valueVinculadoPlanoAcao == true)?"Sim": "Não": "";
        }catch(err) {
          console.log(err);
        }
  
        if (jsonListaFaixaContabil) {
          let objListaFaixaContabil =  jsonListaFaixaContabil;
  
          objListaFaixaContabil.forEach( function(faixaContabil) {
            addFaixaContabilInTabel(faixaContabil);
          });
        }
        
      });
      
      $scope.loadFields = function() {

        let areaDemandante                 = processAndGetVariableValidated('pcti_areaDemandante',                            'String');
        let areaRequisitante               = processAndGetVariableValidated('pcti_dod_tipoAreaRequisitante',                  'String');
        let valueVinculadoPlanoAcao        = processAndGetVariableValidated('pcti_dod_vinculadoPlanoAcao',                    'Boolean');
        let valueVinculadoMeta             = processAndGetVariableValidated('pcti_dod_vinculadoMeta',                         'Boolean');
        let pctiDODCriticidadeContratacao  = processAndGetVariableValidated('pcti_dod_criticidadeContratacao',                'String');
        let jsonIdentificacaoDemanda       = processAndGetVariableValidated('pcti_dod_textoIdentificacaoDemanda',             'Json');
        let jsonAlinhamentoEstrategicoPDTI = processAndGetVariableValidated('pcti_dod_alinhamentoEstrategicoPDTI',            'Json');
        let jsonFundamentacao              = processAndGetVariableValidated('pcti_dod_fundamentacaoContratacao',              'Json');
        let jsonResultados                 = processAndGetVariableValidated('pcti_dod_resultadosASeremAlcancados',            'Json');
        let jsonListaFaixaContabil         = processAndGetVariableValidated('pcti_dod_listaFaixaContabil',                    'Json');
        let jsonIndicacaoOrcamentaria      = processAndGetVariableValidated('pcti_dod_textoIndicacaoOrcamentaria',            'Json');
        let jsonMetas                      = processAndGetVariableValidated('pcti_dod_textoMetas',                            'Json');
        let jsonEncaminhamento             = processAndGetVariableValidated('pcti_dod_textoEncaminhamento',                   'Json');
        let valueRadio                     = processAndGetVariableValidated('pcti_dod_documentoOficializacaoDemandaConforme', 'Boolean');
        let jsonProrrogacao                = processAndGetVariableValidated('pcti_dod_textoProrrogacao',                       'Json');
        let valueRadioProrrogacao          = processAndGetVariableValidated('pcti_dod_radioProrrogacao',                       'Boolean');
          
        
       
        checkedRadioButton('vinculadoPlanoAcao', valueVinculadoPlanoAcao);
        checkedRadioButton('vinculadoMeta',      valueVinculadoMeta);
        checkedRadioButton('dodConforme',        valueRadio);
        checkedRadioButton('prorrogacaoServico', valueRadioProrrogacao);
                
        $scope.selectedCriticidadeContratacao = setSelectedObject($scope.itemCriticidadeContratacao, pctiDODCriticidadeContratacao, $scope.selectedCriticidadeContratacao);
        
        carregaEditorTexto($scope.editorIdentificacaoDemanda,  jsonIdentificacaoDemanda);
        carregaEditorTexto($scope.editorIndicacaoOrcamentaria, jsonIndicacaoOrcamentaria);
        carregaEditorTexto($scope.editorPDTI,                  jsonAlinhamentoEstrategicoPDTI);
        carregaEditorTexto($scope.editorFundamentacao,         jsonFundamentacao);
        carregaEditorTexto($scope.editorResultados,            jsonResultados);
        carregaEditorTexto($scope.editorMetas,                 jsonMetas);
        carregaEditorTexto($scope.editorEncaminhamento,        jsonEncaminhamento);
        carregaEditorTexto($scope.editorProrrogacao,           jsonProrrogacao);
        try {

          for (var i=0; i < $scope.listaAreas.length; i++) {
            if (areaRequisitante == $scope.listaAreas[i].sg_dependencia) {
              $scope.selectedAreaRequisitante = { value: $scope.listaAreas[i] };
              break;
            }
          }

        } catch(err) {
          console.error('Erro na identificacao da area para apresentar a area selecionada');
          console.error(err);
        }


        // this callback is executed *after* the variables have been fetched from the server

        console.log(jsonListaFaixaContabil);
        if (jsonListaFaixaContabil) {
          let lista = jsonListaFaixaContabil;
          
          lista.forEach( function(faixaContabil) {
            let naoExiteFaixaContabil = true;
            for (var i=0; i < $scope.listaFaixaContabil.length; i++) {
              if ( $scope.listaFaixaContabil[i].tipo             == faixaContabil.tipo 
                  && $scope.listaFaixaContabil[i].faixa         == faixaContabil.faixa
                  && $scope.listaFaixaContabil[i].valorEstimado == faixaContabil.valorEstimado ) 
              {
                naoExiteFaixaContabil = false;
                break;
              }
            }
            if (naoExiteFaixaContabil) {
              $scope.listaFaixaContabil.push(faixaContabil);
              addFaixaContabilInTabel(faixaContabil);
            }
          });
        }

      }


      camForm.on('submit', function(evt) {

        var pctiDODDecisaoConsultor   = $scope.selectedDecisaoConsultor.value.id;
        var valueDecisaoConsultor     = document.getElementById('pcti_dod_decisaoConsultor').value;
        var valueDescricaoNaoLiberado = document.getElementById("pcti_dod_descricaoNaoLiberacao").value;

        if (valueDecisaoConsultor != 'liberado' && valueDescricaoNaoLiberado.trim().length < 1) {
          evt.submitPrevented = true;
          alert("Quando a decisão do consultor de não liberar o DOD, o campo do motivo da não liberação deve ser preenchido.");
        }

      });

    }]);






    function getValueOfInputRadio(nameElement) { 
      var listElementRadio = document.getElementsByName(nameElement); 
      var returnValue = '';
      for(var i = 0; i < listElementRadio.length; i++) { 
          if (listElementRadio[i].checked) {
              returnValue = listElementRadio[i].value;
          }
      }
      return returnValue;
    } 
    
    
    function parseStringToBoolean(value) {
      var valueReturn = null;
      valueReturn = (( value != '') ? (value.toLowerCase() == 'true' ? true : false): null);
      return valueReturn;
    }


    function setSelectedObject(listItens, value, selectedObject) {
      var objectReturn = selectedObject;
      if (value != null) {
        for(var i = 0; i < listItens.length ; i++){
          if (listItens[i].id == value){
            objectReturn = { value: listItens[i] };
          }
        }
      }
      return objectReturn;
    }

    function checkedRadioButton(nameElement, value) {
      try {
        var valueIsDefined = !( value === undefined ) || !( value == null);
        if ( valueIsDefined ) {
          var radioButtons = document.getElementsByName(nameElement);
          for (var i = 0; i < radioButtons.length; i++) {
            radioButtons[i].checked = false;

            if (radioButtons[i].value == value.toString()) {
              radioButtons[i].checked = true;
            }
          }
        }
      } 
      catch (err) {
        console.log(err);
      }
    }

    function setValueInInputText(valueId, listItens, idElement) {
      for(var i = 0; i < listItens.length; i++) {
        if (listItens[i].id == valueId) {
          document.getElementById(idElement).value = listItens[i].name;
        }
      }
    }

    function carregaEditorTexto(objEditor, objJson) {
      try {
        if (objJson) {
          objEditor.setData(objJson.texto);
        }
      } catch (err) {
        console.error(err.stack);
      }
    }

    function processAndGetVariable(value) {
      var valueReturn = variableManager.variableValue(value);
      if (valueReturn === undefined) {
        variableManager.destroyVariable(value);
      }
      return valueReturn;
    }

    function processAndGetVariableValidated(value, type) {
      var valueReturn = variableManager.variableValue(value);
      if (valueReturn === undefined) {
        createVariableCamunda(value, type, null);
      }
      return valueReturn;
    }

    function createVariableCamunda(nameVariable, typeVariable, valueVariable) {
      if (variableManager.variable(nameVariable) != undefined) {
        variableManager.variableValue(nameVariable, valueVariable);
      } else {
        variableManager.createVariable({
            name: nameVariable,
            type: typeVariable,
            value: valueVariable,
            isDirty: true
        });
      }
    }

    function addFaixaContabilInTabel(objFaixaContabil) {
      var tipoSelecionado = $scope.listaTipoFaixaContabil.find(function(tipoFaixa) {
        if (tipoFaixa.id == objFaixaContabil.tipo) return tipoFaixa;
      });

      //Atualiza tabela
      var novaLinha = "<tr>";
          novaLinha += "<td style=\"text-align:left\">" + tipoSelecionado.name + "</td>";
          novaLinha += "<td style=\"text-align:left\">" + objFaixaContabil.faixa  + "</td>";
          novaLinha += "<td style=\"text-align:right\">" + objFaixaContabil.valorEstimado + "</td>";                        
      novaLinha += "</tr>";
      $('#tabelaFaixa').append(novaLinha);  
    }
  </script>

  <script>
    var liberadoClick = function(e) {
      document.getElementById("motivoNaoLiberacaoDiv").style = "display: none";
    }
    var naoLiberadoClick = function(e) {
      document.getElementById("motivoNaoLiberacaoDiv").style = "display: block";
    }

    document.getElementById('pcti_dod_decisaoConsultor').onchange = function () {
      var valueSelected = document.getElementById('pcti_dod_decisaoConsultor').value;
      if (valueSelected == 'liberado' || valueSelected == '') {
        liberadoClick();
      } else naoLiberadoClick();
    }


    // show the user how many characteres are in the input area
    var verificationMotivoNaoLiberacao = function(e) {
      // get the value into textarea 
      // has to change the ID when have to use in another textarea element  
      let inputedByUser = document.getElementById("pcti_dod_descricaoNaoLiberacao").value;
      let showUserInputLenghtElement = document.getElementById("show-lenght-descricao-nao-liberacao");
      // generate the p tag that show to user how many characteres are in the input area
      showUserInputLenghtElement.innerHTML = "(" + inputedByUser.length +"/2000)";
      if(inputedByUser.length >= 1950 || inputedByUser.length <= 1)
        document.getElementById("show-lenght-descricao-nao-liberacao").style = "color: #d57d6d; display: inline;"
      else if(inputedByUser.length < 1950)
        document.getElementById("show-lenght-descricao-nao-liberacao").style = "color: #a2d19e; display: inline;"
    }
    function handleMatricula(element, matricula) {
    if( /^(([0-9]{5})|([0-9]{4})|([0-9]{3}))(-)\d{1}$/.test(matricula) ) {
  
    } else {
      matricula = mascaraMatricula(matricula);
      let tempStr = '';
      for(let i=0; i< matricula.length; i++){
          if(matricula.length == (i+1))
            tempStr += "-";
          tempStr += matricula[i];
      }
      element.value = tempStr;
    }
  }
  
  function mascaraMatricula(matricula) {
    return matricula.replace(/[\D]+/g,'');
  }
  function mask(o, f) {
      setTimeout(function() {
        var v = mphone(o.value);
        if (v != o.value) {
          o.value = v;
        }
      }, 1);
    }

    function mphone(v) {
      var r = v.replace(/\D/g, "");
      r = r.replace(/^0/, "");
      if (r.length > 10) {
        r = r.replace(/^(\d\d)(\d{5})(\d{4}).*/, "($1) $2-$3");
      } else if (r.length > 5) {
        r = r.replace(/^(\d\d)(\d{4})(\d{0,4}).*/, "($1) $2-$3");
      } else if (r.length > 2) {
        r = r.replace(/^(\d\d)(\d{0,5})/, "($1) $2");
      } else {
        r = r.replace(/^(\d*)/, "($1");
      }
      return r;
    }
  </script>

  <script cam-script type="text/form-script">

    DecoupledEditor
      .create( document.querySelector( '#editor-identificacao-demanda' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-identificacao-demanda' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorIdentificacaoDemanda = editor;
        console.log("concluindo criacao de editor de identificacao demanda ");
      } )
      .catch( err => {
        console.error( err );
      } );

    DecoupledEditor
      .create( document.querySelector( '#editor-indicacao-orcamentaria' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-indicacao-orcamentaria' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorIndicacaoOrcamentaria = editor;
        console.log("concluindo criacao de editor de indicacao orcamentaria ");
      } )
      .catch( err => {
        console.error( err );
      } );

    DecoupledEditor
      .create( document.querySelector( '#editor-pdti' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-pdti' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorPDTI = editor;
        console.log("concluindo criacao de editor de PDTI ");
      } )
      .catch( err => {
        console.error( err );
      } );

    DecoupledEditor
      .create( document.querySelector( '#editor-metas' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-metas' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorMetas = editor;
        console.log("concluindo criacao de editor de metas ");
      } )
      .catch( err => {
        console.error( err );
      } );

    DecoupledEditor
      .create( document.querySelector( '#editor-fundamentacao' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-fundamentacao' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorFundamentacao = editor;
        console.log("concluindo criacao de editor de Fundamentacao ");
      } )
      .catch( err => {
        console.error( err );
      } );

    DecoupledEditor
      .create( document.querySelector( '#editor-resultados' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-resultados-alcancados' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorResultados = editor;
        console.log("concluindo criacao de editor de resultados ");
      } )
      .catch( err => {
        console.error( err );
      } );

    DecoupledEditor
      .create( document.querySelector( '#editor-encaminhamento' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-encaminhamento' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorEncaminhamento = editor;
        console.log("concluindo criacao de editor de encaminhamento ");
      } )
      .catch( err => {
        console.error( err );
      } );

      DecoupledEditor
      .create( document.querySelector( '#editor-prorrogacao' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-prorrogacao' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorProrrogacao = editor;
        console.log("concluindo criacao de editor de Prorrogacao ");
      } )
      .catch( err => {
        console.error( err );
      } );


  </script>
</form>
