<style>
  .document-editor {
      border: 1px solid var(--ck-color-base-border);
      border-radius: var(--ck-border-radius);

      /* Set vertical boundaries for the document editor. */
      height: 300px;
      
      overflow-x: auto;
      overflow-y: auto;
      
      /* This element is a flex container for easier rendering. */
      display: flex;
      flex-flow: column nowrap;
  }
</style>

<form enctype="multipart/form-data" id="AvaliarODODTask" class="form-horizontal" role="form">

  <script cam-script type="text/form-script">
    var variableManager             = camForm.variableManager;
    var editorIdentificacaoDemanda  = $scope.editorIdentificacaoDemanda;
    var editorIndicacaoOrcamentaria = $scope.editorIndicacaoOrcamentaria;
    var editorPDTI                  = $scope.editorPDTI;
    var editorFundamentacao         = $scope.editorFundamentacao;
    var editorResultados            = $scope.editorResultados;
    // var editorServicosContinuos     = $scope.editorServicosContinuos;
    var editorMetas                 = $scope.editorMetas;
    var editorProrrogacao           = $scope.editorProrrogacao;
    var editorEncaminhamento        = $scope.editorEncaminhamento;
    $scope.taskId_ = camForm.taskId;
    var editorProrrogacao           = $scope.editorProrrogacao;
  </script>

  <script>
    var removeElement = function(id) {
      var elementToRemove = document.getElementById(id);
      elementToRemove.parentNode.removeChild(elementToRemove);
    }
    var removeItemFromListaFaixaContabil;
    var removeFaixaContabil = function(element) {
      let faixa = element.id.split('_');
      removeElement('tr_'+element.id);
      removeItemFromListaFaixaContabil(faixa[0], faixa[1], faixa[2]);
    }
    function mask(o, f) {
      setTimeout(function() {
        var v = mphone(o.value);
        if (v != o.value) {
          o.value = v;
        }
      }, 1);
    }

    function mphone(v) {
      var r = v.replace(/\D/g, "");
      r = r.replace(/^0/, "");
      if (r.length > 10) {
        r = r.replace(/^(\d\d)(\d{5})(\d{4}).*/, "($1) $2-$3");
      } else if (r.length > 5) {
        r = r.replace(/^(\d\d)(\d{4})(\d{0,4}).*/, "($1) $2-$3");
      } else if (r.length > 2) {
        r = r.replace(/^(\d\d)(\d{0,5})/, "($1) $2");
      } else if (r.length > 0) {
        r = r.replace(/^(\d*)/, "($1");
      }
      return r;
    }
    function moeda(a, e, r, t) {
          let n = ""
            , h = j = 0
            , u = tamanho2 = 0
            , l = ajd2 = ""
            , o = window.Event ? t.which : t.keyCode;
          if (13 == o || 8 == o)
              return !0;
          if (n = String.fromCharCode(o),
          -1 == "0123456789".indexOf(n))
              return !1;
          for (u = a.value.length,
          h = 0; h < u && ("0" == a.value.charAt(h) || a.value.charAt(h) == r); h++)
              ;
          for (l = ""; h < u; h++)
              -1 != "0123456789".indexOf(a.value.charAt(h)) && (l += a.value.charAt(h));
          if (l += n,
          0 == (u = l.length) && (a.value = ""),
          1 == u && (a.value = "0" + r + "0" + l),
          2 == u && (a.value = "0" + r + l),
          u > 2) {
              for (ajd2 = "",
              j = 0,
              h = u - 3; h >= 0; h--)
                  3 == j && (ajd2 += e,
                  j = 0),
                  ajd2 += l.charAt(h),
                  j++;
              for (a.value = "",
              tamanho2 = ajd2.length,
              h = tamanho2 - 1; h >= 0; h--)
                  a.value += ajd2.charAt(h);
              a.value += r + l.substr(u - 2, u)
          }
          return !1
      }
  
      function formatReal( int )
      {
              var tmp = int+'';
              if(tmp.length < 6)
                tmp = tmp.replace(/([0-9]{2})$/g, ",$1");
              else if( tmp.length >= 6 && tmp.length < 9 )
                      tmp = tmp.replace(/([0-9]{3})([0-9]{2}$)/g, ".$1,$2");
              else if(tmp.length >= 9 && tmp.length < 12)
                      tmp = tmp.replace(/([0-9]{3})([0-9]{3})([0-9]{2}$)/g, ".$1.$2,$3");
              else   
                      tmp = tmp.replace(/([0-9]{3})([0-9]{3})([0-9]{3})([0-9]{2}$)/g, ".$1.$2.$3,$4");
              return tmp;
      }
  
      function getMoney( str )
      {
              return parseInt( str.replace(/[\D]+/g,'') );
      }
      var valorHanlder = function(value, element) {  
        value = getMoney(value);
  
        value = formatReal(value);
        if (getMoney(value) > 100) value = "R$ "+value;
        element.value = value.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'});
      }

      
    function handleMatricula(element, matricula) {
      if( /^(([0-9]{5})|([0-9]{4})|([0-9]{3}))(-)\d{1}$/.test(matricula) ) {

      } else {
        matricula = mascaraMatricula(matricula);
        let tempStr = '';
        for(let i=0; i< matricula.length; i++){
            if(matricula.length == (i+1))
              tempStr += "-";
            tempStr += matricula[i];
        }
        element.value = tempStr;
      }
  }

  function mascaraMatricula(matricula) {
    return matricula.replace(/[\D]+/g,'');
  }
  </script>

  <div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Nome do Projeto/Solução</div>
        <div class="panel-body">
          <input type="text" readonly class="form-control" id="pcti_nomeProjetoSolucao" placeholder="nome do projeto/solução"
                cam-variable-name="pcti_nomeProjetoSolucao" cam-variable-type="String">
        </div>
    </div>
  </div>


  <div class="form-group" id="nota-liberar-consultor">
    <div class="col-sm-12" style="padding-top: 25px;">
      <input type="hidden" ng-model="pcti_dod_decisaoConsultor" id="pcti_dod_decisaoConsultor" 
            cam-variable-name="pcti_dod_decisaoConsultor" 
            cam-variable-type="String">
      <label class="control-label" for="pcti_dod_descricaoNaoLiberacao">
            Considerações do Consultor DITEC para liberação do DOD:
      </label>
      <textarea  
              cam-variable-name="pcti_dod_descricaoNaoLiberacao"
              name="descricaoNaoLiberacao"
              cam-variable-type="String"
              id="pcti_dod_descricaoNaoLiberacao"
              class="form-control"
              rows="5" cols="25"
              maxlength="2000"
              readonly ></textarea>  
    </div>
  </div>

  <div class="form-group" id="nota-direcao-diretor">
    <div class="col-sm-12" style="padding-top: 25px;">
      <input type="hidden" ng-model="pcti_dod_decisaoDiretorSobreDOD" id="pcti_dod_decisaoDiretorSobreDOD" 
              cam-variable-name="pcti_dod_decisaoDiretorSobreDOD" 
              cam-variable-type="String" >
      <label class="control-label" for="pcti_dod_parecerAvaliacaoDiretorDITEC" >
          Nota de reprovação sobre avaliação da DITEC:
      </label>
      <textarea  
              cam-variable-name="pcti_dod_parecerAvaliacaoDiretorDITEC"
              cam-variable-type="String"
              id="pcti_dod_parecerAvaliacaoDiretorDITEC"
              class="form-control"
              rows="5" cols="25"
              maxlength="2000"
              readonly></textarea>  
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Área Requisitante</div>
        <div class="panel-body">
            <div class="col">
              <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0" id="pcti_dod_tipoAreaRequisitante">

                <!-- <ui-select class="col-md-12 col-xs-12 col-sm-12" ng-model="selectedAreaRequisitante.value" theme="select2"> 
                  <ui-select-match placeholder="Selecione ou pesquise o tipo na lista...">
                    {{$select.selected.name}}
                  </ui-select-match> 
                  <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select> -->

                <ui-select ng-model="selectedAreaRequisitante.value" style="width: 100%;" theme="select2" id="idSgAreaDemandante" ng-change="handleAreaChanged($select.selected)">
                  <ui-select-match placeholder="Selecione ou pesquise a área...">
                    {{$select.selected.sg_dependencia ?  $select.selected.sg_dependencia : $select.selected}}
                  </ui-select-match>
                  <ui-select-choices repeat="area in (listaAreas | filter: $select.search) track by area.cd_empresa_dependencia" refresh="handleAreaChanged($select.selected)" refresh-delay="0">
                    <div ng-bind-html="area.sg_dependencia | highlight: $select.search"></div>
                    <small ng-bind-html="area.nm_dependencia | highlight: $select.search"></small>
                  </ui-select-choices>
                </ui-select>

              </div>
            </div>
            <div class="col">
              <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                  <input type="text" class="form-control" id="pcti_dod_nomeAreaRequisitante" placeholder="nome da área requisitante" readonly
                    cam-variable-name="pcti_dod_nomeAreaRequisitante" cam-variable-type="String">
              </div>
            </div>
        </div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Responsável pela Demanda</div>
        <div class="panel-body">
            <div class="col">
              <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label >Matrícula:</label>
                <input type="text" class="form-control" id="pcti_dod_nroMatricula" placeholder="matrícula do responsável" 
                pattern="(([0-9]{5})|([0-9]{4})|([0-9]{3}))(-)\d{1}"
                maxlength="7"
                cam-variable-name="pcti_dod_nroMatricula"
                oninput="handleMatricula(this, this.value)"
                ng-blur="pesquisaFuncionario(this.id, 'pcti_dod_nomeResponsavelDemanda')"
                cam-variable-type="String">
              </div>
              <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label>Nome:</label>
                <input type="text" class="form-control" id="pcti_dod_nomeResponsavelDemanda" placeholder="nome do responsável"
                    cam-variable-name="pcti_dod_nomeResponsavelDemanda" cam-variable-type="String">
              </div>
            </div>
            <div class="col">
              <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label >Telefone:</label>
                <input type="text" class="form-control" id="pcti_dod_nroTelefone" placeholder="número do responsável"
                cam-variable-name="pcti_dod_nroTelefone" cam-variable-type="String"
                minlength="14"
                onkeypress="mask(this, mphone);" onblur="mask(this, mphone);"  
                >
              </div>
              <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label >Email:</label>
                <input type="email" class="form-control" id="pcti_dod_emailResponsavel" placeholder="email do responsável"
                    cam-variable-name="pcti_dod_emailResponsavel" cam-variable-type="String">
              </div>
            </div>
        </div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Identificação da Demanda</div>
          <div  id="toolbar-container-identificacao-demanda"></div>
          <div id="editor-identificacao-demanda" class="document-editor" style="border-color: grey;"></div>
      </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Indicação Orçamentária</div>

        <div class="panel-body">
          <div  id="toolbar-container-indicacao-orcamentaria"></div>
          <div id="editor-indicacao-orcamentaria" class="document-editor" style="border-color: grey;"></div>
        </div>

        <div class="panel-body">
         <div class="row">
            <div class="col">
              <div class="col-md-4 col-sm-10 col-xs-12 col-xs-offset-1 col-md-offset-0" >
                <label class="col-md-12">Tipo de faixa contábil:</label>
                <select  id="tipoFaixaContabil"  class="form-control" >
                  <option>Selecione tipo da faixa contábil </option>
                  <option ng-repeat="option in listaTipoFaixaContabil" value="{{option.id}}">{{option.name}}</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="col-md-3 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Faixa contábil:</label>
                <input type="text" class="form-control" id="faixaContabil" placeholder="faixa contábil" >
              </div>
            </div>
            <div class="col">
              <div class="col-md-3 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Valor estimado:</label>
                <input type="text" class="form-control" oninput="valorHanlder(this.value, this)" id="valorEstimado" placeholder="valor estimado" maxlength="21">
              </div>
            </div>
            <div class="col">
              <div class="col-md-2 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0" >
                <br/>
                <input  type="button" value="&#10010;"  style="font-size:12px; " id="adFaixaContabil" name="adFaixaContabil" ng-click="addFaixaContabil()" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="padding-top: 60px;">
              <label class="col-md-12">Faixas adicionadas</label>
              <table id='tabelaFaixa' class="table table-striped">
                <tr>
                  <td scope="col" style="text-align:left" >
                    Tipo faixa
                  </td>
                  <td scope="col" style="text-align:left" >
                    Faixa
                  </td>
                  <td scope="col" style="text-align:right" >
                    Valor estimado
                  </td>
                  <td scope="col" style="text-align:right" >
                    
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Alinhamento estratégico ao PDTI</div>
      <div id="toolbar-container-pdti"></div>
      <div id="editor-pdti" class="document-editor" style="border-color: grey;"></div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Contratação</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
                <label class="control-label" style="margin-bottom: 5px;">Criticidade da contratação</label>
            </div>
            <!-- assim conseguimos pegar o valor? -->
              <ui-select class="col-md-8 col-sm-12 col-xs-12" ng-model="selectedCriticidadeContratacao.value" theme="select2"> 
                <ui-select-match placeholder="Selecione a criticidade na lista...">
                  {{$select.selected.name}}
                </ui-select-match> 
                <ui-select-choices repeat="item in (itemCriticidadeContratacao | filter: $select.search) track by item.id">
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
                  <label class="control-label">Prorrogação e serviços? </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
                  <input type="radio" id="prorrogacao_true" name="prorrogacaoServico" value="true" >
                  <label for="sim">Sim</label>
                  <input type="radio" id="prorrogacao_false" name="prorrogacaoServico" value="false" >
                  <label for="nao">Não</label>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <label style="margin-top: 20px;">Instrução da prorrogação</label>
              <div id="toolbar-container-prorrogacao"></div>
              <div id="editor-prorrogacao" class="document-editor" style="border-color: grey;"></div>
            </div> 
          </div>


          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
                  <label class="control-label">Vinculado a uma meta? </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
                  <input type="radio" id="idVinculadoMeta_true" name="vinculadoMeta" value="true" >
                  <label for="sim">Sim</label>
                  <input type="radio" id="idVinculadoMeta_false" name="vinculadoMeta" value="false" >
                  <label for="nao">Não</label>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
                  <label class="control-label">Vinculado a um plano de ação? </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
                  <input type="radio" id="idVinculadoPlanoAcao_true" name="vinculadoPlanoAcao" value="true" >
                  <label for="sim">Sim</label>
                  <input type="radio" id="idVinculadoPlanoAcao_false" name="vinculadoPlanoAcao" value="false" >
                  <label for="nao">Não</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="panel-body">
          <label >Metas/Planos de ação</label>
          <div id="toolbar-container-metas"></div>
          <div id="editor-metas" class="document-editor" style="border-color: grey;"></div>
        </div>

    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Fundamentação da contratação</div>
      <div id="toolbar-container-fundamentacao"></div>
      <div id="editor-fundamentacao" class="document-editor" style="border-color: grey;"></div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Resultados a serem alcançados</div>
      <div id="toolbar-container-resultados-alcancados"></div>
      <div id="editor-resultados" class="document-editor" style="border-color: grey;"></div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Integrante Requisitante (IR)</div>
        <div class="panel-body">
            <div class="col">
              <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label >Matrícula:</label>
                <input type="text" class="form-control" id="pcti_dod_matriculaIntegranteRequisitante" placeholder="matrícula do integrante requisitante"
                pattern="(([0-9]{5})|([0-9]{4})|([0-9]{3}))(-)\d{1}"
                maxlength="7"
                cam-variable-name="pcti_dod_matriculaIntegranteRequisitante" 
                oninput="handleMatricula(this, this.value)"
                ng-blur="pesquisaFuncionario(this.id, 'pcti_dod_nomeIntegranteTecnico')"
                cam-variable-type="String">
              </div>
              <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label >Nome:</label>
                <input type="text" class="form-control" id="pcti_dod_nomeIntegranteRequisitante" placeholder="nome do integrante requisitante"
                    cam-variable-name="pcti_dod_nomeIntegranteRequisitante" cam-variable-type="String">
              </div>
            </div>
            <div class="col">
              <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label >Telefone:</label>
                <input type="text" class="form-control" id="pcti_dod_telefoneIntegranteRequisitante" placeholder="telefone do integrante requisitante"
                cam-variable-name="pcti_dod_telefoneIntegranteRequisitante"
                minlength="14"
                onkeypress="mask(this, mphone);" onblur="mask(this, mphone);"
                cam-variable-type="String">
              </div>
              <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label >Email:</label>
                <input type="email" class="form-control" id="pcti_dod_emailIntegranteRequisitante" placeholder="email do integrante requisitante"
                    cam-variable-name="pcti_dod_emailIntegranteRequisitante" cam-variable-type="String">
              </div>
            </div>
        </div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Integrante Administrativo (IA)</div>
        <div class="panel-body">
            <div class="col">
              <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label >Matrícula:</label>
                <input type="text" class="form-control" id="pcti_dod_matriculaIntegranteAdministrativo" placeholder="matrícula do integrante administrativo"
                pattern="(([0-9]{5})|([0-9]{4})|([0-9]{3}))(-)\d{1}"
                maxlength="7"
                cam-variable-name="pcti_dod_matriculaIntegranteAdministrativo"
                oninput="handleMatricula(this, this.value)"
                ng-blur="pesquisaFuncionario(this.id, 'pcti_dod_nomeIntegranteTecnico')"
                cam-variable-type="String">
              </div>
              <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label >Nome:</label>
                <input type="text" class="form-control" id="pcti_dod_nomeIntegranteAdministrativo" placeholder="nome do integrante administrativo"
                    cam-variable-name="pcti_dod_nomeIntegranteAdministrativo" cam-variable-type="String">
              </div>
            </div>
            <div class="col">
              <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label >Telefone:</label>
                <input type="text" class="form-control" id="pcti_dod_telefoneIntegranteAdministrativo" placeholder="telefone do integrante administrativo"
                cam-variable-name="pcti_dod_telefoneIntegranteAdministrativo" 
                onkeypress="mask(this, mphone);" onblur="mask(this, mphone);"
                minlength="14"
                cam-variable-type="String">
              </div>
              <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label >Email:</label>
                <input type="email" class="form-control" id="pcti_dod_emailIntegranteAdministrativo" placeholder="email do integrante administrativo"
                    cam-variable-name="pcti_dod_emailIntegranteAdministrativo" cam-variable-type="String">
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Integrante Técnico (IT)</div>
        <div class="panel-body">
            <div class="col">
              <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label >Matrícula:</label>
                <input type="text" class="form-control" id="pcti_dod_matriculaIntegranteTecnico" placeholder="matrícula do integrante técnico"
                pattern="(([0-9]{5})|([0-9]{4})|([0-9]{3}))(-)\d{1}"
                maxlength="7"
                    cam-variable-name="pcti_dod_matriculaIntegranteTecnico"
                    oninput="handleMatricula(this, this.value)"
                    ng-blur="pesquisaFuncionario(this.id, 'pcti_dod_nomeIntegranteTecnico')"
                    cam-variable-type="String">
                  </div>
                  <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                    <label >Nome:</label>
                    <input type="text" class="form-control" id="pcti_dod_nomeIntegranteTecnico" placeholder="nome do integrante técnico"
                        cam-variable-name="pcti_dod_nomeIntegranteTecnico" cam-variable-type="String">
                  </div>
            </div>
            <div class="col">
              <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label >Telefone:</label>
                <input type="text" class="form-control" id="pcti_dod_telefoneIntegranteTecnico" placeholder="telefone do integrante técnico"
                cam-variable-name="pcti_dod_telefoneIntegranteTecnico" 
                onkeypress="mask(this, mphone);" onblur="mask(this, mphone);"
                minlength="14"
                cam-variable-type="String">
              </div>
              <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label >Email:</label>
                <input type="email" class="form-control" id="pcti_dod_emailIntegranteTecnico" placeholder="email do integrante técnico"
                    cam-variable-name="pcti_dod_emailIntegranteTecnico" cam-variable-type="String">
              </div>
            </div>
        </div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Encaminhamento</div>
      <div id="toolbar-container-encaminhamento"></div>
      <div id="editor-encaminhamento" class="document-editor" style="border-color: grey;"></div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">DOD conforme? </div>
      <div class="panel-body">
        <div class="col-sm-12">
          <input type="radio" id="idDodConforme_true" name="dodConforme" value="true" >
          <label for="sim">Sim</label>
          <input type="radio" id="idDodConforme_false" name="dodConforme" value="false" >
          <label for="nao">Não</label>
        </div>
        <div class="col-sm-12">
          <label class="control-label" for="pcti_dod_notasAjustesAvaliacao">Notas de ajustes:
            <p id="show-lenght-notas-ajustes" style="color:#d57d6d; display: inline;">
              (0/2000)
            </p>
          </label>
          <textarea  cam-variable-name="pcti_dod_notasAjustesAvaliacao"
                  cam-variable-type="String"
                  id="pcti_dod_notasAjustesAvaliacao"
                  class="form-control"
                  rows="5" cols="25"
                  maxlength="2000"
                  oninput="verificationNotasAjustes()"
          ></textarea>  
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Superintendências </div>
        <div class="panel-body">
            <div class="col">
              <div class="col-md-6 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Superintendência Técnica:</label>
                <ui-select  ng-model="selectedSuperintendenciaTecnica.value" style="width: 100%;" theme="select2" id="idSgTecnica">
                  <ui-select-match placeholder="Selecione ou pesquise a área...">
                    {{$select.selected.sg_dependencia ?  $select.selected.sg_dependencia : $select.selected}}
                  </ui-select-match>
                  <ui-select-choices repeat="area in (listaAreas | filter: $select.search) track by area.cd_empresa_dependencia">
                    <div ng-bind-html="area.sg_dependencia | highlight: $select.search"></div>
                    <small ng-bind-html="area.nm_dependencia | highlight: $select.search"></small>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="col-md-6 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Superintendência Administrativa:</label>
                <ui-select  ng-model="selectedSuperintendenciaAdministrativa.value" style="width: 100%;" theme="select2" id="idSgAdministrativa">
                  <ui-select-match placeholder="Selecione ou pesquise a área...">
                    {{$select.selected.sg_dependencia ?  $select.selected.sg_dependencia : $select.selected}}
                  </ui-select-match>
                  <ui-select-choices repeat="area in (listaAreas | filter: $select.search) track by area.cd_empresa_dependencia">
                    <div ng-bind-html="area.sg_dependencia | highlight: $select.search"></div>
                    <small ng-bind-html="area.nm_dependencia | highlight: $select.search"></small>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
        </div>
    </div>
  </div>

  <script cam-script type="text/form-script">
    var variableManager                           = camForm.variableManager;
    $scope.listaFaixaContabil                     = [];
    $scope.listaTipoFaixaContabil                 = [
      {id: 'despesa', name: 'Despesa'},
      {id: 'investimento', name: 'Investimento'}
    ];
    $scope.listaAreas                             = [];
    $scope.listaTiposAreas                        = [];
    $scope.selectedAreaRequisitante               = { };
    $scope.selectedSuperintendenciaTecnica        = {};
    $scope.selectedSuperintendenciaAdministrativa = {};
    $scope.listaFuncionariosPesquisados           = [];

    $scope.handleAreaChanged = function(search)
    {
      if(search?.cd_tipo_dependencia){
        let tipoArea = $scope.listaTiposAreas[parseInt(search.cd_tipo_dependencia)-1];
        variableManager.variable('pcti_dod_nomeAreaRequisitante').value = tipoArea.name +" - "+ search?.nm_dependencia;
        document.getElementById('pcti_dod_nomeAreaRequisitante').value = tipoArea.name+" - "+ search?.nm_dependencia;

    }else{
       variableManager.variable('pcti_dod_nomeAreaRequisitante').value = '';
        document.getElementById('pcti_dod_nomeAreaRequisitante').value = '';
     }
    }

    var hostcurrent    = window.location.hostname;
    //var hostcurrent    = 'window.location.hostname';

    inject(['$rootScope', function($rootScope) {
      
      $scope.userName = $rootScope.authentication.name;
      
    }]);
    
    $scope.onSelect = function(item,model){
      console.log("selectedItem",item);
    }

    $scope.itemCriticidadeContratacao = [
        {id: 'criticidade-5', name: '5 - Impacto de não operação do BRB'},
        {id: 'criticidade-4', name: '4 - Degradação drástica da operação e/ou Impacto legal ou financeiro severo (R$ 600.000,00)'},
        {id: 'criticidade-3', name: '3 - Degradação significativa da operação e/ou impacto legal ou financeiro'},
        {id: 'criticidade-2', name: '2 - Não impacta continuidade dos serviços porém degrada a qualidade da prestação'},
        {id: 'criticidade-1', name: '1 - Não impacta continuidade dos serviços e não degrada a qualidade do serviço prestado '}
    ];
    
    $scope.selectedCriticidadeContratacao = { value: $scope.itemCriticidadeContratacao[0] };

    inject(['$http', 'Uri', function($http, Uri) {

      var contextRetorno = $scope.contextRetorno;
      
      camForm.on('form-loaded', function() {
        console.log ("iniciado form-loaded");
  
        // this callback is executed *before* the variables are loaded from the server.
        // if we declare a variable here, its value will be fetched as well
        
        try {
          variableManager.fetchVariable('pcti_dod_vinculadoPlanoAcao');
          variableManager.fetchVariable('pcti_dod_vinculadoMeta');
          variableManager.fetchVariable('pcti_dod_criticidadeContratacao');
          variableManager.fetchVariable('pcti_dod_tipoAreaRequisitante');
          variableManager.fetchVariable('pcti_dod_documentoOficializacaoDemandaConforme');
          variableManager.fetchVariable('pcti_dod_textoIdentificacaoDemanda');
          variableManager.fetchVariable('pcti_dod_alinhamentoEstrategicoPDTI');
          variableManager.fetchVariable('pcti_dod_fundamentacaoContratacao');
          variableManager.fetchVariable('pcti_dod_resultadosASeremAlcancados');
          variableManager.fetchVariable('pcti_dod_listaFaixaContabil');
          variableManager.fetchVariable('pcti_dod_textoIndicacaoOrcamentaria');
          variableManager.fetchVariable('pcti_dod_textoMetas');
          variableManager.fetchVariable('pcti_dod_textoEncaminhamento');
          variableManager.fetchVariable('pcti_areaDemandante');
          variableManager.fetchVariable('dbAreas');
          variableManager.fetchVariable('dbTipoArea');
          variableManager.fetchVariable('pcti_dod_nomeSuperintendenciaTecnica');
          variableManager.fetchVariable('pcti_dod_nomeSuperintendenciaAdministrativa');

          variableManager.fetchVariable('pcti_dod_textoProrrogacao');
		      variableManager.fetchVariable('pcti_dod_radioProrrogacao');
       
          
        } 
        catch (err) {
          console.log(err);
        }

        console.log ("iniciado form-loaded");
      });


      camForm.on('variables-fetched', function() {
        console.log ("iniciado varibles-feched");

        $scope.listaAreas      = processAndGetVariableValidated('dbAreas',    'Json'); 
        $scope.listaTiposAreas = processAndGetVariableValidated('dbTipoArea', 'Json');

        if (hostcurrent != 'localhost') {
          try {
            const settings = {
              "async": false,
              "crossDomain": true,
              "url": "https://indicadoresditecbackenddsv.brb.com.br/api/processos/areasorigem",
              "method": "GET",
              "headers": {}
            };
            console.log("##### inicia requisicao areas origem");
            $.ajax(settings).done(function (response) {
              $scope.listaAreas = response;
            });
            console.log("##### inicia requisicao a areas origem");
          } catch(err) {
            console.log("#### ERROR erro no acesso areas origem");
            console.error(err);
          }
        }

        var descricaoNaoLiberacao = variableManager.variable('pcti_dod_descricaoNaoLiberacao').value;
        if(descricaoNaoLiberacao == '' || descricaoNaoLiberacao == undefined || descricaoNaoLiberacao == null) {
          removeElement('nota-liberar-consultor'); 
        }
        var parecerAvaliacaoDiretorDITEC = variableManager.variable('pcti_dod_parecerAvaliacaoDiretorDITEC').value;
        if(parecerAvaliacaoDiretorDITEC == '' || parecerAvaliacaoDiretorDITEC == undefined || parecerAvaliacaoDiretorDITEC == null) {
          removeElement('nota-direcao-diretor');
        }

        $scope.loadFields();

      });

      camForm.on('variables-restored', function() {
        // handle variables restored
        console.log("inicio variables-restored");

        $scope.loadFields();

        console.log("finalizando variables-restored");
      });

      $scope.loadFields = function() {

        let areaDemandante                 = processAndGetVariableValidated('pcti_areaDemandante',                            'String');
        let areaRequisitante               = processAndGetVariableValidated('pcti_dod_tipoAreaRequisitante',                  'String');
        let valueVinculadoPlanoAcao        = processAndGetVariableValidated('pcti_dod_vinculadoPlanoAcao',                    'Boolean');
        let valueVinculadoMeta             = processAndGetVariableValidated('pcti_dod_vinculadoMeta',                         'Boolean');
        let pctiDODCriticidadeContratacao  = processAndGetVariableValidated('pcti_dod_criticidadeContratacao',                'String');
        let jsonIdentificacaoDemanda       = processAndGetVariableValidated('pcti_dod_textoIdentificacaoDemanda',             'Json');
        let jsonAlinhamentoEstrategicoPDTI = processAndGetVariableValidated('pcti_dod_alinhamentoEstrategicoPDTI',            'Json');
        let jsonFundamentacao              = processAndGetVariableValidated('pcti_dod_fundamentacaoContratacao',              'Json');
        let jsonResultados                 = processAndGetVariableValidated('pcti_dod_resultadosASeremAlcancados',            'Json');
        let jsonListaFaixaContabil         = processAndGetVariableValidated('pcti_dod_listaFaixaContabil',                    'Json');
        let jsonIndicacaoOrcamentaria      = processAndGetVariableValidated('pcti_dod_textoIndicacaoOrcamentaria',            'Json');
        let jsonMetas                      = processAndGetVariableValidated('pcti_dod_textoMetas',                            'Json');
        let jsonProrrogacao                = processAndGetVariableValidated('pcti_dod_textoProrrogacao',                       'Json');
        let valueRadioProrrogacao          = processAndGetVariableValidated('pcti_dod_radioProrrogacao',                       'Boolean');
          
        
        let jsonEncaminhamento             = processAndGetVariableValidated('pcti_dod_textoEncaminhamento',                   'Json');
        //let valueRadio                   = processAndGetVariableValidated('pcti_dod_documentoOficializacaoDemandaConforme', 'Boolean');


        let superTecnica = null;
        let superAdm = null;
        if( processAndGetVariableValidated('pcti_dod_nomeSuperintendenciaTecnica',  'String') != undefined &&
          processAndGetVariableValidated('pcti_dod_nomeSuperintendenciaTecnica',  'String') != null) {
          superTecnica  = processAndGetVariableValidated('pcti_dod_nomeSuperintendenciaTecnica',        'String');
          superAdm      = processAndGetVariableValidated('pcti_dod_nomeSuperintendenciaAdministrativa', 'String');
        }
  
        checkedRadioButton('vinculadoPlanoAcao', valueVinculadoPlanoAcao);
        checkedRadioButton('vinculadoMeta',      valueVinculadoMeta);
        checkedRadioButton('prorrogacaoServico', valueRadioProrrogacao);
        //checkedRadioButton('dodConforme',      valueRadio);
                
        $scope.selectedCriticidadeContratacao = setSelectedObject($scope.itemCriticidadeContratacao, pctiDODCriticidadeContratacao, $scope.selectedCriticidadeContratacao);
        
        carregaEditorTexto($scope.editorIdentificacaoDemanda,  jsonIdentificacaoDemanda);
        carregaEditorTexto($scope.editorIndicacaoOrcamentaria, jsonIndicacaoOrcamentaria);
        carregaEditorTexto($scope.editorPDTI,                  jsonAlinhamentoEstrategicoPDTI);
        carregaEditorTexto($scope.editorFundamentacao,         jsonFundamentacao);
        carregaEditorTexto($scope.editorResultados,            jsonResultados);
        carregaEditorTexto($scope.editorMetas,                 jsonMetas);
        carregaEditorTexto($scope.editorEncaminhamento,        jsonEncaminhamento);
        carregaEditorTexto($scope.editorProrrogacao,           jsonProrrogacao);
        

        try {

          for (var i=0; i < $scope.listaAreas.length; i++) {
            if (areaRequisitante == $scope.listaAreas[i].sg_dependencia) {
              $scope.selectedAreaRequisitante = { value: $scope.listaAreas[i] };
              let tipoArea = $scope.listaTiposAreas[$scope.listaAreas[i].cd_tipo_dependencia-1];
              variableManager.variable('pcti_dod_nomeAreaRequisitante').value = tipoArea.name +" - "+ $scope.listaAreas[i].nm_dependencia;
            }
            if(superTecnica != undefined && superTecnica != null){
              if (superTecnica == $scope.listaAreas[i].sg_dependencia) {
                $scope.selectedSuperintendenciaTecnica = { value: $scope.listaAreas[i] };
              }
              if (superAdm == $scope.listaAreas[i].sg_dependencia) {
                $scope.selectedSuperintendenciaAdministrativa = { value: $scope.listaAreas[i] };
              }
            }
          }

        } catch(err) {
          console.error('Erro na identificacao da area para apresentar a area selecionada');
          console.error(err);
        }

        // this callback is executed *after* the variables have been fetched from the server
  
        if (jsonListaFaixaContabil)
          existFaixaContabil(jsonListaFaixaContabil);
      }

      function existFaixaContabil(lista) {
        lista.forEach( function(faixaContabil) {
          let naoExiteFaixaContabil = true;
          for (var i=0; i < $scope.listaFaixaContabil.length; i++) {
            if ( $scope.listaFaixaContabil[i].tipo             == faixaContabil.tipo 
                 && $scope.listaFaixaContabil[i].faixa         == faixaContabil.faixa
                 && $scope.listaFaixaContabil[i].valorEstimado == faixaContabil.valorEstimado ) 
            {
              naoExiteFaixaContabil = false;
              break;
            }
          }
          if (naoExiteFaixaContabil) {
            $scope.listaFaixaContabil.push(faixaContabil);
            addFaixaContabilInTabel(faixaContabil);
          }
        });
      }


      // executado pelo evento de submit do formulario
      camForm.on('submit', function(evt) {
        
        //var superintendenciaAdministrativaSelecionada = "";
        //var superintendenciaTecnicaSelecionada        = "";

 
        if( getValueOfInputRadio('dodConforme') == 'true' ){
          try {
            if(document.getElementById('pcti_dod_matriculaIntegranteAdministrativo').value == '') {
              var superintendenciaAdministrativaSelecionada = $scope.selectedSuperintendenciaAdministrativa.value.sg_dependencia;
              superintendenciaAdministrativaSelecionada = superintendenciaAdministrativaSelecionada.toString();
            }
          }catch(e) {
            alert('Superintendência Administrativa deve ser selecionada.');
            evt.submitPrevented = true;
          }
          try {
            if(document.getElementById('pcti_dod_matriculaIntegranteTecnico').value == '') {
              var superintendenciaTecnicaSelecionada = $scope.selectedSuperintendenciaTecnica.value.sg_dependencia;
            }
          }catch(e) {
            alert('Superintendência Técnica deve ser selecionada.');
            evt.submitPrevented = true;
          }
          variableManager.destroyVariable('pcti_dod_nomeSuperintendenciaAdministrativa');
          variableManager.destroyVariable('pcti_dod_nomeSuperintendenciaTecnica');
          createVariableCamunda('pcti_dod_nomeSuperintendenciaAdministrativa', 'String',superintendenciaAdministrativaSelecionada);
          createVariableCamunda('pcti_dod_nomeSuperintendenciaTecnica', 'String', superintendenciaTecnicaSelecionada );
        } else {
          //salva superintendencias
          try {
            if(document.getElementById('pcti_dod_matriculaIntegranteAdministrativo').value == '') {
              var superintendenciaAdministrativaSelecionada = $scope.selectedSuperintendenciaAdministrativa.value.sg_dependencia;
              superintendenciaAdministrativaSelecionada = superintendenciaAdministrativaSelecionada.toString();
            }
          }catch(e) {
          }
          try {
            if(document.getElementById('pcti_dod_matriculaIntegranteTecnico').value == '') {
              var superintendenciaTecnicaSelecionada = $scope.selectedSuperintendenciaTecnica.value.sg_dependencia;
            }
          }catch(e) {
          }
          variableManager.destroyVariable('pcti_dod_nomeSuperintendenciaAdministrativa');
          variableManager.destroyVariable('pcti_dod_nomeSuperintendenciaTecnica');
          createVariableCamunda('pcti_dod_nomeSuperintendenciaAdministrativa', 'String',superintendenciaAdministrativaSelecionada);
          createVariableCamunda('pcti_dod_nomeSuperintendenciaTecnica', 'String', superintendenciaTecnicaSelecionada );
        }


        try {
          //uiSelects2
          var areaRequisitanteSelecionada = $scope.selectedAreaRequisitante.value.sg_dependencia;
        
          if (areaRequisitanteSelecionada === undefined || areaRequisitanteSelecionada == null) {
            alert('Área demandante deve ser selecionada.')
            evt.submitPrevented = true;
          }

          var valueVinculadoMeta        = getValueOfInputRadio('vinculadoMeta');
          var valueVinculadoPlanoAcao   = getValueOfInputRadio('vinculadoPlanoAcao');
          var valueRadioProrrogacao     = getValueOfInputRadio('prorrogacaoServico');
          valueVinculadoPlanoAcao       = parseStringToBoolean(valueVinculadoPlanoAcao);
          valueVinculadoMeta            = parseStringToBoolean( valueVinculadoMeta );
          valueRadioProrrogacao         = parseStringToBoolean( valueRadioProrrogacao );
          validaPreenchimentoEditorTexto($scope.editorIdentificacaoDemanda, "Texto de identificação da demanda não consta preenchimento.");
          validaPreenchimentoEditorTexto($scope.editorIndicacaoOrcamentaria, "Texto da indicação orçamentária não consta preenchimento.");
          validaPreenchimentoEditorTexto($scope.editorPDTI, "Texto alinhamento estratégico do PDTI deve ser preenchido.");
          validaPreenchimentoEditorTexto($scope.editorMetas, "Texto sobre metas deve ser preenchido.");
          validaPreenchimentoEditorTexto($scope.editorFundamentacao, "Texto dos fundamentos da contratação deve ser preenchido.");
          validaPreenchimentoEditorTexto($scope.editorResultados, "Texto dos resultados a serem alcancçados deve ser preenchido.")
          validaPreenchimentoEditorTexto($scope.editorEncaminhamento, "Texto de encaminhamento deve ser preenchido.")
          validaPreenchimentoEditorTexto($scope.editorProrrogacao, "Texto de prorrogação deve ser preenchido.")
  
  
          var jsonIdentificacaoDemanda  = {texto: $scope.editorIdentificacaoDemanda.getData() };
          var jsonIndicacaoOrcamentaria = {texto: $scope.editorIndicacaoOrcamentaria.getData() };
          var jsonPDTI                  = {texto: $scope.editorPDTI.getData() };
          var jsonFundamentacao         = {texto: $scope.editorFundamentacao.getData() };
          var jsonResultados            = {texto: $scope.editorResultados.getData() };
          var jsonMetas                 = {texto: $scope.editorMetas.getData() };
          var jsonEncaminhamento        = {texto: $scope.editorEncaminhamento.getData() };
          var jsonProrrogacao           = {texto: $scope.editorProrrogacao.getData() };
          // creating a new variable will add it to the form submit
  
          createVariableCamunda('pcti_dod_textoIdentificacaoDemanda',  'Json',    jsonIdentificacaoDemanda);
          createVariableCamunda('pcti_dod_textoIndicacaoOrcamentaria', 'Json',    jsonIndicacaoOrcamentaria);
          createVariableCamunda('pcti_dod_listaFaixaContabil',         'Json',    $scope.listaFaixaContabil);
          createVariableCamunda('pcti_dod_textoMetas',                 'Json',    jsonMetas);
          createVariableCamunda('pcti_dod_fundamentacaoContratacao',   'Json',    jsonFundamentacao);
          createVariableCamunda('pcti_dod_resultadosASeremAlcancados', 'Json',    jsonResultados);
          createVariableCamunda('pcti_dod_alinhamentoEstrategicoPDTI', 'Json',    jsonPDTI);
          createVariableCamunda('pcti_dod_textoEncaminhamento',        'Json',    jsonEncaminhamento);
          createVariableCamunda('pcti_dod_criticidadeContratacao',     'String',  $scope.selectedCriticidadeContratacao.value.id);
          createVariableCamunda('pcti_dod_tipoAreaRequisitante',       'String',  $scope.selectedAreaRequisitante.value.sg_dependencia);
          createVariableCamunda('pcti_areaDemandante',       'String',  $scope.selectedAreaRequisitante.value.sg_dependencia);
          createVariableCamunda('pcti_dod_vinculadoMeta',              'Boolean', valueVinculadoMeta);
          createVariableCamunda('pcti_dod_vinculadoPlanoAcao',         'Boolean', valueVinculadoPlanoAcao);
          createVariableCamunda('pcti_dod_radioProrrogacao',           'Boolean', valueRadioProrrogacao);
          createVariableCamunda('pcti_dod_textoProrrogacao',           'Json',    jsonProrrogacao);
          
        } catch (err) {
          console.error(err);
          evt.submitPrevented = true;
        }

        var conformidadeSelecionada = getValueOfInputRadio('dodConforme');
  
        if (conformidadeSelecionada === undefined || conformidadeSelecionada.trim() == '') {
          alert("A indicação de conformidade do DOD não foi selecionada.");
          evt.submitPrevented = true;
        }
  
        // creating a new variable will add it to the form submit
  
        conformidadeSelecionada = parseStringToBoolean (conformidadeSelecionada);

        if(!conformidadeSelecionada) {
          let notaAjuste = document.getElementById('pcti_dod_notasAjustesAvaliacao').value;
          if(notaAjuste == ''){
            alert("Nota de ajuste não informada");
            evt.submitPrevented = true;
          }
        }

        createVariableCamunda('pcti_dod_documentoOficializacaoDemandaConforme', 'Boolean', conformidadeSelecionada);
  
      });
  
      camForm.on('store', function(evt) {
        console.log("inicio store");
  
        try {
          var valueVinculadoMeta        = getValueOfInputRadio('vinculadoMeta');
          var valueVinculadoPlanoAcao   = getValueOfInputRadio('vinculadoPlanoAcao');
          var valueRadioProrrogacao     = getValueOfInputRadio('prorrogacaoServico');
          valueVinculadoPlanoAcao       = parseStringToBoolean(valueVinculadoPlanoAcao);
          valueVinculadoMeta            = parseStringToBoolean( valueVinculadoMeta );
          valueRadioProrrogacao         = parseStringToBoolean( valueRadioProrrogacao );
          var jsonIdentificacaoDemanda  = {texto: $scope.editorIdentificacaoDemanda.getData() };
          var jsonIndicacaoOrcamentaria = {texto: $scope.editorIndicacaoOrcamentaria.getData() };
          var jsonPDTI                  = {texto: $scope.editorPDTI.getData() };
          var jsonFundamentacao         = {texto: $scope.editorFundamentacao.getData() };
          var jsonResultados            = {texto: $scope.editorResultados.getData() };
          var jsonMetas                 = {texto: $scope.editorMetas.getData() };
          var jsonEncaminhamento        = {texto: $scope.editorEncaminhamento.getData() };
          var jsonProrrogacao           = {texto: $scope.editorProrrogacao.getData() };

          // creating a new variable will add it to the form submit
  
          createVariableCamunda('pcti_dod_textoIdentificacaoDemanda',  'Json',    jsonIdentificacaoDemanda);
          createVariableCamunda('pcti_dod_textoIndicacaoOrcamentaria', 'Json',    jsonIndicacaoOrcamentaria);
          createVariableCamunda('pcti_dod_listaFaixaContabil',         'Json',    $scope.listaFaixaContabil);
          createVariableCamunda('pcti_dod_textoMetas',                 'Json',    jsonMetas);
          createVariableCamunda('pcti_dod_fundamentacaoContratacao',   'Json',    jsonFundamentacao);
          createVariableCamunda('pcti_dod_resultadosASeremAlcancados', 'Json',    jsonResultados);
          createVariableCamunda('pcti_dod_alinhamentoEstrategicoPDTI', 'Json',    jsonPDTI);
          createVariableCamunda('pcti_dod_textoEncaminhamento',        'Json',    jsonEncaminhamento);
          createVariableCamunda('pcti_dod_criticidadeContratacao',     'String',  $scope.selectedCriticidadeContratacao.value.id);
          createVariableCamunda('pcti_dod_tipoAreaRequisitante',       'String',  $scope.selectedAreaRequisitante.value.sg_dependencia);
          createVariableCamunda('pcti_dod_vinculadoMeta',              'Boolean', valueVinculadoMeta);
          createVariableCamunda('pcti_dod_vinculadoPlanoAcao',         'Boolean', valueVinculadoPlanoAcao);
          createVariableCamunda('pcti_dod_radioProrrogacao',           'Boolean', valueRadioProrrogacao);
          createVariableCamunda('pcti_dod_textoProrrogacao',            'Json',    jsonProrrogacao);
        } catch (err) {
          console.error(err);
          evt.submitPrevented = true;
        }

        var conformidadeSelecionada = getValueOfInputRadio('dodConforme');
  
        if (conformidadeSelecionada !== undefined || conformidadeSelecionada.trim() != '') {
          conformidadeSelecionada = parseStringToBoolean (conformidadeSelecionada);
          createVariableCamunda('pcti_dod_documentoOficializacaoDemandaConforme', 'Boolean', conformidadeSelecionada);
        }

        //salva superintendencias
        try {
          if(document.getElementById('pcti_dod_matriculaIntegranteAdministrativo').value == '') {
            var superintendenciaAdministrativaSelecionada = $scope.selectedSuperintendenciaAdministrativa.value.sg_dependencia;
            superintendenciaAdministrativaSelecionada = superintendenciaAdministrativaSelecionada.toString();
          }
        }catch(e) {
        }
        try {
          if(document.getElementById('pcti_dod_matriculaIntegranteTecnico').value == '') {
            var superintendenciaTecnicaSelecionada = $scope.selectedSuperintendenciaTecnica.value.sg_dependencia;
          }
        }catch(e) {
        }
        variableManager.destroyVariable('pcti_dod_nomeSuperintendenciaAdministrativa');
        variableManager.destroyVariable('pcti_dod_nomeSuperintendenciaTecnica');
        createVariableCamunda('pcti_dod_nomeSuperintendenciaAdministrativa', 'String',superintendenciaAdministrativaSelecionada);
        createVariableCamunda('pcti_dod_nomeSuperintendenciaTecnica', 'String', superintendenciaTecnicaSelecionada );

        console.log("fim store");
      });
  
      camForm.on('variables-applied', function() {
        // handle variables applied
        console.log("inicio variables-applied");
        console.log("fim variables-applied");
        (function () {
          document.getElementById("pcti_dod_notasAjustesAvaliacao").value = "";
        })();
      });
  

    }]);


    function getValueOfInputRadio(nameElement) { 
        var listElementRadio = document.getElementsByName(nameElement); 
        var returnValue = '';
        for(var i = 0; i < listElementRadio.length; i++) { 
            if (listElementRadio[i].checked) {
                returnValue = listElementRadio[i].value;
            }
        }
        return returnValue;
    } 


    function checkedRadioButton(nameElement, value) {
      try {
        var valueIsDefined = !( value === undefined ) && !( value === null);
        if ( valueIsDefined ) {
          var radioButtons = document.getElementsByName(nameElement);
          for (var i = 0; i < radioButtons.length; i++) {
            radioButtons[i].checked = false;

            if (radioButtons[i].value == value.toString()) {
              radioButtons[i].checked = true;
            }
          }
        }
      } 
      catch (err) {
        console.error(err);
      }
    }


    function parseStringToBoolean(value) {
      var valueReturn = null;
      valueReturn = (( value != '') ? (value.toLowerCase() == 'true' ? true : false): null);
      return valueReturn;
    }


    function setSelectedObject(listItens, value, selectedObject) {
      var objectReturn = selectedObject;
      if (value != null) {
        for(var i = 0; i < listItens.length ; i++){
          if (listItens[i].id == value){
            objectReturn = { value: listItens[i] };
          }
        }
      }
      return objectReturn;
    }

    function setValueInInputText(valueId, listItens, idElement) {
      for(var i = 0; i < listItens.length; i++) {
        if (listItens[i].id == valueId) {
          document.getElementById(idElement).value = listItens[i].name;
        }
      }
    }

    function carregaEditorTexto(objEditor, objJson) {
      try {
        if (objJson) {
          objEditor.setData(objJson.texto);
        }
      } catch (err) {
        console.error(err.stack);
      }
    }

    function processAndGetVariable(value) {
      var valueReturn = variableManager.variableValue(value);
      if (valueReturn === undefined || valueReturn === null) {
        variableManager.destroyVariable(value);
      }
      return valueReturn;
    }

    function processAndGetVariableValidated(value, type) {
      var valueReturn = variableManager.variableValue(value);
      if (valueReturn === undefined) {
        createVariableCamunda(value, type, null);
      }
      return valueReturn;
    }

    function createVariableCamunda(nameVariable, typeVariable, valueVariable) {
      if (variableManager.variable(nameVariable) != undefined) {
        variableManager.variableValue(nameVariable, valueVariable);
      } else {
        variableManager.createVariable({
            name: nameVariable,
            type: typeVariable,
            value: valueVariable,
            isDirty: true
        });
      }
    }

    function validaPreenchimentoEditorTexto(objEditor, mensagem) {
      var texto = objEditor.getData();
      if (texto === undefined || texto.trim() == '') {
        alert(mensagem);
        throw "Texto não preenchido: [" + mensagem + "]";
      }
    }

    $scope.addFaixaContabil = function() {
      var tipo          = document.getElementById('tipoFaixaContabil');
      var faixa         = document.getElementById('faixaContabil');
      var valorEstimado = document.getElementById('valorEstimado');

      if(tipo.value != "despesa" && tipo.value != "investimento" )
        alert("Selecione um tipo de faixa");
      else{
        if (tipo === undefined || faixa === undefined || valorEstimado === undefined
          || tipo.value == '' || faixa.value == '' || valorEstimado.value == ''
        ) {
          alert("Todos os campos sobre a faixa contábil devem ser preenchidos.");
          return;
        }

        var faixaContabil = {
          tipo: tipo.value,
          faixa: faixa.value,
          valorEstimado: valorEstimado.value
        };

        $scope.listaFaixaContabil.push(faixaContabil);

        addFaixaContabilInTabel(faixaContabil);

        tipo.selectedIndex = 0;
        faixa.value = '';
        valorEstimado.value = '';
        tipo.focus();
      }
    }

    removeItemFromListaFaixaContabil = function(tipo, faixa, valorEstimado) {
      $scope.listaFaixaContabil.forEach( function(faixaContabil) {
        for (var i=0; i < $scope.listaFaixaContabil.length; i++) {
          if ( $scope.listaFaixaContabil[i].tipo             == tipo.toLowerCase() 
               && $scope.listaFaixaContabil[i].faixa         == faixa
               && $scope.listaFaixaContabil[i].valorEstimado == valorEstimado ) 
          {
            delete $scope.listaFaixaContabil[i];
            $scope.listaFaixaContabil = $scope.listaFaixaContabil.filter(function(el) { return el; });
            break;
          }
        }
      });
    }


    function addFaixaContabilInTabel(objFaixaContabil) {
      var tipoSelecionado = $scope.listaTipoFaixaContabil.find(function(tipoFaixa) {
        if (tipoFaixa.id == objFaixaContabil.tipo) return tipoFaixa;
      });

      let id =  tipoSelecionado.name + "_" + objFaixaContabil.faixa + "_" + objFaixaContabil.valorEstimado;

      if(document.getElementById(id) != undefined && document.getElementById(id) != null) {
        alert("essa faixa já foi adicionada");
        return;
      }

      //Atualiza tabela
      var novaLinha = "<tr id='tr_" + id + "'>";
          novaLinha += "<td style=\"text-align:left\">" + tipoSelecionado.name + "</td>";
          novaLinha += "<td style=\"text-align:left\">" + objFaixaContabil.faixa  + "</td>";
          novaLinha += "<td style=\"text-align:right\">" + objFaixaContabil.valorEstimado + "</td>";                     
      novaLinha += "<td style=\"text-align:right\">";
      novaLinha += '<input id="' + id + '" type="button" value="&#x1F5D1;"  style="font-size:16px; " onclick="removeFaixaContabil(this)" />';
      novaLinha += '</td></tr>';
      $('#tabelaFaixa').append(novaLinha);  
    }


    $scope.pesquisaFuncionario = function (idElementMatricula, idElementNome) {

      if (hostcurrent != 'localhost') {

        let matricula = document.getElementById(idElementMatricula).value;
        if (matricula == 'demo') matricula = 'u843797';
        matricula = matricula.replace('u', '');
        matricula = matricula.replace('-', '');

        if (!$scope.validaLiberacaoPesquisa(idElementMatricula, idElementNome) ) return;

        try {
          const settings = {
            "async": false,
            "crossDomain": true,
            "url": "https://brsfuncionarios.brb.com.br/funcionarios/api/v1.0.0/" + matricula + "/dados-basicos",
            "method": "GET",
            "headers": {}
          };

          $.ajax(settings).done(function (response) {
            let element = document.getElementById(idElementNome);
            element.value = response.nome;
            $scope.listaFuncionariosPesquisados.push ({
              id:   matricula,
              name: element.value
            });
          });

        } catch(err) {
          console.error("#### ERROR erro no acesso aos dados basicos do funcionario ");
          console.error(err);
        }
      }
    };

    $scope.validaLiberacaoPesquisa = function (idElementMatricula, idElementNome) {
      if ($scope.listaFuncionariosPesquisados.length == 0) return true;

      var _matricula = document.getElementById(idElementMatricula).value;
      var _nome      = document.getElementById(idElementNome).value;

      if (_matricula == null) return true;

      if (_matricula.length < 5) return false;

      var _funcionario = $scope.listaFuncionariosPesquisados.find(f => f.id === _matricula);

      if (_funcionario == null) return true;

      if (_funcionario.name != _nome) return true;

      return false;

    };

  </script>

  <script>
    // show the user how many characteres are in the input area
    var verificationNotasAjustes = function(e) {
      // get the value into textarea 
      // has to change the ID when have to use in another textarea element  
      let inputedByUser = document.getElementById("pcti_dod_notasAjustesAvaliacao").value;
      let showUserInputLenghtElement = document.getElementById("show-lenght-notas-ajustes");
      // generate the p tag that show to user how many characteres are in the input area
      showUserInputLenghtElement.innerHTML = "(" + inputedByUser.length +"/2000)";
      if(inputedByUser.length >= 1950 || inputedByUser.length <= 1)
        document.getElementById("show-lenght-notas-ajustes").style = "color: #d57d6d; display: inline;"
      else if(inputedByUser.length < 1950)
        document.getElementById("show-lenght-notas-ajustes").style = "color: #a2d19e; display: inline;"
    }

    function handleMatricula(element, matricula) {
        if( /^(([0-9]{5})|([0-9]{4})|([0-9]{3}))(-)\d{1}$/.test(matricula) ) {

        } else {
          matricula = mascaraMatricula(matricula);
          let tempStr = '';
          for(let i=0; i< matricula.length; i++){
              if(matricula.length == (i+1))
                tempStr += "-";
              tempStr += matricula[i];
          }
          element.value = tempStr;
        }
    }

      function mascaraMatricula(matricula) {
        return matricula.replace(/[\D]+/g,'');
      }
  </script>

  <script cam-script type="text/form-script">

    DecoupledEditor
      .create( document.querySelector( '#editor-identificacao-demanda' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-identificacao-demanda' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorIdentificacaoDemanda = editor;
        console.log("concluindo criacao de editor de identificacao demanda ");
      } )
      .catch( err => {
        console.error( err );
      } );

    DecoupledEditor
      .create( document.querySelector( '#editor-indicacao-orcamentaria' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-indicacao-orcamentaria' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorIndicacaoOrcamentaria = editor;
        console.log("concluindo criacao de editor de indicacao orcamentaria ");
      } )
      .catch( err => {
        console.error( err );
      } );

    DecoupledEditor
      .create( document.querySelector( '#editor-pdti' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-pdti' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorPDTI = editor;
        console.log("concluindo criacao de editor de PDTI ");
      } )
      .catch( err => {
        console.error( err );
      } );

    DecoupledEditor
      .create( document.querySelector( '#editor-metas' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-metas' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorMetas = editor;
        console.log("concluindo criacao de editor de metas ");
      } )
      .catch( err => {
        console.error( err );
      } );

    DecoupledEditor
      .create( document.querySelector( '#editor-fundamentacao' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-fundamentacao' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorFundamentacao = editor;
        console.log("concluindo criacao de editor de Fundamentacao ");
      } )
      .catch( err => {
        console.error( err );
      } );

    DecoupledEditor
      .create( document.querySelector( '#editor-resultados' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-resultados-alcancados' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorResultados = editor;
        console.log("concluindo criacao de editor de resultados ");
      } )
      .catch( err => {
        console.error( err );
      } );

    DecoupledEditor
      .create( document.querySelector( '#editor-encaminhamento' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-encaminhamento' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorEncaminhamento = editor;
        console.log("concluindo criacao de editor de encaminhamento ");
      } )
      .catch( err => {
        console.error( err );
      } );

      DecoupledEditor
      .create( document.querySelector( '#editor-prorrogacao' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-prorrogacao' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorProrrogacao = editor;
        console.log("concluindo criacao de editor de Prorrogacao ");
      } )
      .catch( err => {
        console.error( err );
      } );


  </script>

</form>
