
<form enctype="multipart/form-data" id="ContratacaoRegistradaPelaAreaRequisitanteStartEvent" class="form-horizontal" role="form">

  <script cam-script type="text/form-script">
    var variableManager = camForm.variableManager;
    $scope.taskId_      = camForm.taskId;
  </script>

  <div class="form-group">
    <div class="row">
      <h4> <strong> &nbsp; &nbsp; &nbsp; &nbsp; Contratação registrada pela Área Requisitante </strong> </h4>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
            <label class="col-md-12 control-label">Nome do Projeto/Solução</label>
        </div>
        <div class="col-md-7 col-sm-09 col-xs-09 col-xs-offset-1 col-md-offset-0">
            <input type="text" class="form-control" id="pcti_nomeProjetoSolucao" placeholder="nome do projeto/solução"
                cam-variable-name="pcti_nomeProjetoSolucao" cam-variable-type="String" required>
        </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
        <label class="col-md-12 control-label" for="idSgAreaDemandante">
          Área Demandante
        </label>
      </div>
      <div class="col">
          <ui-select ng-model="selectedArea.value" class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0" theme="select2" id="idSgAreaDemandante">
            <ui-select-match placeholder="Selecione ou pesquise a área...">
              {{$select.selected.sg_dependencia ?  $select.selected.sg_dependencia : $select.selected}}
            </ui-select-match>
            <ui-select-choices repeat="area in (listaAreas | filter: $select.search) track by area.cd_empresa_dependencia">
              <div ng-bind-html="area.sg_dependencia | highlight: $select.search"></div>
              <small ng-bind-html="area.nm_dependencia | highlight: $select.search"></small>
            </ui-select-choices>
          </ui-select>
      </div>
    </div>
  </div>

 <div class="form-group" id="divpcti_tipoContratacao">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
        <label class="col-md-12 control-label">Tipo de Contratação </label>
    </div>
    <div class="col">
      <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">

        <select  id="idSlctTipoContratacao"  class="form-control" required
                cam-variable-name="pcti_tipoContratacao" cam-variable-type="String" >
          <option>Selecione tipo contratação </option>
          <option ng-repeat="option in listaTipoContratacao" value="{{option.id}}">{{option.name}}</option>
        </select>

      </div>
    </div>
  </div>
</div>

<div class="form-group" id="divpcti_tipoProposta">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
        <label class="col-md-12 control-label">Tipo proposta</label>
    </div>
    <div class="col">
      <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">

        <select  id="idSlctTipoProposta"  class="form-control" required
                cam-variable-name="pcti_tipoProposta" cam-variable-type="String" >
          <option>Selecione tipo proposta </option>
          <option ng-repeat="option in listaTipoProposta" value="{{option.id}}">{{option.name}}</option>
        </select>

      </div>
    </div>
  </div>
</div>

 <div class="form-group">
   <div class="row">
       <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
           <label class="col-md-12 control-label">Valor da contratação</label>
       </div>
       <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
           <input type="text" class="form-control" id="pcti_valorContratacao" placeholder="Valor da contratação"
           maxlength="14"
                  required  oninput="valorHanlder(this.value, this)">
       </div>
   </div>
 </div>

 <div class="form-group" id="divpcti_complexidade">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
        <label class="col-md-12 control-label">Complexidade da Contratação </label>
    </div>
    <div class="col">
      <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">

        <select  id="idSlctComplexidadeContratacao"  class="form-control" required
                cam-variable-name="pcti_complexidadeContratacao" cam-variable-type="String" >
          <option>Selecione complexidade da contratação</option>
          <option ng-repeat="option in itemComplexidade" value="{{option.id}}">{{option.name}}</option>
        </select>

      </div>
    </div>
  </div>
</div>

 <div class="form-group" id="divpcti_registroPreco">
   <div class="row">
     <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
         <label class="col-md-12 control-label">Registro de preço</label>
     </div>
     <div class="col-md-7 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
        <input type="checkbox" id="id_pcti_registroPreco" cam-variable-name="pcti_registroPreco" cam-variable-type="Boolean" />
     </div>
   </div>
 </div>

  <script cam-script type="text/form-script">
    $scope.userName       = '';
    var variableManager   = camForm.variableManager;

    var varAreas          = $scope.areas;
    var areasRecebidas    = false;

    $scope.selectedArea   = { };

    $scope.listaTipoContratacao = [
      {id: 'solucao-de-ti',       name: 'Soluções de TI'},
      {id: 'engenharia',          name: 'Engenharia'},
      {id: 'servicos-gerais',     name: 'Serviços Gerais'},
      {id: 'outras-contratacoes', name: 'Outras Contratações'}
    ];

    $scope.listaTipoProposta = [
      {id: 'nova-contratacao',       name: 'Nova Contratação'},
      {id: 'prorrogacao-contratual', name: 'Prorrogação Contratual'},
      {id: 'alteracao-contratual',   name: 'Alteração Contratual'}
    ];

    $scope.itemComplexidade = [
      {id: 'complexa', name: 'Complexa'},
      {id: 'simples', name: 'Simples'}
    ];

    inject(['$rootScope', function($rootScope) {
      console.log('recuperando userid');

      $scope.userName = $rootScope.authentication.name;

    }]);

    inject(['$http', 'Uri', function($http, Uri) {

      var contextRetorno = $scope.contextRetorno;

      //para desenvolvimento mudar aqui
      var hostcurrent    = window.location.hostname;
      //var hostcurrent    = 'window.location.hostname';
      //mudar aqui end


      var __listaAreas   = $scope.listaAreas;

      //  $http.get(Uri.appUri('engine://engine/:engine/identity/groups?userId=' + $scope.userName)).then(function(response) {
      //    $scope.retorno = response.data;
      //    console.log('retorno dos grupos do camunda do usuario'); 
      //    console.log($scope  //);
      //  });

  
      // executado pelo evento de submit do formulario
      camForm.on('form-loaded', function() {
        console.log("first form-loaded");
        
        $scope.listaAreas = null;

        if (hostcurrent != 'localhost') {

          try {
            const settings = {
              "async": false,
              "crossDomain": true,
              "url": "https://indicadoresditecbackenddsv.brb.com.br/api/processos/areasorigem",
              "method": "GET",
              "headers": {}
            };
            console.log("##### inicia requisicao areas origem");
            $.ajax(settings).done(function (response) {
              $scope.listaAreas = response;
            });
            console.log("##### inicia requisicao a areas origem");
          } catch(err) {
            console.log("#### ERROR erro no acesso areas origem");
            console.error(err);
          }

        }

        if ($scope.listaAreas == null) {
          try {
            variableManager.fetchVariable('dbAreas');
          } catch(err) {
            console.error(err);
          }
        }
        
      });
      
      camForm.on('variables-fetched', function() {
        console.log('start variables-fetched');

        var lotacaoAtual  = ''; //findLotacaoAutal($scope.userName);
        var lotacao = {
            codigoDependencia: 15112,
            nome: "NUCLEO DE PLANEJAMENTO E CONTROLE",
            sigla: "NUPEC"
          };

        if (hostcurrent != 'localhost') {

          let matricula = $scope.userName;
          if (matricula == 'demo') matricula = 'u843797';
          matricula = matricula.substring(1,matricula.length);

          try {
            const settings = {
              "async": false,
              "crossDomain": true,
              "url": "https://brsfuncionarios.brb.com.br/funcionarios/api/v1.0.0/" + matricula + "/lotacoes/atual",
              "method": "GET",
              "headers": {}
            };

            $.ajax(settings).done(function (response) {
                lotacao = response;
            });

          } catch(err) {
            console.log("#### ERROR erro no acesso a lotacoes atual");
            console.error(err);
          }
        }
        lotacaoAtual =  lotacao;

        try {

          if ($scope.listaAreas == null || $scope.listaAreas.length == 0) {
            let lista = processAndGetVariable('dbAreas');
            if (lista) {
              $scope.listaAreas = lista;
            } else {
              $scope.listaAreas = $scope.dbAreas;
            }
          }

          for (var i=0; i < $scope.listaAreas.length; i++) {
            if (lotacaoAtual.sigla == $scope.listaAreas[i].sg_dependencia) {
              $scope.selectedArea = { value: $scope.listaAreas[i] };
              break;
            }
          }

        } catch(err) {
          console.error('Erro na identificacao da area para apresentar a area selecionada');
          console.error(err);
        }
        console.log('fim do variables-feched');
      });
  
      camForm.on('submit', function(evt) {

        var areaDemandante = $scope.selectedArea.value.sg_dependencia;
        
        if (areaDemandante === undefined || areaDemandante == null) {
          alert('Área demandante deve ser selecionada.')
          evt.submitPrevented = true;
        }

        var __valorContratacao = document.getElementById('pcti_valorContratacao').value;

        if (__valorContratacao === undefined || __valorContratacao == null) {
          alert('Valor contratação deve ser preenchido corretamente.')
          evt.submitPrevented = true;
        }

        __valorContratacao = __valorContratacao.replace(/\./g, '');
        __valorContratacao = __valorContratacao.replace(',', '.');

        createVariableCamunda('pcti_areaDemandante',             'String', areaDemandante);
        createVariableCamunda('pcti_dod_tipoAreaRequisitante',   'String', areaDemandante);
        createVariableCamunda('pcti_valorContratacao',           'Double', __valorContratacao);

        var alinhamentoHTML = {"texto": "<p><span style=\"background-color:rgb(255,255,255);color:rgb(0,0,255);\">&lt;<b>Instrução</b>: Listar os objetivos estratégicos da solução de TI para o negócio e vincular esse objetivo ao Planejamento Estratégico e ao Plano Diretor de Tecnologia (PDTI).<br>Alguns serviços continuados estão contemplados no PDTI. Desta forma, caso não haja ação específica para a proposta deverá ser verificado pela área requisitante se ela está na lista de serviços considerados continuados na visão estratégica do Banco.<br>Definição de serviço continuado – Serviço que não poderá ser interrompido e que sua ausência degrada drasticamente seu desempenho. Os serviços que suportam diretamente a missão do BRB e que impactam diretamente na prestação de um serviço público <br>Se a proposta não for enquadrada nas situações acima explicitadas o texto a ser inserido deve informar que ela será pautada no COETI e submetida à aprovação.&gt;</span></p>"};

        createVariableCamunda('pcti_dod_alinhamentoEstrategicoPDTI',           'Json', alinhamentoHTML);

        var fundamentacaoContratacaoHTML = {"texto":"<p><span style=\"color:rgb(0,0,255);\">&lt;<strong>Instrução:</strong> Detalhar a motivação e justificativa da proposta da contratação, e qual o impacto no caso da não contratação:&gt;</span></p>"};

        createVariableCamunda('pcti_dod_fundamentacaoContratacao',           'Json', fundamentacaoContratacaoHTML);

        var resultadosASeremAlcancados = {"texto":"<p><span style=\"color:rgb(0,0,255);\"><strong>&lt;Instrução:</strong><i><strong> </strong></i>Demonstrar os resultados a serem alcançados com a contratação da solução de TI, vinculando as necessidades identificadas aos resultados pretendidos. &gt;</span></p>"};

        createVariableCamunda('pcti_dod_resultadosASeremAlcancados',           'Json', fundamentacaoContratacaoHTML);

        var textoEncaminhamento = {"texto":"<p>Em conformidade com o RLC – BRB, Manual de Contratações e Gestão de Contratos e Manual de Contratações de Soluções de TI, encaminha-se à Diretoria de Tecnologia da Informação (DITEC) para decidir motivadamente sobre o prosseguimento do planejamento da contratação.</p>"};

        createVariableCamunda('pcti_dod_textoEncaminhamento',           'Json', textoEncaminhamento);

        var textoIdentificacaoDemanda = {"texto":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(0,0,255);\">&lt;<strong>Instrução</strong>: &nbsp;</span><span style=\"color:rgb(0,0,255);\">Informação sucinta sobre a proposta de contratação ou necessidade<strong>.</strong>&gt;</span></p>"};

        createVariableCamunda('pcti_dod_textoIdentificacaoDemanda',           'Json', textoIdentificacaoDemanda);

        var textoIndicacaoOrcamentaria = {"texto":"<p><span style=\"color:rgb(0,0,255);\">&lt;<strong>Instrução</strong>: indicação da fonte dos recursos para a contratação, incluindo as rubricas orçamentárias e os valores disponíveis no orçamento gerencial da Ditec para a contratação.&gt;&nbsp;</span></p>"};

        createVariableCamunda('pcti_dod_textoIndicacaoOrcamentaria',           'Json', textoIndicacaoOrcamentaria);


        var textoMetas = {"texto":"<p><span style=\"color:rgb(0,0,255);\"><strong>&lt;Instrução:</strong><i><strong> </strong></i>Informar se a proposta de contratação faz parte da meta da Superintendência referente ao semestre ou se está atrelado a algum plano de ação que mitigará fragilidade apontada em auditoria externa ou interna.</span></p><p><span style=\"color:rgb(0,0,255);\">Informar o prazo para cumprimento da meta ou do Plano de Ação. &gt;</span></p>"};

        createVariableCamunda('pcti_dod_textoMetas',           'Json', textoMetas);




        var textoProrrogacao = {"texto":"<p><span style=\"color:rgb(0,0,255);\"><strong>&lt;Instrução:</strong><i><strong> </strong></i>Em caso afirmativo, detalhe a vigência do contrato atual responsável pelo atendimento do serviço. Informar se a proposta pretende prorrogar contrato vigente ou se será um novo contato que substituirá o contrato vigente.</span></p><p><span style=\"color:rgb(0,0,255);\">Em caso negativo, informar se a proposta prevê contratação de serviços eventuais, assim entendidos aqueles cuja necessidade é transitória ou por tempo determinado, com execução vinculada a prazos;&gt;</span></p>"};

        createVariableCamunda('pcti_dod_textoProrrogacao',           'Json', textoProrrogacao);


      });
  

    }]);

    function processAndGetVariable(value) {
      var valueReturn = variableManager.variableValue(value);
      if (valueReturn === undefined || valueReturn === null) {
        variableManager.destroyVariable(value);
      }
      return valueReturn;
    }

    function createVariableCamunda(nameVariable, typeVariable, valueVariable) {
      if (variableManager.variable(nameVariable) != undefined) {
        variableManager.destroyVariable(nameVariable);
      } 
      variableManager.createVariable({
          name: nameVariable,
          type: typeVariable,
          value: valueVariable,
          isDirty: true
      });
    }

    function getValueOfInputRadio(nameElement) { 
      var listElementRadio = document.getElementsByName(nameElement); 
      var returnValue      = '';
      for(var i = 0; i < listElementRadio.length; i++) { 
        if (listElementRadio[i].checked) {
            returnValue = listElementRadio[i].value;
        }
      }
      return returnValue;
    } 

    $scope.dbAreas = [{"cd_empresa_dependencia":"13066","cd_empresa":"1","cd_dependencia":"3066","nm_dependencia":"GERENCIA DE CONTAS DE DEPOSITO","sg_dependencia":"GECOD","cd_tipo_dependencia":"12","cd_dependencia_superior":"3470"},{"cd_empresa_dependencia":"13071","cd_empresa":"1","cd_dependencia":"3071","nm_dependencia":"GERENCIA DE SERVICOS DE COMPENSACAO","sg_dependencia":"GESEC","cd_tipo_dependencia":"12","cd_dependencia_superior":"3010"},{"cd_empresa_dependencia":"13100","cd_empresa":"1","cd_dependencia":"3100","nm_dependencia":"DIRETORIA DE ATENDIMENTO E DISTRIBUICAO","sg_dependencia":"DIATE","cd_tipo_dependencia":"6","cd_dependencia_superior":"1540"},{"cd_empresa_dependencia":"13200","cd_empresa":"1","cd_dependencia":"3200","nm_dependencia":"DIRETORIA EXEC GESTAO PESSOAS ADM RETAGU","sg_dependencia":"DIPES","cd_tipo_dependencia":"6","cd_dependencia_superior":"1540"},{"cd_empresa_dependencia":"13205","cd_empresa":"1","cd_dependencia":"3205","nm_dependencia":"COMISSAO PERMANENTE DE LICITACAO","sg_dependencia":"CPLIC","cd_tipo_dependencia":"8","cd_dependencia_superior":"3200"},{"cd_empresa_dependencia":"13210","cd_empresa":"1","cd_dependencia":"3210","nm_dependencia":"SUPERINTNDENCIA DE LOGISTICA E OPERACOES","sg_dependencia":"SULOG","cd_tipo_dependencia":"7","cd_dependencia_superior":"3200"},{"cd_empresa_dependencia":"13213","cd_empresa":"1","cd_dependencia":"3213","nm_dependencia":"GERENCIA DE SERV GERAIS E LOGISTICA","sg_dependencia":"GESEL","cd_tipo_dependencia":"12","cd_dependencia_superior":"3210"},{"cd_empresa_dependencia":"13214","cd_empresa":"1","cd_dependencia":"3214","nm_dependencia":"GERENCIA DE MATERIAL E PATRIMONIO","sg_dependencia":"GEMAT","cd_tipo_dependencia":"12","cd_dependencia_superior":"3210"},{"cd_empresa_dependencia":"13216","cd_empresa":"1","cd_dependencia":"3216","nm_dependencia":"CARTAO BRB(USO EXCLUSIVO GEMAT)","sg_dependencia":"CARTA","cd_tipo_dependencia":"8","cd_dependencia_superior":"3210"},{"cd_empresa_dependencia":"13218","cd_empresa":"1","cd_dependencia":"3218","nm_dependencia":"GERENCIA DE CONTRATACOES","sg_dependencia":"GECON","cd_tipo_dependencia":"12","cd_dependencia_superior":"3210"},{"cd_empresa_dependencia":"13240","cd_empresa":"1","cd_dependencia":"3240","nm_dependencia":"SUPERINTENDENCIA DE ADMINIST DE PESSOAL","sg_dependencia":"SUAPE","cd_tipo_dependencia":"7","cd_dependencia_superior":"3200"},{"cd_empresa_dependencia":"13241","cd_empresa":"1","cd_dependencia":"3241","nm_dependencia":"GERENCIA   DESENVOLV DE PESSOAS","sg_dependencia":"GEDEP","cd_tipo_dependencia":"12","cd_dependencia_superior":"3262"},{"cd_empresa_dependencia":"13247","cd_empresa":"1","cd_dependencia":"3247","nm_dependencia":"GERENCIA DE REGISTROS E FOLHA PAGAMENTO","sg_dependencia":"GEREG","cd_tipo_dependencia":"12","cd_dependencia_superior":"3240"},{"cd_empresa_dependencia":"13248","cd_empresa":"1","cd_dependencia":"3248","nm_dependencia":"GER DE RECOLHIMENTOS REPASSES E TRIB RH","sg_dependencia":"GEREP","cd_tipo_dependencia":"12","cd_dependencia_superior":"3240"},{"cd_empresa_dependencia":"13249","cd_empresa":"1","cd_dependencia":"3249","nm_dependencia":"GERENCIA DE QUALIDADE DE VIDA","sg_dependencia":"GEVID","cd_tipo_dependencia":"12","cd_dependencia_superior":"3262"},{"cd_empresa_dependencia":"13300","cd_empresa":"1","cd_dependencia":"3300","nm_dependencia":"DIRETORIA DE CREDITO E CLIENTES","sg_dependencia":"DICRE","cd_tipo_dependencia":"6","cd_dependencia_superior":"1540"},{"cd_empresa_dependencia":"13400","cd_empresa":"1","cd_dependencia":"3400","nm_dependencia":"DIRETORIA DE TECNOLOGIA","sg_dependencia":"DITEC","cd_tipo_dependencia":"6","cd_dependencia_superior":"1540"},{"cd_empresa_dependencia":"13403","cd_empresa":"1","cd_dependencia":"3403","nm_dependencia":"SUPERINTENDENCIA DE PRODUCAO","sg_dependencia":"SUPRO","cd_tipo_dependencia":"7","cd_dependencia_superior":"3400"},{"cd_empresa_dependencia":"13405","cd_empresa":"1","cd_dependencia":"3405","nm_dependencia":"SUPERINTENDENCIA DE SISTEMAS","sg_dependencia":"SUSIS","cd_tipo_dependencia":"7","cd_dependencia_superior":"3400"},{"cd_empresa_dependencia":"13464","cd_empresa":"1","cd_dependencia":"3464","nm_dependencia":"GER DE COBRANCA BANCARIA E ARRECADACAO","sg_dependencia":"GECOA","cd_tipo_dependencia":"12","cd_dependencia_superior":"3470"},{"cd_empresa_dependencia":"13567","cd_empresa":"1","cd_dependencia":"3567","nm_dependencia":"NUCLEO TECNO. MANUT. SIST. BACK OFFICE","sg_dependencia":"NUMBO","cd_tipo_dependencia":"8","cd_dependencia_superior":"5011"},{"cd_empresa_dependencia":"13575","cd_empresa":"1","cd_dependencia":"3575","nm_dependencia":"NUCLEO TECNO. MANUT SIS FRONT OFFICE GER","sg_dependencia":"NUMFO","cd_tipo_dependencia":"8","cd_dependencia_superior":"5011"},{"cd_empresa_dependencia":"13581","cd_empresa":"1","cd_dependencia":"3581","nm_dependencia":"NUCLEO TECNO. DE PROJETOS E SOLUCOES","sg_dependencia":"NUPRO","cd_tipo_dependencia":"8","cd_dependencia_superior":"5082"},{"cd_empresa_dependencia":"13582","cd_empresa":"1","cd_dependencia":"3582","nm_dependencia":"NUCLEO TECNO. DE METOD. METRICAS E MODEL","sg_dependencia":"NUM3","cd_tipo_dependencia":"8","cd_dependencia_superior":"3580"},{"cd_empresa_dependencia":"13584","cd_empresa":"1","cd_dependencia":"3584","nm_dependencia":"COORDENACAO DE MODELOS DE OBJ. DE DADOS","sg_dependencia":"COMOD","cd_tipo_dependencia":"7","cd_dependencia_superior":"2748"},{"cd_empresa_dependencia":"13585","cd_empresa":"1","cd_dependencia":"3585","nm_dependencia":"COORDENACAO DE QUALITY ASSURANCE","sg_dependencia":"COQUA","cd_tipo_dependencia":"7","cd_dependencia_superior":"2748"},{"cd_empresa_dependencia":"13597","cd_empresa":"1","cd_dependencia":"3597","nm_dependencia":"GER AREA TEC DE TELEPROC, INFRAEST E SUP","sg_dependencia":"GATIS","cd_tipo_dependencia":"12","cd_dependencia_superior":"3403"},{"cd_empresa_dependencia":"13797","cd_empresa":"1","cd_dependencia":"3797","nm_dependencia":"GERENCIA DE TELEPROC, INFRAEST E SUPORTE","sg_dependencia":"GETIS","cd_tipo_dependencia":"12","cd_dependencia_superior":"3403"},{"cd_empresa_dependencia":"15006","cd_empresa":"1","cd_dependencia":"5006","nm_dependencia":"GERENCIA ORGANIZAÇÃO E PROCESSOS CORPORA","sg_dependencia":"GEORG","cd_tipo_dependencia":"12","cd_dependencia_superior":"6018"},{"cd_empresa_dependencia":"15007","cd_empresa":"1","cd_dependencia":"5007","nm_dependencia":"GERENCIA DE RECUPERACAO DE CREDITO","sg_dependencia":"GEREC","cd_tipo_dependencia":"12","cd_dependencia_superior":"6024"},{"cd_empresa_dependencia":"15013","cd_empresa":"1","cd_dependencia":"5013","nm_dependencia":"COORDENACAO DE INFRA-ESTRUTURA E SUPORTE","sg_dependencia":"COINF","cd_tipo_dependencia":"7","cd_dependencia_superior":"3597"},{"cd_empresa_dependencia":"15015","cd_empresa":"1","cd_dependencia":"5015","nm_dependencia":"DIRETORIA DE CONTROLE","sg_dependencia":"DICON","cd_tipo_dependencia":"6","cd_dependencia_superior":"1540"},{"cd_empresa_dependencia":"15016","cd_empresa":"1","cd_dependencia":"5016","nm_dependencia":"GERENCIA DE RISCO OPERACIONAL","sg_dependencia":"GERIS","cd_tipo_dependencia":"12","cd_dependencia_superior":"2730"},{"cd_empresa_dependencia":"15021","cd_empresa":"1","cd_dependencia":"5021","nm_dependencia":"GERENCIA DE SIST CADASTRO E RISCO CREDIT","sg_dependencia":"GECRE","cd_tipo_dependencia":"12","cd_dependencia_superior":"2680"},{"cd_empresa_dependencia":"15026","cd_empresa":"1","cd_dependencia":"5026","nm_dependencia":"GERENCIA DE CONTROLES INTERNOS","sg_dependencia":"GECIN","cd_tipo_dependencia":"12","cd_dependencia_superior":"5037"},{"cd_empresa_dependencia":"15030","cd_empresa":"1","cd_dependencia":"5030","nm_dependencia":"APOIO CONTRATOS DEINF","sg_dependencia":"APCON","cd_tipo_dependencia":"8","cd_dependencia_superior":"3570"},{"cd_empresa_dependencia":"15043","cd_empresa":"1","cd_dependencia":"5043","nm_dependencia":"GERENCIA DE PLANEJ CONFORMIDADE E PROCES","sg_dependencia":"GEPOP","cd_tipo_dependencia":"12","cd_dependencia_superior":"3400"},{"cd_empresa_dependencia":"15044","cd_empresa":"1","cd_dependencia":"5044","nm_dependencia":"GERENCIA DE MEIOS DE PAGAMENTO","sg_dependencia":"GEMEP","cd_tipo_dependencia":"12","cd_dependencia_superior":"3470"},{"cd_empresa_dependencia":"15048","cd_empresa":"1","cd_dependencia":"5048","nm_dependencia":"GERENCIA DE CUSTODIA LIQUID FINANCE","sg_dependencia":"GECOF","cd_tipo_dependencia":"12","cd_dependencia_superior":"1574"},{"cd_empresa_dependencia":"15049","cd_empresa":"1","cd_dependencia":"5049","nm_dependencia":"GERENCIA DE RESERVA BANCARIA","sg_dependencia":"GEREB","cd_tipo_dependencia":"12","cd_dependencia_superior":"1574"},{"cd_empresa_dependencia":"15056","cd_empresa":"1","cd_dependencia":"5056","nm_dependencia":"GERENCIA DE TELESERVICOS","sg_dependencia":"GETEL","cd_tipo_dependencia":"12","cd_dependencia_superior":"1563"},{"cd_empresa_dependencia":"15057","cd_empresa":"1","cd_dependencia":"5057","nm_dependencia":"GERENCIA DE AVALIACAO E PRECIFICACAO","sg_dependencia":"GEPRE","cd_tipo_dependencia":"12","cd_dependencia_superior":"5247"},{"cd_empresa_dependencia":"15058","cd_empresa":"1","cd_dependencia":"5058","nm_dependencia":"GERENCIA DE OPERACOES FINANCEIRAS","sg_dependencia":"GEOPE","cd_tipo_dependencia":"12","cd_dependencia_superior":"1574"},{"cd_empresa_dependencia":"15059","cd_empresa":"1","cd_dependencia":"5059","nm_dependencia":"SUPERINTENDENCIA DE REDE SUL","sg_dependencia":"SUPSU","cd_tipo_dependencia":"7","cd_dependencia_superior":"6012"},{"cd_empresa_dependencia":"15060","cd_empresa":"1","cd_dependencia":"5060","nm_dependencia":"SUPERINTENDENCIA DE REDE NORTE","sg_dependencia":"SUPNO","cd_tipo_dependencia":"7","cd_dependencia_superior":"6012"},{"cd_empresa_dependencia":"15061","cd_empresa":"1","cd_dependencia":"5061","nm_dependencia":"SUPERINTENDENCIA DE REDE CENTRO","sg_dependencia":"SUPCE","cd_tipo_dependencia":"7","cd_dependencia_superior":"6012"},{"cd_empresa_dependencia":"15066","cd_empresa":"1","cd_dependencia":"5066","nm_dependencia":"GERENCIA DE RISCOS DE MERCADO E LIQUIDEZ","sg_dependencia":"GERIM","cd_tipo_dependencia":"12","cd_dependencia_superior":"1565"},{"cd_empresa_dependencia":"15067","cd_empresa":"1","cd_dependencia":"5067","nm_dependencia":"GERENCIA DE CAPITAL","sg_dependencia":"GECAP","cd_tipo_dependencia":"12","cd_dependencia_superior":"1565"},{"cd_empresa_dependencia":"15069","cd_empresa":"1","cd_dependencia":"5069","nm_dependencia":"GERENCIA DE ORCAMENTO E CUSTOS","sg_dependencia":"GEORC","cd_tipo_dependencia":"12","cd_dependencia_superior":"6028"},{"cd_empresa_dependencia":"15072","cd_empresa":"1","cd_dependencia":"5072","nm_dependencia":"SUPERINTENDENCIA ATEND E DISTR EXTERNA","sg_dependencia":"SUPAE","cd_tipo_dependencia":"7","cd_dependencia_superior":"1564"},{"cd_empresa_dependencia":"15073","cd_empresa":"1","cd_dependencia":"5073","nm_dependencia":"GERENCIA ESTRATEG E RELACION C CLIENTES","sg_dependencia":"GECLI","cd_tipo_dependencia":"12","cd_dependencia_superior":"6045"},{"cd_empresa_dependencia":"15074","cd_empresa":"1","cd_dependencia":"5074","nm_dependencia":"GERENCIA DE CANAIS ELETRONICOS","sg_dependencia":"GENEL","cd_tipo_dependencia":"12","cd_dependencia_superior":"1563"},{"cd_empresa_dependencia":"15075","cd_empresa":"1","cd_dependencia":"5075","nm_dependencia":"GERENCIA DE CANAIS FISICOS","sg_dependencia":"GECAF","cd_tipo_dependencia":"12","cd_dependencia_superior":"1563"},{"cd_empresa_dependencia":"15076","cd_empresa":"1","cd_dependencia":"5076","nm_dependencia":"GERENCIA MODELAGEM E ANALISE RISCO VAREJ","sg_dependencia":"GERIV","cd_tipo_dependencia":"12","cd_dependencia_superior":"2680"},{"cd_empresa_dependencia":"15077","cd_empresa":"1","cd_dependencia":"5077","nm_dependencia":"SUPERINTENDENCIA DE APOIO AO NEGOCIO","sg_dependencia":"SUANE","cd_tipo_dependencia":"7","cd_dependencia_superior":"3300"},{"cd_empresa_dependencia":"15080","cd_empresa":"1","cd_dependencia":"5080","nm_dependencia":"GERENCIA DE OP. DE REDES E CENT. DE SERV","sg_dependencia":"GEMOL","cd_tipo_dependencia":"12","cd_dependencia_superior":"3403"},{"cd_empresa_dependencia":"15081","cd_empresa":"1","cd_dependencia":"5081","nm_dependencia":"NUCLEO DE INOVACAO DE PRODUCAO","sg_dependencia":"NUCIP","cd_tipo_dependencia":"13","cd_dependencia_superior":"3403"},{"cd_empresa_dependencia":"15082","cd_empresa":"1","cd_dependencia":"5082","nm_dependencia":"GERENCIA DE OPERACAO, PRODUCAO E SERV.","sg_dependencia":"GEROP","cd_tipo_dependencia":"12","cd_dependencia_superior":"3403"},{"cd_empresa_dependencia":"15089","cd_empresa":"1","cd_dependencia":"5089","nm_dependencia":"GERENCIA DE ARQUITETURA DE TI","sg_dependencia":"GEARQ","cd_tipo_dependencia":"12","cd_dependencia_superior":"6016"},{"cd_empresa_dependencia":"15090","cd_empresa":"1","cd_dependencia":"5090","nm_dependencia":"NUCLEO DE PROCESSO E QUALIDADE","sg_dependencia":"NUQUA","cd_tipo_dependencia":"13","cd_dependencia_superior":"5043"},{"cd_empresa_dependencia":"15099","cd_empresa":"1","cd_dependencia":"5099","nm_dependencia":"NUCLEO DE GESTAO DE DADOS","sg_dependencia":"NUGED","cd_tipo_dependencia":"13","cd_dependencia_superior":"5252"},{"cd_empresa_dependencia":"13469","cd_empresa":"1","cd_dependencia":"3469","nm_dependencia":"GER DE ADM. DE PRODUTOS E SERV. BACARIOS","sg_dependencia":"GEBAN","cd_tipo_dependencia":"12","cd_dependencia_superior":"3470"},{"cd_empresa_dependencia":"13470","cd_empresa":"1","cd_dependencia":"3470","nm_dependencia":"SUPERINTENDENCIA DE SERVICOS BANCARIOS","sg_dependencia":"SUSEB","cd_tipo_dependencia":"7","cd_dependencia_superior":"6012"},{"cd_empresa_dependencia":"13481","cd_empresa":"1","cd_dependencia":"3481","nm_dependencia":"APOIO ADMINISTRATIVO DEINF","sg_dependencia":"APOIO","cd_tipo_dependencia":"8","cd_dependencia_superior":"3570"},{"cd_empresa_dependencia":"13500","cd_empresa":"1","cd_dependencia":"3500","nm_dependencia":"DIRETORIA DE DESENVOLVIMENTO","sg_dependencia":"DIDES","cd_tipo_dependencia":"6","cd_dependencia_superior":"1540"},{"cd_empresa_dependencia":"13522","cd_empresa":"1","cd_dependencia":"3522","nm_dependencia":"GERENCIA DE OPERACOES IMOBILIARIAS","sg_dependencia":"GEMOB","cd_tipo_dependencia":"12","cd_dependencia_superior":"2610"},{"cd_empresa_dependencia":"13523","cd_empresa":"1","cd_dependencia":"3523","nm_dependencia":"GERENCIA DE HABITACAO","sg_dependencia":"GEHAB","cd_tipo_dependencia":"12","cd_dependencia_superior":"2610"},{"cd_empresa_dependencia":"13535","cd_empresa":"1","cd_dependencia":"3535","nm_dependencia":"GERENCIA DE CONTROLE E FISCALIZACAO","sg_dependencia":"GEFIS","cd_tipo_dependencia":"12","cd_dependencia_superior":"2610"},{"cd_empresa_dependencia":"13536","cd_empresa":"1","cd_dependencia":"3536","nm_dependencia":"GERENCIA DE PROGRAMAS SOCIAIS","sg_dependencia":"GEPOS","cd_tipo_dependencia":"12","cd_dependencia_superior":"1610"},{"cd_empresa_dependencia":"11521","cd_empresa":"1","cd_dependencia":"1521","nm_dependencia":"SUPERINTENDENCIA DE AUDITORIA INTERNA","sg_dependencia":"SUAUD","cd_tipo_dependencia":"7","cd_dependencia_superior":"1520"},{"cd_empresa_dependencia":"11540","cd_empresa":"1","cd_dependencia":"1540","nm_dependencia":"PRESIDENCIA","sg_dependencia":"PRESI","cd_tipo_dependencia":"5","cd_dependencia_superior":"1530"},{"cd_empresa_dependencia":"11552","cd_empresa":"1","cd_dependencia":"1552","nm_dependencia":"SECRETARIA GERAL DE GOVERNANCA","sg_dependencia":"SEGER","cd_tipo_dependencia":"7","cd_dependencia_superior":"1540"},{"cd_empresa_dependencia":"11556","cd_empresa":"1","cd_dependencia":"1556","nm_dependencia":"GERENCIA DE APOIO AO COLEGIADO","sg_dependencia":"GECOL","cd_tipo_dependencia":"12","cd_dependencia_superior":"1552"},{"cd_empresa_dependencia":"11557","cd_empresa":"1","cd_dependencia":"1557","nm_dependencia":"GERENCIA DE GOVERNANCA CORPORATIVA","sg_dependencia":"GEGOC","cd_tipo_dependencia":"12","cd_dependencia_superior":"1552"},{"cd_empresa_dependencia":"11563","cd_empresa":"1","cd_dependencia":"1563","nm_dependencia":"SUPERINTENDENCIA DE GESTAO DE CANAIS","sg_dependencia":"SUCAN","cd_tipo_dependencia":"7","cd_dependencia_superior":"6012"},{"cd_empresa_dependencia":"11564","cd_empresa":"1","cd_dependencia":"1564","nm_dependencia":"SUPERINTENDENCIA DE ATEND E DISTRIBUICAO","sg_dependencia":"SUPAD","cd_tipo_dependencia":"7","cd_dependencia_superior":"3100"},{"cd_empresa_dependencia":"11565","cd_empresa":"1","cd_dependencia":"1565","nm_dependencia":"SUPERINTENDENCIA DE RISCOS CORPORATIVOS","sg_dependencia":"SURIS","cd_tipo_dependencia":"7","cd_dependencia_superior":"6010"},{"cd_empresa_dependencia":"11567","cd_empresa":"1","cd_dependencia":"1567","nm_dependencia":"SUPERINTE. DE REGULAMENTACAO DE CREDITO","sg_dependencia":"SUREG","cd_tipo_dependencia":"7","cd_dependencia_superior":"3300"},{"cd_empresa_dependencia":"11568","cd_empresa":"1","cd_dependencia":"1568","nm_dependencia":"DEPTO DE PRODUTOS DE CREDITO","sg_dependencia":"DEPCE","cd_tipo_dependencia":"7","cd_dependencia_superior":"3500"},{"cd_empresa_dependencia":"11574","cd_empresa":"1","cd_dependencia":"1574","nm_dependencia":"SUPERINTENDENCIA DE OPERACOES FINANC","sg_dependencia":"SUOPE","cd_tipo_dependencia":"7","cd_dependencia_superior":"3000"},{"cd_empresa_dependencia":"11610","cd_empresa":"1","cd_dependencia":"1610","nm_dependencia":"SUPERINTENDENCIA DE GOVERNO","sg_dependencia":"SUGOV","cd_tipo_dependencia":"7","cd_dependencia_superior":"6011"},{"cd_empresa_dependencia":"11630","cd_empresa":"1","cd_dependencia":"1630","nm_dependencia":"SUPERINTENDENCIA DE MARKETING","sg_dependencia":"SUMAR","cd_tipo_dependencia":"7","cd_dependencia_superior":"1540"},{"cd_empresa_dependencia":"11650","cd_empresa":"1","cd_dependencia":"1650","nm_dependencia":"SUPERINTENDENCIA DE RESP SOCIOEM E SUST.","sg_dependencia":"SURES","cd_tipo_dependencia":"7","cd_dependencia_superior":"1540"},{"cd_empresa_dependencia":"11687","cd_empresa":"1","cd_dependencia":"1687","nm_dependencia":"GERENCIA DE PLANEJAMENTO E PROJ ESTRAT","sg_dependencia":"GEPLA","cd_tipo_dependencia":"12","cd_dependencia_superior":"6018"},{"cd_empresa_dependencia":"12606","cd_empresa":"1","cd_dependencia":"2606","nm_dependencia":"GERENCIA DE MODELAGEM DE CREDITO","sg_dependencia":"GEMOC","cd_tipo_dependencia":"12","cd_dependencia_superior":"2680"},{"cd_empresa_dependencia":"12610","cd_empresa":"1","cd_dependencia":"2610","nm_dependencia":"SUPERINTENDENCIA DE PRODUTOS DE ATACADO","sg_dependencia":"SUPAT","cd_tipo_dependencia":"7","cd_dependencia_superior":"6011"},{"cd_empresa_dependencia":"12611","cd_empresa":"1","cd_dependencia":"2611","nm_dependencia":"GERENCIA DE PRODUTOS DE CAMBIO E ATACADO","sg_dependencia":"GECAC","cd_tipo_dependencia":"12","cd_dependencia_superior":"2610"},{"cd_empresa_dependencia":"12612","cd_empresa":"1","cd_dependencia":"2612","nm_dependencia":"GERENCIA DE AGRONEGOCIO","sg_dependencia":"GEGRO","cd_tipo_dependencia":"12","cd_dependencia_superior":"2610"},{"cd_empresa_dependencia":"12627","cd_empresa":"1","cd_dependencia":"2627","nm_dependencia":"GERENCIA MODELAGEM ANALISE RISCO ATACADO","sg_dependencia":"GERAT","cd_tipo_dependencia":"12","cd_dependencia_superior":"2680"},{"cd_empresa_dependencia":"12633","cd_empresa":"1","cd_dependencia":"2633","nm_dependencia":"GER DE PRODUTOS DE CREDITO COMERCIAL PF","sg_dependencia":"GEPEF","cd_tipo_dependencia":"12","cd_dependencia_superior":"6024"},{"cd_empresa_dependencia":"12634","cd_empresa":"1","cd_dependencia":"2634","nm_dependencia":"GER DE PRODUTOS DE CREDITO COMERCIAL PJ","sg_dependencia":"GEPEJ","cd_tipo_dependencia":"12","cd_dependencia_superior":"6024"},{"cd_empresa_dependencia":"12658","cd_empresa":"1","cd_dependencia":"2658","nm_dependencia":"CESSAO ADMINISTRACAO REGIONAL DO SIA","sg_dependencia":"ADSIA","cd_tipo_dependencia":"12","cd_dependencia_superior":"3248"},{"cd_empresa_dependencia":"12659","cd_empresa":"1","cd_dependencia":"2659","nm_dependencia":"CESSAO GOV ESTADO DE GOIAS COM ONUS","sg_dependencia":"CESGO","cd_tipo_dependencia":"12","cd_dependencia_superior":"3248"},{"cd_empresa_dependencia":"12660","cd_empresa":"1","cd_dependencia":"2660","nm_dependencia":"GERENCIA E PATRIMONIO E INFRAESTRUTURA","sg_dependencia":"GERPI","cd_tipo_dependencia":"12","cd_dependencia_superior":"3210"},{"cd_empresa_dependencia":"12665","cd_empresa":"1","cd_dependencia":"2665","nm_dependencia":"GERENCIA DE PUBLICIDADE","sg_dependencia":"GEPUP","cd_tipo_dependencia":"12","cd_dependencia_superior":"1630"},{"cd_empresa_dependencia":"12667","cd_empresa":"1","cd_dependencia":"2667","nm_dependencia":"GERENCIA DE COMUNICACAO E IMPRENSA","sg_dependencia":"GEIMP","cd_tipo_dependencia":"12","cd_dependencia_superior":"1540"},{"cd_empresa_dependencia":"12668","cd_empresa":"1","cd_dependencia":"2668","nm_dependencia":"OUVIDORIA","sg_dependencia":"OUVID","cd_tipo_dependencia":"12","cd_dependencia_superior":"1540"},{"cd_empresa_dependencia":"12680","cd_empresa":"1","cd_dependencia":"2680","nm_dependencia":"SUPERINTENDENCIA DE RISCO DE CREDITO","sg_dependencia":"SURIC","cd_tipo_dependencia":"7","cd_dependencia_superior":"6010"},{"cd_empresa_dependencia":"12693","cd_empresa":"1","cd_dependencia":"2693","nm_dependencia":"GERENCIA DE INFORMACOES CADASTRAIS","sg_dependencia":"GECAD","cd_tipo_dependencia":"12","cd_dependencia_superior":"6045"},{"cd_empresa_dependencia":"12730","cd_empresa":"1","cd_dependencia":"2730","nm_dependencia":"SUPERINTENDENCIA RISCO OPERAC E CIBERNET","sg_dependencia":"SUROC","cd_tipo_dependencia":"7","cd_dependencia_superior":"6010"},{"cd_empresa_dependencia":"12731","cd_empresa":"1","cd_dependencia":"2731","nm_dependencia":"GERENCIA DE SEGURANCA FISICA","sg_dependencia":"GESEF","cd_tipo_dependencia":"12","cd_dependencia_superior":"3210"},{"cd_empresa_dependencia":"12732","cd_empresa":"1","cd_dependencia":"2732","nm_dependencia":"GERENCIA DE SEGURANCA DA INFORMACAO","sg_dependencia":"GESEI","cd_tipo_dependencia":"12","cd_dependencia_superior":"2730"},{"cd_empresa_dependencia":"12733","cd_empresa":"1","cd_dependencia":"2733","nm_dependencia":"GERENCIA DE PREVENCAO LAVAGEME DINHEIRO","sg_dependencia":"GEPLD","cd_tipo_dependencia":"12","cd_dependencia_superior":"5037"},{"cd_empresa_dependencia":"12813","cd_empresa":"1","cd_dependencia":"2813","nm_dependencia":"NUCLEO CONTABIL SUSEB(N. CONTABIL)","sg_dependencia":"NCSEB","cd_tipo_dependencia":"12","cd_dependencia_superior":"3010"},{"cd_empresa_dependencia":"12870","cd_empresa":"1","cd_dependencia":"2870","nm_dependencia":"GER. CONTROLE OPERACOES DA CFI","sg_dependencia":"GEOFI","cd_tipo_dependencia":"12","cd_dependencia_superior":"2600"},{"cd_empresa_dependencia":"12880","cd_empresa":"1","cd_dependencia":"2880","nm_dependencia":"GER. BRB CFI TAGUATINGA","sg_dependencia":"GETAG","cd_tipo_dependencia":"12","cd_dependencia_superior":"2600"},{"cd_empresa_dependencia":"12930","cd_empresa":"1","cd_dependencia":"2930","nm_dependencia":"GERENCIA DE CAMBIO","sg_dependencia":"GECAM","cd_tipo_dependencia":"12","cd_dependencia_superior":"6024"},{"cd_empresa_dependencia":"13000","cd_empresa":"1","cd_dependencia":"3000","nm_dependencia":"DIRETORIA EXEC DE FINANCAS E CONTROLADOR","sg_dependencia":"DIFIC","cd_tipo_dependencia":"6","cd_dependencia_superior":"1540"},{"cd_empresa_dependencia":"13008","cd_empresa":"1","cd_dependencia":"3008","nm_dependencia":"GERENCIA DE PRODUTOS DE GOVERNO","sg_dependencia":"GEGOV","cd_tipo_dependencia":"12","cd_dependencia_superior":"1610"},{"cd_empresa_dependencia":"13010","cd_empresa":"1","cd_dependencia":"3010","nm_dependencia":"SUPERINTENDENCIA DE CONT CENTRAL E TRIBU","sg_dependencia":"SUCOC","cd_tipo_dependencia":"7","cd_dependencia_superior":"3000"},{"cd_empresa_dependencia":"13013","cd_empresa":"1","cd_dependencia":"3013","nm_dependencia":"GERENCIA DE CONTABILIDADE","sg_dependencia":"GECOC","cd_tipo_dependencia":"12","cd_dependencia_superior":"3010"},{"cd_empresa_dependencia":"13014","cd_empresa":"1","cd_dependencia":"3014","nm_dependencia":"GERENCIA TRIBUTARIA","sg_dependencia":"GETRI","cd_tipo_dependencia":"12","cd_dependencia_superior":"3010"},{"cd_empresa_dependencia":"13015","cd_empresa":"1","cd_dependencia":"3015","nm_dependencia":"GERENCIA DE EVIDENCIACAO E POLIT CONT","sg_dependencia":"GEVIC","cd_tipo_dependencia":"12","cd_dependencia_superior":"3010"},{"cd_empresa_dependencia":"13017","cd_empresa":"1","cd_dependencia":"3017","nm_dependencia":"GER DE NORMATIZACAO E PLANEJ TRIBUTARIO","sg_dependencia":"GENOT","cd_tipo_dependencia":"12","cd_dependencia_superior":"3010"},{"cd_empresa_dependencia":"10000","cd_empresa":"1","cd_dependencia":"0","nm_dependencia":"BRB - BANCO DE BRASILIA","sg_dependencia":"BRB","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"},{"cd_empresa_dependencia":"10231","cd_empresa":"1","cd_dependencia":"231","nm_dependencia":"CENTRALIZADORA DE CONCILIACAO CONTABIL","sg_dependencia":"CECOC","cd_tipo_dependencia":"12","cd_dependencia_superior":"3010"},{"cd_empresa_dependencia":"10510","cd_empresa":"1","cd_dependencia":"510","nm_dependencia":"GER AGENCIA VIRTUAL (NUCLEO CONTABIL)","sg_dependencia":"GETAV","cd_tipo_dependencia":"12","cd_dependencia_superior":"3010"},{"cd_empresa_dependencia":"10246","cd_empresa":"1","cd_dependencia":"246","nm_dependencia":"CENTRAL SERVICOS DE  TESOURARIA","sg_dependencia":"CETEG","cd_tipo_dependencia":"12","cd_dependencia_superior":"6032"},{"cd_empresa_dependencia":"15218","cd_empresa":"1","cd_dependencia":"5218","nm_dependencia":"GER. DE INOV. MOBILID. E GEST. DE PROJ.","sg_dependencia":"GIMEP","cd_tipo_dependencia":"12","cd_dependencia_superior":"3405"},{"cd_empresa_dependencia":"15219","cd_empresa":"1","cd_dependencia":"5219","nm_dependencia":"NUCLEO DE APOIO ADM. DA TI","sg_dependencia":"NUADM","cd_tipo_dependencia":"13","cd_dependencia_superior":"3400"},{"cd_empresa_dependencia":"15221","cd_empresa":"1","cd_dependencia":"5221","nm_dependencia":"GERENCIA DE AUTOMACAO E CANAIS","sg_dependencia":"GEAUC","cd_tipo_dependencia":"12","cd_dependencia_superior":"3405"},{"cd_empresa_dependencia":"15223","cd_empresa":"1","cd_dependencia":"5223","nm_dependencia":"GERENCIA DE MUDANCAS E CONFIGURACAO","sg_dependencia":"GEMUD","cd_tipo_dependencia":"12","cd_dependencia_superior":"3403"},{"cd_empresa_dependencia":"15224","cd_empresa":"1","cd_dependencia":"5224","nm_dependencia":"NUCLEO DE CONFIGURACAO","sg_dependencia":"NUCOF","cd_tipo_dependencia":"13","cd_dependencia_superior":"5223"},{"cd_empresa_dependencia":"15225","cd_empresa":"1","cd_dependencia":"5225","nm_dependencia":"NUCLEO DE MUDANCAS","sg_dependencia":"NUMUD","cd_tipo_dependencia":"13","cd_dependencia_superior":"5223"},{"cd_empresa_dependencia":"15226","cd_empresa":"1","cd_dependencia":"5226","nm_dependencia":"GER. DE SIST. DE RET. PORTAIS E APOIO","sg_dependencia":"GERPA","cd_tipo_dependencia":"12","cd_dependencia_superior":"3405"},{"cd_empresa_dependencia":"15227","cd_empresa":"1","cd_dependencia":"5227","nm_dependencia":"NUCLEO DE SISTEMAS DE RET. E APOIO","sg_dependencia":"NUREA","cd_tipo_dependencia":"13","cd_dependencia_superior":"5226"},{"cd_empresa_dependencia":"15228","cd_empresa":"1","cd_dependencia":"5228","nm_dependencia":"NUCLEO DE SIST. DE INTER INTRA. E PORT.","sg_dependencia":"NUINP","cd_tipo_dependencia":"12","cd_dependencia_superior":"5226"},{"cd_empresa_dependencia":"15229","cd_empresa":"1","cd_dependencia":"5229","nm_dependencia":"GERENCIA DE TESTES E METRICA","sg_dependencia":"GETEM","cd_tipo_dependencia":"12","cd_dependencia_superior":"3405"},{"cd_empresa_dependencia":"15230","cd_empresa":"1","cd_dependencia":"5230","nm_dependencia":"NUCLEO DE MEDICAO","sg_dependencia":"NUMED","cd_tipo_dependencia":"13","cd_dependencia_superior":"5229"},{"cd_empresa_dependencia":"15231","cd_empresa":"1","cd_dependencia":"5231","nm_dependencia":"NUCLEO DE TESTES DE SIST. ALTA PLAT","sg_dependencia":"NUTAP","cd_tipo_dependencia":"13","cd_dependencia_superior":"5229"},{"cd_empresa_dependencia":"15232","cd_empresa":"1","cd_dependencia":"5232","nm_dependencia":"NUCLEO DE TESTES SIST BAIXA PLAT","sg_dependencia":"NUTEB","cd_tipo_dependencia":"13","cd_dependencia_superior":"5229"},{"cd_empresa_dependencia":"15233","cd_empresa":"1","cd_dependencia":"5233","nm_dependencia":"GERENCIA DE ADMINISTRACAO DA REDE","sg_dependencia":"GEARE","cd_tipo_dependencia":"12","cd_dependencia_superior":"5237"},{"cd_empresa_dependencia":"15234","cd_empresa":"1","cd_dependencia":"5234","nm_dependencia":"GERENCIA DE PREVENCAO A FRAUDES","sg_dependencia":"GEFRA","cd_tipo_dependencia":"12","cd_dependencia_superior":"2730"},{"cd_empresa_dependencia":"10515","cd_empresa":"1","cd_dependencia":"515","nm_dependencia":"TLB CNP NEGOCIAL","sg_dependencia":"CNPN","cd_tipo_dependencia":"12","cd_dependencia_superior":"510"},{"cd_empresa_dependencia":"11634","cd_empresa":"1","cd_dependencia":"1634","nm_dependencia":"GERENCIA DE PATRIMONIO CULTURAL","sg_dependencia":"GEPAC","cd_tipo_dependencia":"12","cd_dependencia_superior":"1630"},{"cd_empresa_dependencia":"12666","cd_empresa":"1","cd_dependencia":"2666","nm_dependencia":"GERENCIA DE MARKETING DE RELACIONAMENTO","sg_dependencia":"GEMRE","cd_tipo_dependencia":"12","cd_dependencia_superior":"1630"},{"cd_empresa_dependencia":"13262","cd_empresa":"1","cd_dependencia":"3262","nm_dependencia":"SUP DE ESTRATEGIA E DESENV DE PESSOAS","sg_dependencia":"SUEPE","cd_tipo_dependencia":"7","cd_dependencia_superior":"3200"},{"cd_empresa_dependencia":"13263","cd_empresa":"1","cd_dependencia":"3263","nm_dependencia":"GERENCIA ESTRATEGIA  GESTAO DE TALENTOS","sg_dependencia":"GETEP","cd_tipo_dependencia":"12","cd_dependencia_superior":"3262"},{"cd_empresa_dependencia":"13264","cd_empresa":"1","cd_dependencia":"3264","nm_dependencia":"CENTRALIZADORA DE SERVICOS DE PESSOAS","sg_dependencia":"CESEP","cd_tipo_dependencia":"12","cd_dependencia_superior":"3240"},{"cd_empresa_dependencia":"13265","cd_empresa":"1","cd_dependencia":"3265","nm_dependencia":"CENTRALIZADORA DE CONTAS A PAGAR","sg_dependencia":"CEPAG","cd_tipo_dependencia":"12","cd_dependencia_superior":"6032"},{"cd_empresa_dependencia":"13700","cd_empresa":"1","cd_dependencia":"3700","nm_dependencia":"DIRETORIA EXECUTIVA DE NOVOS NEGOCIOS","sg_dependencia":"DINEG","cd_tipo_dependencia":"6","cd_dependencia_superior":"1540"},{"cd_empresa_dependencia":"13701","cd_empresa":"1","cd_dependencia":"3701","nm_dependencia":"SUP. DE FUSOES, AQUIS. E PARTICIPAÇOES","sg_dependencia":"SUPAR","cd_tipo_dependencia":"7","cd_dependencia_superior":"3700"},{"cd_empresa_dependencia":"13702","cd_empresa":"1","cd_dependencia":"3702","nm_dependencia":"GERENCIA DE FUSOES E AQUISIÇOES","sg_dependencia":"GEFEA","cd_tipo_dependencia":"12","cd_dependencia_superior":"3701"},{"cd_empresa_dependencia":"13703","cd_empresa":"1","cd_dependencia":"3703","nm_dependencia":"GERENCIA DE PARTICIPAÇOES","sg_dependencia":"GEPAR","cd_tipo_dependencia":"12","cd_dependencia_superior":"3701"},{"cd_empresa_dependencia":"13704","cd_empresa":"1","cd_dependencia":"3704","nm_dependencia":"SUPERINTENDENCIA DE NEGOCIOS DIGITAIS","sg_dependencia":"SUDIG","cd_tipo_dependencia":"7","cd_dependencia_superior":"3700"},{"cd_empresa_dependencia":"13705","cd_empresa":"1","cd_dependencia":"3705","nm_dependencia":"GERENCIA DO BANCO DIGITAL","sg_dependencia":"GEDIG","cd_tipo_dependencia":"12","cd_dependencia_superior":"3704"},{"cd_empresa_dependencia":"13706","cd_empresa":"1","cd_dependencia":"3706","nm_dependencia":"GERENCIA DE MEIO DE PAG DIGITAIS","sg_dependencia":"GEMED","cd_tipo_dependencia":"12","cd_dependencia_superior":"3704"},{"cd_empresa_dependencia":"15037","cd_empresa":"1","cd_dependencia":"5037","nm_dependencia":"SUPERINTENDENCIA DE CONTROLE INSTITUC","sg_dependencia":"SUCOI","cd_tipo_dependencia":"7","cd_dependencia_superior":"6010"},{"cd_empresa_dependencia":"15038","cd_empresa":"1","cd_dependencia":"5038","nm_dependencia":"GERENCIA DE MONIT E VALIDACAO DE MODELOS","sg_dependencia":"GEVAM","cd_tipo_dependencia":"12","cd_dependencia_superior":"5037"},{"cd_empresa_dependencia":"15039","cd_empresa":"1","cd_dependencia":"5039","nm_dependencia":"GERENCIA DE GARANTIAS","sg_dependencia":"GEGAR","cd_tipo_dependencia":"12","cd_dependencia_superior":"6032"},{"cd_empresa_dependencia":"15235","cd_empresa":"1","cd_dependencia":"5235","nm_dependencia":"GERENCIA DE DE RISCO DA CARTEIRA DE CRED","sg_dependencia":"GERIC","cd_tipo_dependencia":"12","cd_dependencia_superior":"1565"},{"cd_empresa_dependencia":"15236","cd_empresa":"1","cd_dependencia":"5236","nm_dependencia":"GERENCIA DE RELACIONAMENTO COM CLIENTE","sg_dependencia":"GECRM","cd_tipo_dependencia":"12","cd_dependencia_superior":"6012"},{"cd_empresa_dependencia":"15237","cd_empresa":"1","cd_dependencia":"5237","nm_dependencia":"SUPERINT DE ADMINISTRACAO DE REDE","sg_dependencia":"SUARE","cd_tipo_dependencia":"7","cd_dependencia_superior":"6012"},{"cd_empresa_dependencia":"15238","cd_empresa":"1","cd_dependencia":"5238","nm_dependencia":"GERENCIA DE CONVENIOS","sg_dependencia":"GECOV","cd_tipo_dependencia":"12","cd_dependencia_superior":"5237"},{"cd_empresa_dependencia":"15239","cd_empresa":"1","cd_dependencia":"5239","nm_dependencia":"GERENCIA DE ESTRATEGIA DE CANAIS","sg_dependencia":"GECAN","cd_tipo_dependencia":"12","cd_dependencia_superior":"1563"},{"cd_empresa_dependencia":"15240","cd_empresa":"1","cd_dependencia":"5240","nm_dependencia":"SUPERINTENDENCIA DE REDE DE EXPANSAO","sg_dependencia":"SUPEX","cd_tipo_dependencia":"7","cd_dependencia_superior":"6012"},{"cd_empresa_dependencia":"15241","cd_empresa":"1","cd_dependencia":"5241","nm_dependencia":"GERENCIA DE SEGUROS E PREVIDENCIA","sg_dependencia":"GESEP","cd_tipo_dependencia":"12","cd_dependencia_superior":"3470"},{"cd_empresa_dependencia":"15242","cd_empresa":"1","cd_dependencia":"5242","nm_dependencia":"GER DE PRODUTOS DE INVEST E CAPTACAO","sg_dependencia":"GEINV","cd_tipo_dependencia":"12","cd_dependencia_superior":"6024"},{"cd_empresa_dependencia":"15243","cd_empresa":"1","cd_dependencia":"5243","nm_dependencia":"GERENCIA DE DEPOSITOS JUDICIAIS","sg_dependencia":"GEJUD","cd_tipo_dependencia":"12","cd_dependencia_superior":"2610"},{"cd_empresa_dependencia":"15244","cd_empresa":"1","cd_dependencia":"5244","nm_dependencia":"GERENCIA DE MICROCREDITO","sg_dependencia":"GEMIC","cd_tipo_dependencia":"12","cd_dependencia_superior":"1610"},{"cd_empresa_dependencia":"15245","cd_empresa":"1","cd_dependencia":"5245","nm_dependencia":"SUPERINTENDENCIA DE MOBILIDADE","sg_dependencia":"SUMOB","cd_tipo_dependencia":"7","cd_dependencia_superior":"6011"},{"cd_empresa_dependencia":"15246","cd_empresa":"1","cd_dependencia":"5246","nm_dependencia":"GERENCIA DE PRODUTOS E SERV DE MOBILIDAD","sg_dependencia":"GEPSO","cd_tipo_dependencia":"12","cd_dependencia_superior":"5245"},{"cd_empresa_dependencia":"15247","cd_empresa":"1","cd_dependencia":"5247","nm_dependencia":"SUP. DE PLANEJ FINANC,ALM E PRECIFICACAO","sg_dependencia":"SUPLA","cd_tipo_dependencia":"7","cd_dependencia_superior":"3000"},{"cd_empresa_dependencia":"15248","cd_empresa":"1","cd_dependencia":"5248","nm_dependencia":"GERENCIA DE PESQUISAS E CENARIOS ECONOMI","sg_dependencia":"GECEN","cd_tipo_dependencia":"12","cd_dependencia_superior":"5247"},{"cd_empresa_dependencia":"15249","cd_empresa":"1","cd_dependencia":"5249","nm_dependencia":"GERENCIA DE GESTAO DE ATIVOS E PASSIVOS","sg_dependencia":"GEGAP","cd_tipo_dependencia":"12","cd_dependencia_superior":"5247"},{"cd_empresa_dependencia":"15250","cd_empresa":"1","cd_dependencia":"5250","nm_dependencia":"GERENCIA DE EFICIENCIA OPERACIONAL","sg_dependencia":"GEREO","cd_tipo_dependencia":"12","cd_dependencia_superior":"6028"},{"cd_empresa_dependencia":"15251","cd_empresa":"1","cd_dependencia":"5251","nm_dependencia":"NUCLEO DE MODERNIZACAO DE ARQUIT DE TI","sg_dependencia":"NUMAT","cd_tipo_dependencia":"13","cd_dependencia_superior":"5089"},{"cd_empresa_dependencia":"15252","cd_empresa":"1","cd_dependencia":"5252","nm_dependencia":"GERENCIA DE DADOS E ANALYTICS","sg_dependencia":"GEDAN","cd_tipo_dependencia":"12","cd_dependencia_superior":"6016"},{"cd_empresa_dependencia":"15253","cd_empresa":"1","cd_dependencia":"5253","nm_dependencia":"NUCLEO DE SIST BILHETAGEM E MOBILIDADE","sg_dependencia":"NUMOB","cd_tipo_dependencia":"13","cd_dependencia_superior":"5221"},{"cd_empresa_dependencia":"16058","cd_empresa":"1","cd_dependencia":"6058","nm_dependencia":"CENTRALIZADORA DE OPERACOES","sg_dependencia":"CEOPE","cd_tipo_dependencia":"12","cd_dependencia_superior":"6032"},{"cd_empresa_dependencia":"16059","cd_empresa":"1","cd_dependencia":"6059","nm_dependencia":"SUPERINTENDENCIA DE NEG DE ATACADO E GOV","sg_dependencia":"SUNAG","cd_tipo_dependencia":"7","cd_dependencia_superior":"6011"},{"cd_empresa_dependencia":"16060","cd_empresa":"1","cd_dependencia":"6060","nm_dependencia":"GERENCIA DE INOVACAO","sg_dependencia":"GINOV","cd_tipo_dependencia":"12","cd_dependencia_superior":"6018"},{"cd_empresa_dependencia":"16061","cd_empresa":"1","cd_dependencia":"6061","nm_dependencia":"GERENCIA DE CLIENTES E CANAIS DE MOBILID","sg_dependencia":"GECOB","cd_tipo_dependencia":"12","cd_dependencia_superior":"5245"},{"cd_empresa_dependencia":"16062","cd_empresa":"1","cd_dependencia":"6062","nm_dependencia":"GERENCIA DE PROJETOS DE GOV E ASSIT TECN","sg_dependencia":"GEPOG","cd_tipo_dependencia":"12","cd_dependencia_superior":"1610"},{"cd_empresa_dependencia":"16063","cd_empresa":"1","cd_dependencia":"6063","nm_dependencia":"CORREGEDORIA INTERNA","sg_dependencia":"COREG","cd_tipo_dependencia":"7","cd_dependencia_superior":"1540"},{"cd_empresa_dependencia":"16064","cd_empresa":"1","cd_dependencia":"6064","nm_dependencia":"DIRETORIA JURIDICA","sg_dependencia":"DIJUR","cd_tipo_dependencia":"6","cd_dependencia_superior":"1540"},{"cd_empresa_dependencia":"16065","cd_empresa":"1","cd_dependencia":"6065","nm_dependencia":"ONBOARDING BRB","sg_dependencia":"ONBRB","cd_tipo_dependencia":"12","cd_dependencia_superior":"3240"},{"cd_empresa_dependencia":"16066","cd_empresa":"1","cd_dependencia":"6066","nm_dependencia":"EMPREGADO EM QUADRO EXTRA","sg_dependencia":"EMQEX","cd_tipo_dependencia":"12","cd_dependencia_superior":"3240"},{"cd_empresa_dependencia":"16067","cd_empresa":"1","cd_dependencia":"6067","nm_dependencia":"EMPREGADO EM AFASTAMENTO POR SAUDE","sg_dependencia":"EMAFT","cd_tipo_dependencia":"12","cd_dependencia_superior":"3240"},{"cd_empresa_dependencia":"16068","cd_empresa":"1","cd_dependencia":"6068","nm_dependencia":"EMPREGADO EM DESENVOLVIMENTO TRAINEE","sg_dependencia":"EMTNE","cd_tipo_dependencia":"12","cd_dependencia_superior":"3240"},{"cd_empresa_dependencia":"16069","cd_empresa":"1","cd_dependencia":"6069","nm_dependencia":"GERENCIA DE CORREGEDORIA E INVESTIGAÇAO","sg_dependencia":"GECOG","cd_tipo_dependencia":"12","cd_dependencia_superior":"6063"},{"cd_empresa_dependencia":"16070","cd_empresa":"1","cd_dependencia":"6070","nm_dependencia":"SUPERINTENDENCIA JURIDICA CONSULTIVA","sg_dependencia":"SUJUC","cd_tipo_dependencia":"7","cd_dependencia_superior":"6064"},{"cd_empresa_dependencia":"16071","cd_empresa":"1","cd_dependencia":"6071","nm_dependencia":"COORDENADORIA DE CONTRATACOES","sg_dependencia":"CCONT","cd_tipo_dependencia":"12","cd_dependencia_superior":"6070"},{"cd_empresa_dependencia":"16072","cd_empresa":"1","cd_dependencia":"6072","nm_dependencia":"COORDENADORIA DE SOCIETARIO E REGULAT","sg_dependencia":"CSORE","cd_tipo_dependencia":"12","cd_dependencia_superior":"6070"},{"cd_empresa_dependencia":"16073","cd_empresa":"1","cd_dependencia":"6073","nm_dependencia":"SUPERINTENDENCIA JURIDICA CONTENCIOSO","sg_dependencia":"SUJUT","cd_tipo_dependencia":"7","cd_dependencia_superior":"6064"},{"cd_empresa_dependencia":"16074","cd_empresa":"1","cd_dependencia":"6074","nm_dependencia":"COORDENADORIA DE ACOES RELEV INST E TRAB","sg_dependencia":"COARI","cd_tipo_dependencia":"12","cd_dependencia_superior":"6073"},{"cd_empresa_dependencia":"16075","cd_empresa":"1","cd_dependencia":"6075","nm_dependencia":"COORDENADORIA DE CONSUMIDOR E MASSIF","sg_dependencia":"CCONS","cd_tipo_dependencia":"12","cd_dependencia_superior":"6073"},{"cd_empresa_dependencia":"16076","cd_empresa":"1","cd_dependencia":"6076","nm_dependencia":"CENTRALIZADORA JURIDICA","sg_dependencia":"CEJUD","cd_tipo_dependencia":"12","cd_dependencia_superior":"6073"},{"cd_empresa_dependencia":"16077","cd_empresa":"1","cd_dependencia":"6077","nm_dependencia":"CENTRALIZADORA DE OPERACOES AGENCIAS","sg_dependencia":"CEOAG","cd_tipo_dependencia":"13","cd_dependencia_superior":"6058"},{"cd_empresa_dependencia":"10512","cd_empresa":"1","cd_dependencia":"512","nm_dependencia":"TLB Multicanal","sg_dependencia":"TLB","cd_tipo_dependencia":"12","cd_dependencia_superior":"510"},{"cd_empresa_dependencia":"15192","cd_empresa":"1","cd_dependencia":"5192","nm_dependencia":"NUCLEO DE MONITORAMENTO","sg_dependencia":"NUMON","cd_tipo_dependencia":"13","cd_dependencia_superior":"5082"},{"cd_empresa_dependencia":"15194","cd_empresa":"1","cd_dependencia":"5194","nm_dependencia":"NUCLEO DE CENTRAL DE SERVICOS","sg_dependencia":"NUSER","cd_tipo_dependencia":"13","cd_dependencia_superior":"5080"},{"cd_empresa_dependencia":"15195","cd_empresa":"1","cd_dependencia":"5195","nm_dependencia":"NUCLEO ADM DE BANCO DE DADOS","sg_dependencia":"NUABA","cd_tipo_dependencia":"13","cd_dependencia_superior":"3797"},{"cd_empresa_dependencia":"15196","cd_empresa":"1","cd_dependencia":"5196","nm_dependencia":"NUCLEO DE COMUNICACAO","sg_dependencia":"NUCOM","cd_tipo_dependencia":"13","cd_dependencia_superior":"3797"},{"cd_empresa_dependencia":"15197","cd_empresa":"1","cd_dependencia":"5197","nm_dependencia":"NUCLEO INFRAESTRUTURA BAIXA PLATAFORMA","sg_dependencia":"NUBAP","cd_tipo_dependencia":"13","cd_dependencia_superior":"3797"},{"cd_empresa_dependencia":"15198","cd_empresa":"1","cd_dependencia":"5198","nm_dependencia":"NUCLEO INFRAESTRUTURA ALTA PLATAFORMA","sg_dependencia":"NULAP","cd_tipo_dependencia":"13","cd_dependencia_superior":"3797"},{"cd_empresa_dependencia":"15205","cd_empresa":"1","cd_dependencia":"5205","nm_dependencia":"NUCLEO DE OPERACAO DE REDES","sg_dependencia":"NURED","cd_tipo_dependencia":"13","cd_dependencia_superior":"5080"},{"cd_empresa_dependencia":"15206","cd_empresa":"1","cd_dependencia":"5206","nm_dependencia":"NUCLEO OP BAIXA PLATAF AUTOM BANC MULTIC","sg_dependencia":"NUBAM","cd_tipo_dependencia":"13","cd_dependencia_superior":"5082"},{"cd_empresa_dependencia":"15210","cd_empresa":"1","cd_dependencia":"5210","nm_dependencia":"NUCLEO SIST CAPTACAO INVEST E COMPENSACA","sg_dependencia":"NUCAC","cd_tipo_dependencia":"13","cd_dependencia_superior":"5115"},{"cd_empresa_dependencia":"15211","cd_empresa":"1","cd_dependencia":"5211","nm_dependencia":"NUCLEO SIST SERVICOS E PAGAMENTOS","sg_dependencia":"NUSEP","cd_tipo_dependencia":"13","cd_dependencia_superior":"5115"},{"cd_empresa_dependencia":"15212","cd_empresa":"1","cd_dependencia":"5212","nm_dependencia":"NUCLEO SIST APOIO PORTAIS E ESCRITORIO","sg_dependencia":"NUAPE","cd_tipo_dependencia":"13","cd_dependencia_superior":"5117"},{"cd_empresa_dependencia":"15213","cd_empresa":"1","cd_dependencia":"5213","nm_dependencia":"NUCLEO DE AUTOMACAO","sg_dependencia":"NUAUT","cd_tipo_dependencia":"13","cd_dependencia_superior":"5221"},{"cd_empresa_dependencia":"15214","cd_empresa":"1","cd_dependencia":"5214","nm_dependencia":"NUCLEO DE CANAIS","sg_dependencia":"NUCAN","cd_tipo_dependencia":"13","cd_dependencia_superior":"5221"},{"cd_empresa_dependencia":"15215","cd_empresa":"1","cd_dependencia":"5215","nm_dependencia":"NUCLEO DE SISTEMAS DE CADASTRO","sg_dependencia":"NUCAD","cd_tipo_dependencia":"13","cd_dependencia_superior":"6051"},{"cd_empresa_dependencia":"15216","cd_empresa":"1","cd_dependencia":"5216","nm_dependencia":"NUCLEO DE ANALYTICS","sg_dependencia":"NUDAN","cd_tipo_dependencia":"13","cd_dependencia_superior":"5252"},{"cd_empresa_dependencia":"15217","cd_empresa":"1","cd_dependencia":"5217","nm_dependencia":"NUCLEO DE SISTEMAS EXTERNOS","sg_dependencia":"NUEXT","cd_tipo_dependencia":"13","cd_dependencia_superior":"5226"},{"cd_empresa_dependencia":"16030","cd_empresa":"1","cd_dependencia":"6030","nm_dependencia":"GERENCIA DE MONIT E AVALIACAO DE RESULTA","sg_dependencia":"GEMOR","cd_tipo_dependencia":"12","cd_dependencia_superior":"6028"},{"cd_empresa_dependencia":"16031","cd_empresa":"1","cd_dependencia":"6031","nm_dependencia":"GERENCIA DE RENTABILIDADE E  CUSTOS","sg_dependencia":"GEREC","cd_tipo_dependencia":"12","cd_dependencia_superior":"6028"},{"cd_empresa_dependencia":"16032","cd_empresa":"1","cd_dependencia":"6032","nm_dependencia":"SUPERINT CENTRALIZAD SERVICOS RETAGUARDA","sg_dependencia":"SUCER","cd_tipo_dependencia":"7","cd_dependencia_superior":"3200"},{"cd_empresa_dependencia":"16033","cd_empresa":"1","cd_dependencia":"6033","nm_dependencia":"CENTRAL DE SERV DE FORMAL DE DOC DE CRED","sg_dependencia":"CEDEC","cd_tipo_dependencia":"12","cd_dependencia_superior":"6032"},{"cd_empresa_dependencia":"16034","cd_empresa":"1","cd_dependencia":"6034","nm_dependencia":"CENTRALIZADORA SERV RETAG CADAST E CREDI","sg_dependencia":"CECAC","cd_tipo_dependencia":"12","cd_dependencia_superior":"6032"},{"cd_empresa_dependencia":"16035","cd_empresa":"1","cd_dependencia":"6035","nm_dependencia":"CENTRALIZADORA DE COMPENSACAO E TESOURAR","sg_dependencia":"CECOT","cd_tipo_dependencia":"12","cd_dependencia_superior":"6032"},{"cd_empresa_dependencia":"16037","cd_empresa":"1","cd_dependencia":"6037","nm_dependencia":"GERENCIA DE AUDITORIA DE TI","sg_dependencia":"GEATI","cd_tipo_dependencia":"12","cd_dependencia_superior":"1521"},{"cd_empresa_dependencia":"16038","cd_empresa":"1","cd_dependencia":"6038","nm_dependencia":"GERENCIA DE AUDITORIAO","sg_dependencia":"GEAUD","cd_tipo_dependencia":"12","cd_dependencia_superior":"1521"},{"cd_empresa_dependencia":"16039","cd_empresa":"1","cd_dependencia":"6039","nm_dependencia":"GERENCIA DE PATROCINIO","sg_dependencia":"GEPAT","cd_tipo_dependencia":"12","cd_dependencia_superior":"1630"},{"cd_empresa_dependencia":"16041","cd_empresa":"1","cd_dependencia":"6041","nm_dependencia":"GERENCIA DE CORRESPONDENTES","sg_dependencia":"GECOR","cd_tipo_dependencia":"12","cd_dependencia_superior":"1563"},{"cd_empresa_dependencia":"16043","cd_empresa":"1","cd_dependencia":"6043","nm_dependencia":"GERENCIA DE PORTIFOLIO  PRODUTOS TARIFAS","sg_dependencia":"GEPOT","cd_tipo_dependencia":"12","cd_dependencia_superior":"6045"},{"cd_empresa_dependencia":"16045","cd_empresa":"1","cd_dependencia":"6045","nm_dependencia":"SUPERINT INTELIGENCIA CLIENTES E CANAIS","sg_dependencia":"SUCLI","cd_tipo_dependencia":"7","cd_dependencia_superior":"3300"},{"cd_empresa_dependencia":"16046","cd_empresa":"1","cd_dependencia":"6046","nm_dependencia":"GERENCIA INFORMACAO DE CLIENTES","sg_dependencia":"GEINC","cd_tipo_dependencia":"12","cd_dependencia_superior":"6045"},{"cd_empresa_dependencia":"16051","cd_empresa":"1","cd_dependencia":"6051","nm_dependencia":"GERENCIA SIST CADAST EXT E INFO CORPORAT","sg_dependencia":"GECED","cd_tipo_dependencia":"12","cd_dependencia_superior":"3405"},{"cd_empresa_dependencia":"15109","cd_empresa":"1","cd_dependencia":"5109","nm_dependencia":"GERENCIA DE LOTACAO TRANSITORIA","sg_dependencia":"GELOT","cd_tipo_dependencia":"12","cd_dependencia_superior":"3240"},{"cd_empresa_dependencia":"15111","cd_empresa":"1","cd_dependencia":"5111","nm_dependencia":"NUCLEO DE CONFORMIDADE ARQUITETURA DE TI","sg_dependencia":"NUCAT","cd_tipo_dependencia":"13","cd_dependencia_superior":"5089"},{"cd_empresa_dependencia":"15112","cd_empresa":"1","cd_dependencia":"5112","nm_dependencia":"NUCLEO DE PLANEJAMENTO E CONTROLE","sg_dependencia":"NUPEC","cd_tipo_dependencia":"13","cd_dependencia_superior":"5043"},{"cd_empresa_dependencia":"15113","cd_empresa":"1","cd_dependencia":"5113","nm_dependencia":"GERENCIA SEG INFORMACAO E RISCO CIBERNET","sg_dependencia":"GERIT","cd_tipo_dependencia":"12","cd_dependencia_superior":"2730"},{"cd_empresa_dependencia":"15115","cd_empresa":"1","cd_dependencia":"5115","nm_dependencia":"GERENCIA DE SISTEMAS DE NEGOCIO","sg_dependencia":"GESIN","cd_tipo_dependencia":"12","cd_dependencia_superior":"3405"},{"cd_empresa_dependencia":"15117","cd_empresa":"1","cd_dependencia":"5117","nm_dependencia":"GERENCIA DE SIST DE AUT,  E PORTAIS","sg_dependencia":"GEAUP","cd_tipo_dependencia":"12","cd_dependencia_superior":"3405"},{"cd_empresa_dependencia":"15119","cd_empresa":"1","cd_dependencia":"5119","nm_dependencia":"NUCLEO DE SISTEMAS DE CREDITO","sg_dependencia":"NUCRE","cd_tipo_dependencia":"13","cd_dependencia_superior":"5115"},{"cd_empresa_dependencia":"15203","cd_empresa":"1","cd_dependencia":"5203","nm_dependencia":"GERENCIA DE RELCIONAMENTO COM INVESTIDOR","sg_dependencia":"GEREI","cd_tipo_dependencia":"12","cd_dependencia_superior":"3000"},{"cd_empresa_dependencia":"16010","cd_empresa":"1","cd_dependencia":"6010","nm_dependencia":"DIRETORIA EXECUTIVA CONTROLES E RISCOS","sg_dependencia":"DICOR","cd_tipo_dependencia":"6","cd_dependencia_superior":"1540"},{"cd_empresa_dependencia":"16011","cd_empresa":"1","cd_dependencia":"6011","nm_dependencia":"DIRETORIA EXECUTIVA DE ATACADO E GOVERNO","sg_dependencia":"DIAGO","cd_tipo_dependencia":"6","cd_dependencia_superior":"1540"},{"cd_empresa_dependencia":"16012","cd_empresa":"1","cd_dependencia":"6012","nm_dependencia":"DIRETORIA EXECUTIVA DE VAREJO","sg_dependencia":"DIVAR","cd_tipo_dependencia":"6","cd_dependencia_superior":"1540"},{"cd_empresa_dependencia":"16016","cd_empresa":"1","cd_dependencia":"6016","nm_dependencia":"SUPERINTENDENCIA DE DADOS E ARQUITATURA","sg_dependencia":"SUDAT","cd_tipo_dependencia":"7","cd_dependencia_superior":"3400"},{"cd_empresa_dependencia":"16018","cd_empresa":"1","cd_dependencia":"6018","nm_dependencia":"SUP DE ORGANIZACAO, ESTRAT E INOVACAO","sg_dependencia":"SUORG","cd_tipo_dependencia":"7","cd_dependencia_superior":"1540"},{"cd_empresa_dependencia":"16024","cd_empresa":"1","cd_dependencia":"6024","nm_dependencia":"SUPERINTENDENCIA DE PRODUTOS DE VAREJO","sg_dependencia":"SUPVA","cd_tipo_dependencia":"7","cd_dependencia_superior":"6012"},{"cd_empresa_dependencia":"16028","cd_empresa":"1","cd_dependencia":"6028","nm_dependencia":"SUPERINTENDENCIA DE CONTROLADORIA","sg_dependencia":"SUCOT","cd_tipo_dependencia":"7","cd_dependencia_superior":"3000"},{"cd_empresa_dependencia":"16029","cd_empresa":"1","cd_dependencia":"6029","nm_dependencia":"GERENCIA ADMINISTRATIVA DA DIJUR","sg_dependencia":"GEJUR","cd_tipo_dependencia":"12","cd_dependencia_superior":"6064"},{"cd_empresa_dependencia":"10524","cd_empresa":"1","cd_dependencia":"524","nm_dependencia":"SAT MULTICANAL","sg_dependencia":"SAT","cd_tipo_dependencia":"12","cd_dependencia_superior":"510"},{"cd_empresa_dependencia":"40000","cd_empresa":"4","cd_dependencia":"0","nm_dependencia":"BRB DISTRIB.DE TIT.VALOR.MOBILIARIOS","sg_dependencia":"DTVM","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"},{"cd_empresa_dependencia":"50000","cd_empresa":"5","cd_dependencia":"0","nm_dependencia":"BRB-CREDITO FINANCIAMENTO E INVEST SA","sg_dependencia":"CFI","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"},{"cd_empresa_dependencia":"60000","cd_empresa":"6","cd_dependencia":"0","nm_dependencia":"BRB-SEGUROS","sg_dependencia":"SEGUR","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"},{"cd_empresa_dependencia":"70000","cd_empresa":"7","cd_dependencia":"0","nm_dependencia":"ASSOC.ATLET. BANCO DE BRASILIA","sg_dependencia":"AABR","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"},{"cd_empresa_dependencia":"80000","cd_empresa":"8","cd_dependencia":"0","nm_dependencia":"SOCIED.CIVIL DE PREVID.PRIVADA","sg_dependencia":"REGIS","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"},{"cd_empresa_dependencia":"90000","cd_empresa":"9","cd_dependencia":"0","nm_dependencia":"CARTAO BRB S/A","sg_dependencia":"CARD","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"},{"cd_empresa_dependencia":"110000","cd_empresa":"11","cd_dependencia":"0","nm_dependencia":"ASBACE TECNOLOGIA E PRODUTOS","sg_dependencia":"ATP","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"},{"cd_empresa_dependencia":"120000","cd_empresa":"12","cd_dependencia":"0","nm_dependencia":"CIA INTER TECNOLOGIA","sg_dependencia":"IT","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"},{"cd_empresa_dependencia":"130000","cd_empresa":"13","cd_dependencia":"0","nm_dependencia":"DATAPREV/INSS","sg_dependencia":"DPREV","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"},{"cd_empresa_dependencia":"140000","cd_empresa":"14","cd_dependencia":"0","nm_dependencia":"NEWCON","sg_dependencia":"NEWCO","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"},{"cd_empresa_dependencia":"150000","cd_empresa":"15","cd_dependencia":"0","nm_dependencia":"BRASILIA ADM. DE CARTOES E SERVICOS LTDA","sg_dependencia":"BACS","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"},{"cd_empresa_dependencia":"160000","cd_empresa":"16","cd_dependencia":"0","nm_dependencia":"FUNDOS DE INVESTIMENTOS","sg_dependencia":"FUNDO","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"},{"cd_empresa_dependencia":"170000","cd_empresa":"17","cd_dependencia":"0","nm_dependencia":"BRB - SAUDE","sg_dependencia":"BRBSA","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"},{"cd_empresa_dependencia":"180000","cd_empresa":"18","cd_dependencia":"0","nm_dependencia":"CALL TECNOLOGIA E SERVICOS LTDA","sg_dependencia":"CALL","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"},{"cd_empresa_dependencia":"190000","cd_empresa":"19","cd_dependencia":"0","nm_dependencia":"BRB IFRS","sg_dependencia":"IFRS","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"},{"cd_empresa_dependencia":"200000","cd_empresa":"20","cd_dependencia":"0","nm_dependencia":"ORGAOS EXTERNOS - CESSAO","sg_dependencia":"ORGEX","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"},{"cd_empresa_dependencia":"300000","cd_empresa":"30","cd_dependencia":"0","nm_dependencia":"BRB SERVICOS S A","sg_dependencia":"BSERV","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"},{"cd_empresa_dependencia":"400000","cd_empresa":"40","cd_dependencia":"0","nm_dependencia":"BSB PARTICIPACOES","sg_dependencia":"BSBPA","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"},{"cd_empresa_dependencia":"500000","cd_empresa":"50","cd_dependencia":"0","nm_dependencia":"INSTITUTO BRB DE DESENVOLV. PROFISSIONAL","sg_dependencia":"ITBRB","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"},{"cd_empresa_dependencia":"900000","cd_empresa":"90","cd_dependencia":"0","nm_dependencia":"BRB CONSOLIDADO","sg_dependencia":"BRBC","cd_tipo_dependencia":"1","cd_dependencia_superior":"0"}];

  </script>

 <script>
    var valorHanlder = function(value, element) {
      value = getMoney(value);
      value = formatReal(value);
      element.value = value.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'});
    }

    function getMoney( str )
    {
      return parseInt( str.replace(/[\D]+/g,'') );
    }

    function formatReal( int )
    {
      var tmp = int+'';
      tmp = tmp.replace(/([0-9]{2})$/g, ",$1");
      if( tmp.length > 6 )
        tmp = tmp.replace(/([0-9]{3}),([0-9]{2})$/g, ".$1,$2");

      if( tmp.length > 10 )
        tmp = tmp.replace(/([0-9]{3}).([0-9]{3}),([0-9]{2})$/g, ".$1.$2,$3");

      if( tmp.length > 14 )
        tmp = tmp.replace(/([0-9]{3}).([0-9]{3}).([0-9]{3}),([0-9]{2})$/g, ".$1.$2.$3,$4");

      console.log(typeof(tmp));

      return tmp;
    }
 </script>
 
</form>
