<style>
  .document-editor {
      border: 1px solid var(--ck-color-base-border);
      border-radius: var(--ck-border-radius);

      /* Set vertical boundaries for the document editor. */
      height: 300px;
      
      overflow-x: auto;
      overflow-y: auto;
      
      /* This element is a flex container for easier rendering. */
      display: flex;
      flex-flow: column nowrap;
  }
</style>

<form enctype="multipart/form-data" id="AprovarEAssinarODODPeloDiretorDeDITECTask" class="form-horizontal" role="form">

  <script cam-script type="text/form-script">
    var variableManager             = camForm.variableManager;
    var editorIdentificacaoDemanda  = $scope.editorIdentificacaoDemanda;
    var editorIndicacaoOrcamentaria = $scope.editorIndicacaoOrcamentaria;
    var editorPDTI                  = $scope.editorPDTI;
    var editorFundamentacao         = $scope.editorFundamentacao;
    var editorResultados            = $scope.editorResultados;
    // var editorServicosContinuos     = $scope.editorServicosContinuos;
    var editorMetas                 = $scope.editorMetas;
    var editorEncaminhamento        = $scope.editorEncaminhamento;

    $scope.taskId_ = camForm.taskId;
    var editorProrrogacao           = $scope.editorProrrogacao;
    $scope.pcti_dod_matriculaIntegranteAdministrativo = '';
     $scope.valueRadioProrrogacao = '';
     $scope.pcti_dod_matriculaIntegranteRequisitante = '';
     $scope.editorIndicacaoOrcamentariaFinal = '';
     $scope.editorProrrogacaoFinal = '';
  </script>

  <div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Nome do Projeto/Solução</div>
        <div class="panel-body">
          <input type="text" readonly class="form-control" id="pcti_nomeProjetoSolucao" placeholder="nome do projeto/solução"
                cam-variable-name="pcti_nomeProjetoSolucao" cam-variable-type="String">
        </div>
    </div>
  </div>
 
  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Área Requisitante</div>
      <div class="panel-body">
        <div class="col">
          <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
            <label class="col-md-12">Tipo:</label>
            <input type="text" readonly="readonly" cam-variable-type="String" cam-variable-name="pcti_areaDemandante" class="form-control" id="tipoAreaRequisitante" placeholder="tipo da área requisitante">
          </div>
        </div>
        <div class="col">
          <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
            <label class="col-md-12">Nome:</label>
            <input type="text" readonly="readonly" class="form-control" id="pcti_dod_nomeAreaRequisitante"
              placeholder="nome da área requisitante" cam-variable-name="pcti_dod_nomeAreaRequisitante" cam-variable-type="String">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Responsável pela demanda</div>
      <div class="panel-body">
        <div class="col">
          <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
            <label class="col-md-12">Matrícula:</label>
            <input type="text" readonly="readonly" class="form-control" id="pcti_dod_nroMatricula"
            placeholder="matrícula do responsável" cam-variable-name="pcti_dod_nroMatricula" cam-variable-type="String">
          </div>
          <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
            <label class="col-md-12">Nome:</label>
            <input type="text" readonly="readonly" class="form-control" id="pcti_dod_nomeResponsavelDemanda"
              placeholder="nome do responsável" cam-variable-name="pcti_dod_nomeResponsavelDemanda" cam-variable-type="String">
          </div>
        </div>
        <div class="col">
          <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
            <label class="col-md-12">Telefone:</label>
            <input type="text" readonly="readonly" class="form-control" id="pcti_dod_nroTelefone"
            placeholder="número do responsável" cam-variable-name="pcti_dod_nroTelefone" cam-variable-type="String">
          </div>
          <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
            <label class="col-md-12">Email:</label>
            <input type="email" readonly="readonly" class="form-control" id="pcti_dod_emailResponsavel"
              placeholder="email do responsável" cam-variable-name="pcti_dod_emailResponsavel" cam-variable-type="String">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Identificação da Demanda</div>
          <div  id="toolbar-container-identificacao-demanda"></div>
          <div id="editor-identificacao-demanda" class="document-editor" style="border-color: grey;"></div>
      </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Indicação Orçamentária</div>

      <div class="panel-body">
        <div  id="toolbar-container-indicacao-orcamentaria"></div>
        <div id="editor-indicacao-orcamentaria" class="document-editor" style="border-color: grey;"></div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="row">
            <div class="col-md-12" style="padding-top: 60px;">
              <label class="col-md-12">Faixas contábeis adicionadas</label>
              <table id='tabelaFaixa' class="table table-striped">
                <tr>
                  <td scope="col" style="text-align:left" >
                    Tipo faixa
                  </td>
                  <td scope="col" style="text-align:left" >
                    Faixa
                  </td>
                  <td scope="col" style="text-align:right" >
                    Valor estimado
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Alinhamento estratégico ao PDTI</div>
      <div id="toolbar-container-pdti"></div>
      <div id="editor-pdti" class="document-editor" style="border-color: grey;"></div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Contratação</div>
        <div class="panel-body">
          <div class="row" style="margin-bottom: 6px;">
            <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
              <label class="control-label">Criticidade da contratação: </label>
            </div>
            <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
              <input type="text" readonly="readonly" class="form-control" id="criticidadeContratacao" placeholder="criticidade da contratação">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
                  <label class="control-label">Prorrogação e serviços? </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
                  <input type="radio" id="prorrogacao_true" name="prorrogacaoServico" value="true" >
                  <label for="sim">Sim</label>
                  <input type="radio" id="prorrogacao_false" name="prorrogacaoServico" value="false" >
                  <label for="nao">Não</label>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <label style="margin-top: 20px;">Instrução da prorrogação</label>
              <div id="toolbar-container-prorrogacao"></div>
              <div id="editor-prorrogacao" class="document-editor" style="border-color: grey;"></div>
            </div> 
          </div>

          <div class="row" style="margin-bottom: 6px;">
            <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
              <label class="col-md-12 control-label">Vinculado a uma meta? </label>
            </div>
            <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
              <input type="text" readonly="readonly" class="form-control" id="vinculadoMeta" placeholder="vinculado a meta?">
            </div>
          </div>
          <div class="row" style="margin-bottom: 6px;">
            <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
              <label class="col-md-12 control-label">Vinculado a um plano de ação? </label>
            </div>
            <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
              <input type="text" readonly="readonly" class="form-control" id="vinculadoPlanoAcao" placeholder="vinculado a um plano de ação?">
            </div>
          </div>
          <div class="row">
            <div class="panel-body">
              <label >Metas/Planos de ação</label>
              <div id="toolbar-container-metas"></div>
              <div id="editor-metas" class="document-editor" style="border-color: grey;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-heading">Fundamentação da contratação</div>
        <div id="toolbar-container-fundamentacao"></div>
        <div id="editor-fundamentacao" class="document-editor" style="border-color: grey;"></div>
      </div>
    </div>
  
    <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-heading">Resultados a serem alcançados</div>
        <div id="toolbar-container-resultados-alcancados"></div>
        <div id="editor-resultados" class="document-editor" style="border-color: grey;"></div>
      </div>
    </div>

  <div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Integrante Requisitante (IR)</div>
        <div class="panel-body">
            <div class="col">
              <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Matrícula:</label>
                <input readonly="readonly" type="text" class="form-control" id="pcti_dod_matriculaIntegranteRequisitante" placeholder="matrícula do integrante requisitante"
                cam-variable-name="pcti_dod_matriculaIntegranteRequisitante" cam-variable-type="String">
              </div>
              <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Nome:</label>
                <input readonly="readonly" type="text" class="form-control" id="pcti_dod_nomeIntegranteRequisitante" placeholder="nome do integrante requisitante"
                    cam-variable-name="pcti_dod_nomeIntegranteRequisitante" cam-variable-type="String">
              </div>
            </div>
            <div class="col">
              <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Telefone:</label>
                <input readonly="readonly" type="text" class="form-control" id="pcti_dod_telefoneIntegranteRequisitante" placeholder="telefone do integrante requisitante"
                cam-variable-name="pcti_dod_telefoneIntegranteRequisitante" cam-variable-type="String">
              </div>
              <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Email:</label>
                <input readonly="readonly" type="email" class="form-control" id="pcti_dod_emailIntegranteRequisitante" placeholder="email do integrante requisitante"
                    cam-variable-name="pcti_dod_emailIntegranteRequisitante" cam-variable-type="String">
              </div>
            </div>
        </div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Integrante Administrativo (IA)</div>
        <div class="panel-body">
            <div class="col">
              <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Matrícula:</label>
                <input readonly="readonly" type="text" class="form-control" id="pcti_dod_matriculaIntegranteAdministrativo" placeholder="matrícula do integrante administrativo"
                cam-variable-name="pcti_dod_matriculaIntegranteAdministrativo" cam-variable-type="String">
              </div>
              <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Nome:</label>
                <input readonly="readonly" type="text" class="form-control" id="pcti_dod_nomeIntegranteAdministrativo" placeholder="nome do integrante administrativo"
                    cam-variable-name="pcti_dod_nomeIntegranteAdministrativo" cam-variable-type="String">
              </div>
            </div>
            <div class="col">
              <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Telefone:</label>
                <input readonly="readonly" type="text" class="form-control" id="pcti_dod_telefoneIntegranteAdministrativo" placeholder="telefone do integrante administrativo"
                cam-variable-name="pcti_dod_telefoneIntegranteAdministrativo" cam-variable-type="String">
              </div>
              <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Email:</label>
                <input  readonly="readonly" type="email" class="form-control" id="pcti_dod_emailIntegranteAdministrativo" placeholder="email do integrante administrativo"
                    cam-variable-name="pcti_dod_emailIntegranteAdministrativo" cam-variable-type="String">
              </div>
            </div>
        </div>
    </div>
  </div>
 
  <div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Integrante Técnico (IT)</div>
        <div class="panel-body">
            <div class="col">
              <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Matrícula:</label>
                <input readonly="readonly" type="text" class="form-control" id="pcti_dod_matriculantegranteTecnico" placeholder="matrícula do integrante técnico"
                cam-variable-name="pcti_dod_matriculaIntegranteTecnico" cam-variable-type="String">
              </div>
              <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Nome:</label>
                <input readonly="readonly" type="text" class="form-control" id="pcti_dod_nomeIntegranteTecnico" placeholder="nome do integrante técnico"
                    cam-variable-name="pcti_dod_nomeIntegranteTecnico" cam-variable-type="String">
              </div>
            </div>
            <div class="col">
              <div class="col-md-4 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Telefone:</label>
                <input readonly="readonly" type="text" class="form-control" id="pcti_dod_telefoneIntegranteTecnico" placeholder="telefone do integrante técnico"
                cam-variable-name="pcti_dod_telefoneIntegranteTecnico" cam-variable-type="String">
              </div>
              <div class="col-md-8 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Email:</label>
                <input readonly="readonly" type="email" class="form-control" id="pcti_dod_emailIntegranteTecnico" placeholder="email do integrante técnico"
                    cam-variable-name="pcti_dod_emailIntegranteTecnico" cam-variable-type="String">
              </div>
            </div>
        </div>
    </div>
  </div>

  <div class="form-group">
    <div class="panel panel-default">
      <div class="panel-heading">Encaminhamento</div>
      <div id="toolbar-container-encaminhamento"></div>
      <div id="editor-encaminhamento" class="document-editor" style="border-color: grey;"></div>
    </div>
  </div>

  <!-- <div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">DIRETOR DITEC</div>
        <div class="panel-body">
            <div class="col">
              <div class="col-md-6 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Nome:</label>
                <input readonly type="text" class="form-control" id="pcti_dod_nomeDiretorDITEC" placeholder="nome do integrante técnico"
                    cam-variable-name="pcti_dod_nomeDiretorDITEC" cam-variable-type="String">
              </div>
              <div class="col-md-6 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Matrícula:</label>
                <input readonly type="text" class="form-control" id="pcti_dod_matriculaDiretorDITEC" placeholder="matrícula do integrante técnico"
                    cam-variable-name="pcti_dod_matriculaDiretorDITEC" cam-variable-type="String">
              </div>
            </div>
            <div class="col">
              <div class="col-md-6 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label  class="col-md-12">Email:</label>
                <input readonly type="email" class="form-control" id="pcti_dod_emailDiretorDITEC" placeholder="email do integrante técnico"
                    cam-variable-name="pcti_dod_emailDiretorDITEC" cam-variable-type="String">
              </div>
              <div class="col-md-6 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <label class="col-md-12">Telefone:</label>
                <input readonly type="text" class="form-control" id="pcti_dod_telefoneDiretorDIITEC" placeholder="telefone do integrante técnico"
                    cam-variable-name="pcti_dod_telefoneDiretorDIITEC" cam-variable-type="String">
              </div>
            </div>
        </div>
    </div>
  </div> -->

  <div class="container">
    <div class="col">
      <div class="form-group">
    
        <!-- <div class="col">
          <div class="form-group">
            <div class="col-sm-12">
              <label class="control-label">Upload do DOD assinado:
              </label>
              <input type="file"
                cam-variable-name="pcti_dod_file_assinado"
                id="pcti_dod_file_assinado"
                cam-variable-type="File"
                cam-max-filesize="10000000" /> 
            </div>
          </div>
        </div>
        <div class="col hidden-sm hidden-lg hidden-xs hidden-md">
          <div class="form-group">
            <div class="col-sm-12">
              <label class="control-label">Upload:
              </label>
              <input type="file"
                cam-variable-name="pcti_fdf_assinado"
                id="pcti_fdf_assinado"
                cam-variable-type="File"
                cam-max-filesize="10000000" />
            </div>
          </div>
        </div>
        
        <div class="col" id="div_btn_link" >
          <a href="#" id="btn_link_dowload_pdf" class="btn btn-info">dowload pdf</a>
        </div>

        <input type="button"  id="btGerarDOD" name="despacho" value="Gerar PDF DOD" 
        ng-click="gerarPDF2()" class="btn btn-success upload-btn col-sm-3 mt-3" />
        <div class="col-sm-3"  id="divPdfDOD">
        
        </div>
    </div> -->
    
        <input type="button"  id="btNovoGerarDOD" name="novoGerarPDF" value="Gerar PDF DOD" 
              ng-click="novoGerarPDF()" class="btn btn-success upload-btn col-sm-3 mt-3" />
      </div>
    </div>
  </div>


  <script cam-script type="text/form-script">

    var variableManager               = camForm.variableManager;
    var teste                         = '';
    $scope.userName                   = '';
    $scope.areaDemandanteAngularScope = '';
    $scope.listaFaixaContabil         = [];
    $scope.dbAreaDirect               = '';
    $scope.hashGenerate               = '';
    $scope.dbAreaDirectSuperio        = '';
    $scope.pcti_dod_nomeDiretorDITEC  = '';
    $scope.listaTipoFaixaContabil     = [
      {id: 'despesa', name: 'Despesa'},
      {id: 'investimento', name: 'Investimento'}
    ];

    var hostcurrent    = window.location.hostname;
    //var hostcurrent    = 'window.location.hostname';
    
    camForm.on('form-loaded', function() {
      console.log ("iniciado form-loaded");

      // this callback is executed *before* the variables are loaded from the server.
      // if we declare a variable here, its value will be fetched as well
      
      try {
        variableManager.fetchVariable('pcti_dod_vinculadoPlanoAcao');
        //variableManager.fetchVariable('pcti_areaDemandante');
        variableManager.fetchVariable('pcti_dod_vinculadoMeta');
        variableManager.fetchVariable('pcti_dod_criticidadeContratacao');
        variableManager.fetchVariable('pcti_dod_tipoAreaRequisitante');
        variableManager.fetchVariable('pcti_dod_documentoOficializacaoDemandaConforme');
        variableManager.fetchVariable('pcti_dod_textoIdentificacaoDemanda');
        variableManager.fetchVariable('pcti_dod_alinhamentoEstrategicoPDTI');
        variableManager.fetchVariable('pcti_dod_fundamentacaoContratacao');
        variableManager.fetchVariable('pcti_dod_resultadosASeremAlcancados');
        variableManager.fetchVariable('pcti_dod_listaFaixaContabil');
        variableManager.fetchVariable('pcti_dod_textoIndicacaoOrcamentaria');
        variableManager.fetchVariable('pcti_dod_textoMetas');
        variableManager.fetchVariable('pcti_dod_textoEncaminhamento');
        variableManager.fetchVariable('dbAreas');
        variableManager.fetchVariable('pcti_dod_nomeDiretorDITEC');
        
        variableManager.fetchVariable('pcti_dod_textoProrrogacao');
        variableManager.fetchVariable('pcti_dod_radioProrrogacao');
        
      
      } 
      catch (err) {
          console.log(err);
      }
      console.log ("finalizado form-loaded");
    }); 
    /// fim da função  form-load

    camForm.on('variables-fetched', function() {
      console.log ("iniciado variables-fetched");
      var jsonDbAreas = processAndGetVariable('dbAreas', 'Json');
     

     

      var jsonIdentificacaoDemanda       = processAndGetVariable('pcti_dod_textoIdentificacaoDemanda');
      var jsonAlinhamentoEstrategicoPDTI = processAndGetVariable('pcti_dod_alinhamentoEstrategicoPDTI');
      var jsonFundamentacao              = processAndGetVariable('pcti_dod_fundamentacaoContratacao');
      var jsonResultados                 = processAndGetVariable('pcti_dod_resultadosASeremAlcancados');
      var jsonListaFaixaContabil         = processAndGetVariable('pcti_dod_listaFaixaContabil');
      $scope.areaDemandanteAngularScope  = processAndGetVariable('pcti_areaDemandante');
      // $scope.pcti_servicoContinuo     = processAndGetVariable('pcti_servicoContinuo');
      var jsonIndicacaoOrcamentaria      = processAndGetVariable('pcti_dod_textoIndicacaoOrcamentaria');
      // var jsonServicosContinuos       = processAndGetVariable('pcti_dod_textoServicosContinuos');
      var jsonMetas                      = processAndGetVariable('pcti_dod_textoMetas');
      var jsonEncaminhamento             = processAndGetVariable('pcti_dod_textoEncaminhamento');
      $scope.pcti_dod_nomeDiretorDITEC   = processAndGetVariable('pcti_dod_nomeDiretorDITEC');
      console.log('$scope.pcti_dod_nomeDiretorDITEC: ', $scope.pcti_dod_nomeDiretorDITEC);
      $scope.pcti_dod_matriculaIntegranteRequisitante = processAndGetVariable('pcti_dod_matriculaIntegranteRequisitante');
      //variaves para gerar hash
      var nomeDoRepresentante = processAndGetVariable('pcti_dod_nomeAreaRequisitante');
      var matriculaDOD = processAndGetVariable('pcti_dod_nroMatricula');

      $scope.pcti_dod_matriculaIntegranteAdministrativo =  processAndGetVariable('pcti_dod_matriculaIntegranteAdministrativo');
     
      carregaEditorTexto($scope.editorIdentificacaoDemanda,  jsonIdentificacaoDemanda);
      carregaEditorTexto($scope.editorIndicacaoOrcamentaria, jsonIndicacaoOrcamentaria);
      carregaEditorTexto($scope.editorPDTI,                  jsonAlinhamentoEstrategicoPDTI);
      carregaEditorTexto($scope.editorFundamentacao,         jsonFundamentacao);
      carregaEditorTexto($scope.editorResultados,            jsonResultados);
      // carregaEditorTexto($scope.editorServicosContinuos,     jsonServicosContinuos);
      carregaEditorTexto($scope.editorMetas,                 jsonMetas);
      carregaEditorTexto($scope.editorEncaminhamento,        jsonEncaminhamento);
      

      var jsonProrrogacao                = processAndGetVariable('pcti_dod_textoProrrogacao',                       'Json');
      var valueRadioProrrogacao         = processAndGetVariable('pcti_dod_radioProrrogacao',                       'Boolean');
      $scope.editorProrrogacaoFinal = jsonProrrogacao;
     
      carregaEditorTexto($scope.editorProrrogacao,           jsonProrrogacao);
      checkedRadioButton('prorrogacaoServico', valueRadioProrrogacao);
      $scope.editorProrrogacao.isReadOnly = true;
      document.getElementById('prorrogacao_true').disabled = true;
      document.getElementById('prorrogacao_false').disabled = true;
      
      $scope.valueRadioProrrogacao = valueRadioProrrogacao;

      $scope.editorIdentificacaoDemanda.isReadOnly = true;
      $scope.editorPDTI.isReadOnly = true;
      $scope.editorFundamentacao.isReadOnly = true;
      $scope.editorResultados.isReadOnly = true;
      $scope.editorIndicacaoOrcamentaria.isReadOnly = true;
      // $scope.editorServicosContinuos.isReadOnly = true;
      $scope.editorMetas.isReadOnly = true;
      $scope.editorEncaminhamento.isReadOnly = true;
      
      // this callback is executed *after* the variables have been fetched from the server
      
      try {
        var valueRadio = variableManager.variableValue('pcti_dod_documentoOficializacaoDemandaConforme');
        checkedRadioButton('documentoOficializacaoDemandaConforme', valueRadio);
      } 
      catch (err) {
        console.log(err);
      }
      

      ///funcao para encontrar area
      var area = variableManager.variableValue('pcti_dod_tipoAreaRequisitante');
      var dbAreaDirectSuperior = '';
      if(area != 'DITEC'){
        let findArea = jsonDbAreas.find(resp => resp.sg_dependencia == area)
        let isAreaSuperior = false;
        while( isAreaSuperior == false ){
          if( parseInt(findArea.cd_tipo_dependencia) <= 6){
            isAreaSuperior = true;
          }else{
            findArea = jsonDbAreas.find(resp => resp.cd_dependencia == findArea.cd_dependencia_superior)
            isAreaSuperior = false;
          }
        }
        area = findArea.sg_dependencia;
        dbAreaDirectSuperior = jsonDbAreas.find(resp => resp.cd_dependencia_superior == findArea.cd_dependencia)
      }
      $scope.dbAreaDirect = area
      $scope.dbAreaDirectSuperio = dbAreaDirectSuperior.sg_dependencia

     
      /**
        * Secure Hash Algorithm (SHA1)
        * http://www.webtoolkit.info/
        **/
        function SHA1(msg) {
         function rotate_left(n,s) {
         var t4 = ( n<<s ) | (n>>>(32-s));
         return t4;
         };
         function lsb_hex(val) {
         var str='';
         var i;
         var vh;
         var vl;
         for( i=0; i<=6; i+=2 ) {
         vh = (val>>>(i*4+4))&0x0f;
         vl = (val>>>(i*4))&0x0f;
         str += vh.toString(16) + vl.toString(16);
         }
         return str;
         };
         function cvt_hex(val) {
         var str='';
         var i;
         var v;
         for( i=7; i>=0; i-- ) {
         v = (val>>>(i*4))&0x0f;
         str += v.toString(16);
         }
         return str;
         };
         function Utf8Encode(string) {
         string = string.replace(/\r\n/g,'\n');
         var utftext = '';
         for (var n = 0; n < string.length; n++) {
         var c = string.charCodeAt(n);
         if (c < 128) {
         utftext += String.fromCharCode(c);
         }
         else if((c > 127) && (c < 2048)) {
         utftext += String.fromCharCode((c >> 6) | 192);
         utftext += String.fromCharCode((c & 63) | 128);
         }
         else {
         utftext += String.fromCharCode((c >> 12) | 224);
         utftext += String.fromCharCode(((c >> 6) & 63) | 128);
         utftext += String.fromCharCode((c & 63) | 128);
         }
         }
         return utftext;
         };
         var blockstart;
         var i, j;
         var W = new Array(80);
         var H0 = 0x67452301;
         var H1 = 0xEFCDAB89;
         var H2 = 0x98BADCFE;
         var H3 = 0x10325476;
         var H4 = 0xC3D2E1F0;
         var A, B, C, D, E;
         var temp;
         msg = Utf8Encode(msg);
         var msg_len = msg.length;
         var word_array = new Array();
         for( i=0; i<msg_len-3; i+=4 ) {
         j = msg.charCodeAt(i)<<24 | msg.charCodeAt(i+1)<<16 |
         msg.charCodeAt(i+2)<<8 | msg.charCodeAt(i+3);
         word_array.push( j );
         }
         switch( msg_len % 4 ) {
         case 0:
         i = 0x080000000;
         break;
         case 1:
         i = msg.charCodeAt(msg_len-1)<<24 | 0x0800000;
         break;
         case 2:
         i = msg.charCodeAt(msg_len-2)<<24 | msg.charCodeAt(msg_len-1)<<16 | 0x08000;
         break;
         case 3:
         i = msg.charCodeAt(msg_len-3)<<24 | msg.charCodeAt(msg_len-2)<<16 | msg.charCodeAt(msg_len-1)<<8 | 0x80;
         break;
         }
         word_array.push( i );
         while( (word_array.length % 16) != 14 ) word_array.push( 0 );
         word_array.push( msg_len>>>29 );
         word_array.push( (msg_len<<3)&0x0ffffffff );
         for ( blockstart=0; blockstart<word_array.length; blockstart+=16 ) {
         for( i=0; i<16; i++ ) W[i] = word_array[blockstart+i];
         for( i=16; i<=79; i++ ) W[i] = rotate_left(W[i-3] ^ W[i-8] ^ W[i-14] ^ W[i-16], 1);
         A = H0;
         B = H1;
         C = H2;
         D = H3;
         E = H4;
         for( i= 0; i<=19; i++ ) {
         temp = (rotate_left(A,5) + ((B&C) | (~B&D)) + E + W[i] + 0x5A827999) & 0x0ffffffff;
         E = D;
         D = C;
         C = rotate_left(B,30);
         B = A;
         A = temp;
         }
         for( i=20; i<=39; i++ ) {
         temp = (rotate_left(A,5) + (B ^ C ^ D) + E + W[i] + 0x6ED9EBA1) & 0x0ffffffff;
         E = D;
         D = C;
         C = rotate_left(B,30);
         B = A;
         A = temp;
         }
         for( i=40; i<=59; i++ ) {
         temp = (rotate_left(A,5) + ((B&C) | (B&D) | (C&D)) + E + W[i] + 0x8F1BBCDC) & 0x0ffffffff;
         E = D;
         D = C;
         C = rotate_left(B,30);
         B = A;
         A = temp;
         }
         for( i=60; i<=79; i++ ) {
         temp = (rotate_left(A,5) + (B ^ C ^ D) + E + W[i] + 0xCA62C1D6) & 0x0ffffffff;
         E = D;
         D = C;
         C = rotate_left(B,30);
         B = A;
         A = temp;
         }
         H0 = (H0 + A) & 0x0ffffffff;
         H1 = (H1 + B) & 0x0ffffffff;
         H2 = (H2 + C) & 0x0ffffffff;
         H3 = (H3 + D) & 0x0ffffffff;
         H4 = (H4 + E) & 0x0ffffffff;
         }
         var temp = cvt_hex(H0) + cvt_hex(H1) + cvt_hex(H2) + cvt_hex(H3) + cvt_hex(H4);
        
         return temp.toLowerCase();
        }
      /////variavel global para pega o hash gerado para o pdf
      var dateHash =  new Date();
      const dataActual = `${dateHash.getDay()}/${dateHash.getMonth()}/${dateHash.getFullYear()} ${dateHash.getHours()}:${dateHash.getMinutes()}:${dateHash.getSeconds()}`
      $scope.hashGenerate = SHA1(`${nomeDoRepresentante}${matriculaDOD}${$scope.areaDemandanteAngularScope}${dataActual}`) +'_'+ nomeDoRepresentante + matriculaDOD + $scope.areaDemandanteAngularScope +dataActual
       
    
      try{
        var pctiDODAreaRequisitante = variableManager.variableValue('pcti_dod_tipoAreaRequisitante');
        setValueInInputText(pctiDODAreaRequisitante,  $scope.itemArray, 'tipoAreaRequisitante');
      } catch(err) {
        console.log(err);
      }
      
      try{
        var pctiDODCriticidadeContratacao = variableManager.variableValue('pcti_dod_criticidadeContratacao');;
        setValueInInputText(pctiDODCriticidadeContratacao, $scope.itemCriticidadeContratacao, 'criticidadeContratacao');
      } catch(err) {
        console.log(err);
      }
      
      try {
        var valueVinculadoMeta = variableManager.variableValue('pcti_dod_vinculadoMeta');
        document.getElementById('vinculadoMeta').value = (valueVinculadoMeta != null)? (valueVinculadoMeta == true)?"Sim": "Não": "";
      } catch(err) {
        console.log(err);
      }
      
      try {
        var valueVinculadoPlanoAcao = variableManager.variableValue('pcti_dod_vinculadoPlanoAcao');
        document.getElementById('vinculadoPlanoAcao').value = (valueVinculadoPlanoAcao != null)? (valueVinculadoPlanoAcao == true)?"Sim": "Não": "";
      }catch(err) {
        console.log(err);
      }
      
      if (jsonListaFaixaContabil) {
        let objListaFaixaContabil = jsonListaFaixaContabil;
        
        objListaFaixaContabil.forEach( function(faixaContabil) {
          $scope.listaFaixaContabil.push(faixaContabil);
          addFaixaContabilInTabel(faixaContabil);
        });
      }
      
       console.log ("finalizado variables-fetched");
      
    }); 

  
    /// fim da função variables-fetched
    
    inject(['$rootScope', function($rootScope) {
      $scope.userName = $rootScope.authentication.name;
      
      $scope.onSelect = function(item,model){
        console.log("selectedItem",item);
      }
      
      $scope.itemArray = [
          {id: 'diretoria', name: 'Diretoria'},
          {id: 'superintendencia', name: 'Superintendência'},
          {id: 'gerencia', name: 'Gerência'},
          {id: 'nucleo', name: 'Núcleo'}
      ];
      $scope.selectedAreaRequisitante = { value: $scope.itemArray[0] };

      $scope.itemCriticidadeContratacao = [
          {id: 'criticidade-5', name: '5 - Impacto de não operação do BRB'},
          {id: 'criticidade-4', name: '4 - Degradação drástica da operação e/ou Impacto legal ou financeiro severo (R$ 600.000,00)'},
          {id: 'criticidade-3', name: '3 - Degradação significativa da operação e/ou impacto legal ou financeiro'},
          {id: 'criticidade-2', name: '2 - Não impacta continuidade dos serviços porém degrada a qualidade da prestação'},
          {id: 'criticidade-1', name: '1 - Não impacta continuidade dos serviços e não degrada a qualidade do serviço prestado '}
      ];

    }]);

    
    camForm.on('submit', function(evt) {
      console.log("inicio submit");

      if ($scope.pdfDODAssinado == null) {
        alert('Deve ser gerado o PDF.');
        evt.submitPrevented = true;
      }

      createVariableFileCamunda('pcti_dod_file_assinado', 'Bytes', $scope.pdfDODAssinado);

    });


    function checkedRadioButton(nameElement, value) {
      try {
        var valueIsDefined = !( value === undefined ) || !( value == null);
        if ( valueIsDefined ) {
          var radioButtons = document.getElementsByName(nameElement);
          for (var i = 0; i < radioButtons.length; i++) {
            radioButtons[i].checked = false;

            if (radioButtons[i].value == value.toString()) {
              radioButtons[i].checked = true;
            }
          }
        }
      } 
      catch (err) {
        console.log(err);
      }
    }

    function setValueInInputText(valueId, listItens, idElement) {
      for(var i = 0; i < listItens.length; i++) {
        if (listItens[i].id == valueId) {
          document.getElementById(idElement).value = listItens[i].name;
        }
      }
    }

    function carregaEditorTexto(objEditor, objJson) {
      try {
        if (objJson) {
          objEditor.setData(objJson.texto);
        }
      } catch (err) {
        console.error(err.stack);
      }
    }

    function processAndGetVariable(value) {
      var valueReturn = variableManager.variableValue(value);
      if (valueReturn === undefined) {
        variableManager.destroyVariable(value);
      }
      return valueReturn;
    }

    function addFaixaContabilInTabel(objFaixaContabil) {
      var tipoSelecionado = $scope.listaTipoFaixaContabil.find(function(tipoFaixa) {
        if (tipoFaixa.id == objFaixaContabil.tipo) return tipoFaixa;
      });

      //Atualiza tabela
      var novaLinha = "<tr>";
          novaLinha += "<td style=\"text-align:left\">" + tipoSelecionado.name + "</td>";
          novaLinha += "<td style=\"text-align:left\">" + objFaixaContabil.faixa  + "</td>";
          novaLinha += "<td style=\"text-align:right\">" + objFaixaContabil.valorEstimado + "</td>";                     
      novaLinha += "</tr>";
      $('#tabelaFaixa').append(novaLinha);
    }

    function processAndGetVariableValidated(value, type) {
      var valueReturn = variableManager.variableValue(value);
      if (valueReturn === undefined) {
        createVariableCamunda(value, type, null);
      }
      return valueReturn;
    }

    function createVariableCamunda(nameVariable, typeVariable, valueVariable) {
      if (variableManager.variable(nameVariable) != undefined) {
        variableManager.variableValue(nameVariable, valueVariable);
      } else {
        variableManager.createVariable({
            name: nameVariable,
            type: typeVariable,
            value: valueVariable,
            isDirty: true
        });
      }
    }

    function createVariableFileCamunda(nameVariable, typeVariable, valueVariable) {
      if (variableManager.variable(nameVariable) != undefined) {
        variableManager.destroyVariable(nameVariable);
      } 
      variableManager.createVariable({
          name:     nameVariable,
          type:     typeVariable,
          value:    valueVariable.file,
          isDirty:  true,
          valueInfo: {
               filename: valueVariable.nome,
               mimetype: valueVariable.mimeType
           }
      });
    }
  </script>

  <script>
    var liberadoClick = function(e) {
        document.getElementById("motivoNaoAprovacaoDiv").style = "display: none";
    }
    var naoLiberadoClick = function(e) {
        document.getElementById("motivoNaoAprovacaoDiv").style = "display: block";
    }
    // show the user how many characteres are in the input area
    var verificationAvaliacao = function(e) {
      // get the value into textarea 
      // has to change the ID when have to use in another textarea element  
      let inputedByUser = document.getElementById("pcti_dod_parecerAvaliacaoDiretorDITEC").value;
      let showUserInputLenghtElement = document.getElementById("show-lenght-pcti_dod_parecerAvaliacaoDiretorDITEC");
      // generate the p tag that show to user how many characteres are in the input area
      showUserInputLenghtElement.innerHTML = "(" + inputedByUser.length +"/2000)";
      if(inputedByUser.length >= 1950 || inputedByUser.length <= 1)
        document.getElementById("show-lenght-pcti_dod_parecerAvaliacaoDiretorDITEC").style = "color: #d57d6d; display: inline;"
      else if(inputedByUser.length < 1950)
        document.getElementById("show-lenght-pcti_dod_parecerAvaliacaoDiretorDITEC").style = "color: #a2d19e; display: inline;"
    }

    console.log('typeoff');
    console.log(typeof 'ok');
    
  </script>

  <script cam-script type="text/form-script">

    DecoupledEditor
      .create( document.querySelector( '#editor-identificacao-demanda' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-identificacao-demanda' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorIdentificacaoDemanda = editor;
        console.log("concluindo criacao de editor de identificacao demanda ");
      } )
      .catch( err => {
        console.error( err );
      } );

    DecoupledEditor
      .create( document.querySelector( '#editor-indicacao-orcamentaria' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-indicacao-orcamentaria' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorIndicacaoOrcamentaria = editor;
        console.log("concluindo criacao de editor de indicacao orcamentaria ");
      } )
      .catch( err => {
        console.error( err );
      } );

    DecoupledEditor
      .create( document.querySelector( '#editor-pdti' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-pdti' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorPDTI = editor;
        console.log("concluindo criacao de editor de PDTI ");
      } )
      .catch( err => {
        console.error( err );
      } );

    DecoupledEditor
      .create( document.querySelector( '#editor-metas' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-metas' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorMetas = editor;
        console.log("concluindo criacao de editor de metas ");
      } )
      .catch( err => {
        console.error( err );
      } );

    DecoupledEditor
      .create( document.querySelector( '#editor-fundamentacao' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-fundamentacao' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorFundamentacao = editor;
        console.log("concluindo criacao de editor de Fundamentacao ");
      } )
      .catch( err => {
        console.error( err );
      } );

    DecoupledEditor
      .create( document.querySelector( '#editor-resultados' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-resultados-alcancados' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorResultados = editor;
        console.log("concluindo criacao de editor de resultados ");
      } )
      .catch( err => {
        console.error( err );
      } );

    DecoupledEditor
      .create( document.querySelector( '#editor-encaminhamento' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-encaminhamento' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorEncaminhamento = editor;
        console.log("concluindo criacao de editor de encaminhamento ");
      } )
      .catch( err => {
        console.error( err );
      } );

      DecoupledEditor
      .create( document.querySelector( '#editor-prorrogacao' ), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      } )
      .then( editor => {
        const toolbarContainer = document.querySelector( '#toolbar-container-prorrogacao' );

        toolbarContainer.prepend( editor.ui.view.toolbar.element );

        $scope.editorProrrogacao = editor;
        console.log("concluindo criacao de editor de Prorrogacao ");
      } )
      .catch( err => {
        console.error( err );
      } ); 

  </script>


  <script cam-script type="text/form-script">
    $scope.pdfDODAssinado = null;

    $scope.novoGerarPDF = function() {

      console.log("inicio de novoGerarPDF");
      var hoje           = new Date();
      var hojeFormatado  = hoje.getDate() + "/" + (hoje.getMonth() + 1) + "/" + hoje.getFullYear();
  
      //para desenvolvimento mudar aqui
      var hostcurrent    = window.location.hostname;
      //var hostcurrent    = 'window.location.hostname';
      //mudar aqui end
      inject(['$http', 'Uri', function($http, Uri) {
  
        var contextRetorno = $scope.contextRetorno;
        
        let baseUrlPdfGenerate = Uri.appUri('engine://engine/:engine/task/' + camForm.taskId + '/form');
      
        
        $http.get(baseUrlPdfGenerate).then(function(response) {
          $scope.retorno = response.data;
  
          console.log("recuperado endereco do form task");
  console.log($scope.retorno.contextPath);
          $http.get(Uri.appUri($scope.retorno.contextPath + '/forms/PCTI-DOD-documento-oficializacao-demanda-v2.html'))
          .then(function(response) {
  
            console.log("recuperado form task");
            
            var tmplt              = response.data;
            var tableFaixaContabil = "<table class=\"table-border\" style=\"width:100%;border-color:#ccc;\"> <tr> <td style=\"width: 30%;border-color:#ccc\">Faixa Contábil</td><td style=\"width: 30%;text-align:left;border-color:#ccc\">Tipo</td><td style=\"width: 40%;text-align:right;border-color:#ccc\">Valor Estimado</td></tr> ";
  
            var __nomeRequisitante = 'DEMO';
            if (hostcurrent != 'localhost') {

              let matricula = $scope.userName;
              if (matricula == 'demo') matricula = 'u843797';
              matricula = matricula.substring(1,matricula.length);
    
              try {
                const settings = {
                  "async": false,
                  "crossDomain": true,
                  "url": "https://brsfuncionarios.brb.com.br/funcionarios/api/v1.0.0/" + matricula + "/dados-basicos",
                  "method": "GET",
                  "headers": {}
                };
    
                $.ajax(settings).done(function (response) {
                  __nomeRequisitante = response.nome;
                });
    
              } catch(err) {
                console.error("#### ERROR erro no acesso aos dados basicos do funcionario ");
                console.error(err);
              }
            }
  
            $scope.listaFaixaContabil.forEach(function(faixaContabil){
              var tipoSelecionado = $scope.listaTipoFaixaContabil.find(function(tipoFaixa) {
                if (tipoFaixa.id == faixaContabil.tipo) return tipoFaixa;
              });
        
              //Atualiza tabela
              var novaLinha = "<tr style=\"border-color:#ccc;\">";
              novaLinha += "<td style=\"border-color:#ccc;\">" + tipoSelecionado.name + "</td>";
              novaLinha += "<td style=\"text-align:left;border-color:#ccc;\">" + faixaContabil.faixa  + "</td>";
              novaLinha += "<td style=\"text-align:right;border-color:#ccc;\">" + faixaContabil.valorEstimado + "</td>"; 
  
              novaLinha += "</tr>";
              tableFaixaContabil += novaLinha;
            });
  
            tableFaixaContabil +=  " </table>";
  
            console.log("conlcuido preparo da tabala faixa contabil ");
          
            
            var variavelDitect = '';
  
            if($scope.dbAreaDirect != 'DITEC')
            {
              variavelDitect = `
                  <tr>
                    <td style="width: 578px;">
                        <p style="text-align: center;">__________________________________</p>
                        <p style="text-align: center;">` + $scope.dbAreaDirect + `</p>
                        <p style="text-align: center;"><strong>Data: ____/____/____</strong></p>
                    </td>
                </tr>
                `;
            }
           
            if(!!$scope.pcti_dod_nomeDiretorDITEC == false)
            {
              $scope.pcti_dod_nomeDiretorDITEC = '';
            }
            let valueRadioProrrogacaoTPL = `( ) SIM (X) NÃO`;
            if($scope.valueRadioProrrogacao)
            {
               valueRadioProrrogacaoTPL = `(X) SIM ( ) NÃO`;
            }
            console.log('$scope.editorProrrogacaoFinal', $scope.editorProrrogacaoFinal.texto);
           
            try {
          
              tmplt = tmplt.replace(/[\n\r]/g, '');
  
              tmplt = tmplt.replace("{{__brbDate}}",                                      hojeFormatado)
                          .replace("{{__brbNomeProjeto}}",                                document.getElementById('pcti_nomeProjetoSolucao')?.value ? document.getElementById('pcti_nomeProjetoSolucao')?.value : '__brbNomeProjeto')
                          .replace("{{__brbIdentificacaoAR}}",                            $scope.areaDemandanteAngularScope)
                          .replace("{{__brbResponsavelDemanda}}",                         document.getElementById('pcti_dod_nomeResponsavelDemanda')?.value ? document.getElementById('pcti_dod_nomeResponsavelDemanda')?.value : '__brbResponsavelDemanda')
                          .replace("{{__brbMatrículaAR}}",                                document.getElementById('pcti_dod_nroMatricula')?.value ? document.getElementById('pcti_dod_nroMatricula')?.value : '__brbMatrículaAR')
                          .replace("{{__brbResponsavelEmail}}",                           document.getElementById('pcti_dod_emailResponsavel')?.value ? document.getElementById('pcti_dod_emailResponsavel')?.value : '__brbResponsavelEmail')
                          .replace("{{__brbTelefoneAR}}",                                 document.getElementById('pcti_dod_nroTelefone')?.value ? document.getElementById('pcti_dod_nroTelefone')?.value : '__brbTelefoneAR')
                          .replace("{{__brbIdentificacaoDemanda}}",                       $scope.editorIdentificacaoDemanda.getData() )
                          .replace("{{__brbAlinhamentoEstrategico}}",                     $scope.editorPDTI.getData())
                          .replace("{{__brbCriticidade}}",                                document.getElementById('criticidadeContratacao')?.value ? document.getElementById('criticidadeContratacao')?.value : '__brbCriticidade')
                          .replace("{{__brbMeta}}",                                       document.getElementById('vinculadoMeta')?.value ? document.getElementById('vinculadoMeta')?.value : '__brbMeta')
                          .replace("{{__brbTextoMeta}}",                                  $scope.editorMetas.getData())
                          .replace("{{__brbFundamentacao}}",                              $scope.editorFundamentacao.getData())
                          .replace("{{__brbResultadosAlcancados}}",                       $scope.editorResultados.getData())
                          .replace("{{__brbAreaRequisitante}}",                           document.getElementById('pcti_dod_nomeIntegranteRequisitante')?.value ? document.getElementById('pcti_dod_nomeIntegranteRequisitante')?.value : '__brbAreaRequisitante')
                          .replace("{{__brbNomeSuperintendenteRequisitante}}",            $scope.dbAreaDirectSuperio)
                          .replace("{{__trpcti}}",                                         variavelDitect)
                          .replace("{{__brbNomeDiretorDitec}}",                           $scope.pcti_dod_nomeDiretorDITEC)
                          .replace("{{__brbDITECacompanharProjeto}}",                     "__brbDITECacompanharProjeto")
                          .replace("{{__brbNomeIntegranteRequisitante}}",                 document.getElementById('pcti_dod_nomeIntegranteRequisitante')?.value ? document.getElementById('pcti_dod_nomeIntegranteRequisitante')?.value : '__brbNomeIntegranteRequisitante')
                          .replace("{{__brbMatriculaIntegranteRequisitante}}",            $scope.pcti_dod_matriculaIntegranteRequisitante)
                          .replace("{{__brbEmailIntegranteRequisitante}}",                document.getElementById('pcti_dod_emailIntegranteRequisitante')?.value ? document.getElementById('pcti_dod_emailIntegranteRequisitante')?.value : '__brbEmailIntegranteRequisitante')
                          .replace("{{__brbTelefoneIntegranteRequisitante}}",             document.getElementById('pcti_dod_telefoneIntegranteRequisitante')?.value ? document.getElementById('pcti_dod_telefoneIntegranteRequisitante')?.value : '__brbTelefoneIntegranteRequisitante')
                          .replace("{{__brbNomeIntegranteAdm}}",                          document.getElementById('pcti_dod_nomeIntegranteAdministrativo')?.value ? document.getElementById('pcti_dod_nomeIntegranteAdministrativo')?.value : '__brbNomeIntegranteAdm')
                          .replace("{{__brbMatriculaIntegranteAdm}}",                      $scope.pcti_dod_matriculaIntegranteAdministrativo)
                          .replace("{{__brbEmailIntegranteAdm}}",                         document.getElementById('pcti_dod_emailIntegranteAdministrativo')?.value ? document.getElementById('pcti_dod_emailIntegranteAdministrativo')?.value : '__brbEmailIntegranteAdm')
                          .replace("{{__brbTelefoneIntegranteAdm}}",                      document.getElementById('pcti_dod_telefoneIntegranteAdministrativo')?.value ? document.getElementById('pcti_dod_telefoneIntegranteAdministrativo')?.value : '__brbTelefoneIntegranteAdm')
                          .replace("{{__brbNomeIntegranteTec}}",                          document.getElementById('pcti_dod_nomeIntegranteTecnico')?.value ? document.getElementById('pcti_dod_nomeIntegranteTecnico')?.value : '__brbNomeIntegranteTec')
                          .replace("{{__brbMatriculaIntegranteTec}}",                     document.getElementById('pcti_dod_matriculantegranteTecnico')?.value ? document.getElementById('pcti_dod_matriculantegranteTecnico')?.value : '__brbMatriculaIntegranteTec')
                          .replace("{{__brbEmailIntegranteTec}}",                         document.getElementById('pcti_dod_emailIntegranteTecnico')?.value ? document.getElementById('pcti_dod_emailIntegranteTecnico')?.value : '__brbEmailIntegranteTec')
                          .replace("{{__brbTelefoneIntegranteTec}}",                      document.getElementById('pcti_dod_telefoneIntegranteTecnico')?.value ? document.getElementById('pcti_dod_telefoneIntegranteTecnico')?.value : '__brbTelefoneIntegranteTec')
                          .replace("{{__brbFaixaContabil}}",                              tableFaixaContabil)
                          .replace("{{__brbIndicacaoOrcamentaria}}",                      $scope.editorIndicacaoOrcamentaria.getData())
                          .replace("{{__brbHash}}",                                       $scope.hashGenerate)
                          .replace("{{__brbNomeRequisitante}}",                           __nomeRequisitante)
                          .replace("{{__brbProrrogacaoDeServico}}",                      valueRadioProrrogacaoTPL)
                        
                          .replace("{{__brbProrrogacaoVigencia}}",                        $scope.editorProrrogacaoFinal.texto)
                          
                          
                          ;

              var opt = {
                  margin: 1,
                  pagebreak: { mode: ['avoid-all', 'css', 'legacy'] },
                  cache:false,
                  filename: 'DOD-Assinado.pdf',
                  image: { type: 'jpeg', quality: 0.98 },
                  html2canvas: { scale: 2 },
                  jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' },
                  pagebreak: { mode: 'avoid-all', before: '#teste' }
              };
              //type: blob; arraybuffer; 

              //html2pdf().from(element).save();
              html2pdf().from(tmplt).set(opt).save().outputPdf('blob', 'DOD-Assinado.pdf').then(function(pdfInBuffer){
                console.log("=====================================");
                console.log(pdfInBuffer);
                let pdfAssinado = {
                  nome:     'DOD-Assinado.pdf',
                  mimeType: pdfInBuffer.tpe 
                };

                $scope.retrieveFiledata(pdfInBuffer, pdfAssinado);

                $scope.pdfDODAssinado = pdfAssinado;
                console.log("------------------");
                console.log(pdfAssinado);
              });

            } catch(err) {
              console.error("Erro no parse do template com os dados ");
              console.error(err);
            }
           
          },
          function(response) { // optional
              // failed
              console.error("---------------------------------------------------------------------");
              console.error("Erro no retornoda busca do template");
              console.error(response);
              console.errors("---------------------------------------------------------------------");
          });
  
        });

        $scope.retrieveFiledata = function (file, fileData2) {
          let reader = new FileReader();
          reader.onload = function (event) {
            fileData2.blob = reader.result;
            let binary = '';
            let bytes = new Uint8Array(reader.result);
            for (let i = 0; i < bytes.length; i++) {
              binary += String.fromCharCode(bytes[i]);
            }
            fileData2.file = btoa(binary);
          };
          reader.readAsArrayBuffer(file);
        };

        
  
      }]); // fim do ineject
    };
  
  </script>

</form>
