<html>

<head>
    <style>
        .artefato-table th {
            background-color: #0000ff;
            color: antiquewhite;
        }

        .artefato-table td:first-child {
            background-color: grey;
            color: black;
        }

        .artefato-table td:nth-child(2) {
            text-align: justify !important;
        }

        .table {
            width: 90vw;
        }

        .table-border {
            width: 90vw;
            border: 1px solid black;
            border-collapse: collapse;
        }

        .table-border th,
        .table-border td {
            border: 1px solid black;
        }

        .table-border thead {
            background-color: #c0bfbf;
        }

        page {
            background: white;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5cm;
            ;
        }

        @media print {

            pre,
            blockquote {
                page-break-inside: avoid;
            }

            body,
            page {
                margin: 0;
                box-shadow: 0;
                page-break-inside: avoid;
            }

            div,
            p,
            table,
            html {
                -webkit-region-break-inside: auto;
            }

            table,
            p {
                page-break-inside: auto
            }
            #tr_edit > td {
                width: 50%;
            }

            tr {
                page-break-inside: auto;
                page-break-after: auto
            }

            thead {
                display: table-header-group
            }

            tfoot {
                display: table-footer-group
            }

            .artefato-table {
                page-break-after: always;
            }

           
        }
    </style>
    <title>PCTI DOD</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="BRB" />
    <meta name="subject" content="PCTI DOD" />
</head>

<body style="background: white;  font-family: Verdana, Calibri, Geneva, Tahoma, sans-serif;">
    
    <table class="table" style="width: 100%;">
        <tr>
            <td style="text-align: center; color: black; background-color: grey;">
                1. IDENTIFICAÇÃO DA DEMANDA
                </td>
        </tr>
        <tr>
            <td>
                {{__brbIdentificacaoDemanda}}
            </td>
        </tr>
        <tr>
            <td>
                <strong >Nome do Projeto/Solução</strong>: &emsp; {{__brbNomeProjeto}}
            </td>
        </tr>
    </table>
    <table class="table" style="width: 100%;">
        <tr>
            <td style="text-align: center; color: black; background-color: grey;">
                2. IDENTIFICAÇÃO DA ÁREA REQUISITANTE
            </td>
        </tr>
        <tr>
            <td>
                <strong >Diretoria/Superintendência/Gerência/Núcleo</strong>: &emsp; {{__brbIdentificacaoAR}}
            </td>
        </tr>
        <tr>
            <td>
                <strong >Responsável pela demanda</strong>: &emsp; {{__brbResponsavelDemanda}}
            </td>
        </tr>
        <tr>
            <td>
                <strong >Matrícula</strong>: &emsp;  {{__brbMatrículaAR}}
            </td>
        </tr>
        <tr>
            <td>
                <strong >E-mail do responsável</strong>: &emsp; {{__brbResponsavelEmail}}
            </td>
        </tr>
        <tr>
            <td>
                <strong >Telefone</strong>: &emsp; {{__brbTelefoneAR}}
            </td>
        </tr>
    </table>
    <p></p>

    <table class="table" style="width: 100%;">
        <tr>
            <td colspan="4" style="text-align: center; color: black; background-color: grey;">
                3. INDICAÇÃO ORÇAMENTÁRIA
            </td>
        </tr>
        <tr >
            <td  rowspan="4">{{__brbIndicacaoOrcamentaria}} </td>
        </tr>
        <tr id="tr_edit">
            
                {{__brbFaixaContabil}}
            
        </tr>
    </table>
  
    <p></p>
    <table class="table" style="width: 100%;">
        <tr>
            <td style="text-align: center; color: black; background-color: grey;">
                4. ALINHAMENTO ESTRATÉGICO
            </td>
        </tr>
        <tr>
            <td>
                {{__brbAlinhamentoEstrategico}}
            </td>
        </tr>
    </table>
    <p></p>
    <table class="table" style="width: 100%;" id="teste">
        <tr>
            <td style="text-align: center; color: black; background-color: grey;">
                5.1 MOTIVAÇÃO/JUSTIFICATIVA
            </td>
        </tr>
        <tr>
            <table class="table-border" style="width: 100%;">
                <tr>
                    <td>
                        5.1 - CRITICIDADE - ( )
                    </td>
                </tr>
                <tr>
                    <td>
                        {{__brbCriticidade}}
                    </td>
                </tr>
                <tr>
                    <td>
                        5.2 - META - ( {{__brbMeta}} )
                    </td>
                </tr>
                <tr>
                    <td>
                        {{__brbTextoMeta}}
                    </td>
                </tr>
                <tr>
                    <td>
                        5.3 - FUNDAMENTAÇÃO
                    </td>
                </tr>
                <tr>
                    <td>
                        {{__brbFundamentacao}}
                    </td>
                </tr>
            </table>
        </tr>
    </table>
    <p></p>

    <table class="table" style="width: 100%;" id="teste">
        <tr>
            <td style="text-align: center; color: black; background-color: grey;">
                5.2 PROROGAÇÃO DE SERVIÇOS
            </td>
        </tr>
        <tr>
            <table class="table-border" style="width: 100%;">
                <tr>
                    <td>
                         ({{__brbProrrogacaoDeServicoSim}}) SIM  ({{__brbProrrogacaoDeServicoNao}}) NÃO
                    </td>
                </tr>
                <tr>
                    <td>
                        {{__brbProrrogacaoVigencia}}
                    </td>
                </tr>
            </table>
        </tr>
     </table>
    <p></p>

    <table class="table" style="width: 100%;">
        <tr>
            <td style="text-align: center; color: black; background-color: grey;">
                6. RESULTADOS A SEREM ALCANÇADOS
            </td>
        </tr>
        <tr>
            <td>
                {{__brbResultadosAlcancados}}
            </td>
        </tr>
    </table>
    <p></p>
    <table class="table" style="width: 100%;">
        <tr>
            <td style="text-align: center; color: black; background-color: grey;">
                7. EQUIPE DE PLANEJAMENTO
            </td>
        </tr>
        <tr>
            <table class="table-border" style="width: 100%;">
                <tr>
                    <td style="width: 30%; background-color: #c0bfbf;">Integrante Requisitante (IR)</td>
                    <td style="width: 20%;"> {{__brbNomeIntegranteRequisitante}}</td>
                    <td style="width: 30%; background-color: #c0bfbf;">Matrícula</td>
                    <td style="width: 20%;">{{__brbMatriculaIntegranteRequisitante}}</td>
                </tr>
                <tr>
                    <td style="width: 30%; background-color: #c0bfbf;">E-mail do IR</td>
                    <td style="width: 20%;">{{__brbEmailIntegranteRequisitante}}</td>
                    <td style="width: 30%; background-color: #c0bfbf;">Telefone do IR</td>
                    <td style="width: 20%;">{{__brbTelefoneIntegranteRequisitante}}</td>
                </tr>
                <tr>
                    <td style="width: 30%; background-color: #c0bfbf;">Integrante Administrativo (IA)</td>
                    <td style="width: 20%;">{{__brbNomeIntegranteAdm}}</td>
                    <td style="width: 30%; background-color: #c0bfbf;">Matrícula</td>
                    <td style="width: 20%;">{{__brbMatriculaIntegranteAdm}}</td>
                </tr>
                <tr>
                    <td style="width: 30%; background-color: #c0bfbf;">E-mail do IA</td>
                    <td style="width: 20%;">{{__brbEmailIntegranteAdm}}</td>
                    <td style="width: 30%; background-color: #c0bfbf;">Telefone do IA</td>
                    <td style="width: 20%;">{{__brbTelefoneIntegranteAdm}}</td>
                </tr>
                <tr>
                    <td style="width: 30%; background-color: #c0bfbf;">Integrante Técnico (IT)</td>
                    <td style="width: 20%;">{{__brbNomeIntegranteTec}}</td>
                    <td style="width: 30%; background-color: #c0bfbf;">Matrícula</td>
                    <td style="width: 20%;">{{__brbMatriculaIntegranteTec}}</td>
                </tr>
                <tr>
                    <td style="width: 30%; background-color: #c0bfbf;">E-mail do IT</td>
                    <td style="width: 20%;">{{__brbEmailIntegranteTec}}</td>
                    <td style="width: 30%; background-color: #c0bfbf;">Telefone do IT</td>
                    <td style="width: 20%;">{{__brbTelefoneIntegranteTec}}</td>
                </tr>
            </table>
        </tr>
    </table>
    <p></p>
    <table class="table" style="width: 100%;">
        <tr>
            <td style="text-align: center; color: black; background-color: grey;">
                8. ENCAMINHAMENTO
            </td>
        </tr>
        <tr>
            <td>
                Em conformidade com o RLC – BRB, Manual de Contratações e Gestão de Contratos e Manual de Contratações de Soluções
                de TI, encaminha-se à Diretoria de Tecnologia da Informação (DITEC) para decidir motivadamente sobre o
                prosseguimento do planejamento da contratação.
            </td>
        </tr>
        <tr>
            <td style="width: 578px;">
                <p style="text-align: center;">__________________________________</p>
                <p style="text-align: center;">Requisitante da Solução de TI</p>
                <p style="text-align: center;">{{__brbNomeRequisitante}}</p>
                <p style="text-align: center;"><strong>Data: ____/____/____</strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <strong>De acordo</strong></td>
        </tr>
        <tr>
            <td style="width: 578px;">
                <p style="text-align: center;">__________________________________</p>
                <p style="text-align: center;">{{__brbNomeSuperintendenteRequisitante}}</p>
                <p style="text-align: center;"><strong>Data: ____/____/____</strong></p>
            </td>
        </tr>

        {{__trpcti}}
      
    </table>
    <p></p>
    <table class="table" style="width: 100%;">
        <tr>
            <td style="text-align: center; color: black; background-color: grey;">
                9. AVALIAÇÃO DO DIRETOR DITEC
            </td>
        </tr>
        <tr>
            <table class="table-border" style="width: 100%;">
                <tr>
                    <td style="background-color: #c0bfbf;">
                        9.1 Aprovação para o prosseguimento do planejamento da contratação:
                    </td>
                </tr>
                <tr style="height: 100px;">
                    <td>
                        <p>
                        <p></p>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="background-color: #c0bfbf;">
                        9.2 Indicar se o planejamento da contratação deverá ou não ser conduzida por um Gerente de Projetos :
                    </td>
                </tr>
                <tr style="height: 100px;">
                    <td>
                        <p>
                        <p></p>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="background-color: #c0bfbf;">
                        9.3 Assinatura:
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                        <p></p>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 578px;">
                        <p style="text-align: center;">__________________________________</p>
                        <p style="text-align: center;">{{__brbNomeDiretorDitec}}</p>
                        <p style="text-align: center;"><strong>Data: ____/____/____</strong></p>
                    </td>
                </tr>

               
            </table>
        </tr>
    </table>
    <p></p>
   
    <table class="table-border" style="width: 100%;">
        <tr>
            <td style="background-color: #c0bfbf;">
                Hash
            </td>
        </tr>

        <tr>
            <td>
                {{__brbHash}}
            </td>
        </tr>
    </table>
    <p></p> <p></p>
</body>

</html>