
<form enctype="multipart/form-data" id="AnexarOTRAAoProcessoDaContratacaoTask" class="form-horizontal" role="form">

  <script cam-script type="text/form-script">
           var variableManager = camForm.variableManager;
           $scope.taskId_ = camForm.taskId;
  </script>

  <div class="form-group">
     <h4>Anexar
      o TRA ao processo da contratação</h4>
 </div>

 <div class="form-group">
  <div class="col-sm-12" style="padding-top: 25px;">
    <label class="control-label" >Download:
    </label>
    <a cam-file-download="pcti_file_tr_coletarAssinaturas"></a>
  </div>
</div>

<div class="form-group" >
  <div class="col-md-12">	
    <h3>Anexos</h3>
    <table id='tabelaAnexo' class="table table-striped">	
      <tr>
        <td scope="col" align="left">
          Arquivo
        </td>
        <td scope="col" align="left">
          Tipo
        </td>
        <td scope="col" align="left">
          Data
        </td>
        <td scope="col" align="left">
         
       </td>
      </tr>
    </table>
  </div>
</div>

 <div class="form-group">
    <div class="col-sm-12" style="padding-top: 25px;">

      <label class="control-label" for="pcti_tr_notaColetarAssinaturas">Nota coletar assinaturas:
      </label>
      <textarea  cam-variable-name="pcti_tr_notaColetarAssinaturas"
              cam-variable-type="String"
              id="pcti_tr_notaColetarAssinaturas"
              class="form-control"
              rows="5" cols="25"
              maxlength="2000"
              readonly="readonly"></textarea>  
    </div>
  </div>

 <script cam-script type="text/form-script">
   $scope.userName = '';
   var variableManager = camForm.variableManager;


   camForm.on('form-loaded', function() {

    // this callback is executed *before* the variables are loaded from the server.
    // if we declare a variable here, its value will be fetched as well
    
    try {
      variableManager.fetchVariable('pcti_tr_notaColetarAssinaturas');

    } 
    catch (err) {
      console.log(err);
    }

  });


   camForm.on('submit', function(evt) {});

 inject(['$http', 'Uri', function($http, Uri) 
 {
     var contextRetorno = $scope.contextRetorno;
     $http.get(Uri.appUri('engine://engine/:engine/identity/groups?userId=' + $scope.userName)).then(function(response) {
       $scope.retorno = response.data;
       console.log($scope.retorno);
     });
 
     camForm.on('form-loaded', function() {
       try {
         console.log ("iniciado form-loaded");
         variableManager.fetchVariable('pcti_tr_conformidadeTr');
         variableManager.fetchVariable('listaArquivos');
       } catch (err) {
         console.log(err);
       }
     });
 
     $scope.uploadFile = ($evt) => {
       retun;
     }
 
     camForm.on('variables-restored', function() {
       // handle variables restored
       $scope.loadFields();
     });
 
     $scope.loadFields = function() {
 
     var listaArquivos = variableManager.variable('listaArquivos').value;
     if(listaArquivos){
   
       listaArquivos.forEach(function(fileUploaded) {
         console.log("fileUploaded");
         console.log(fileUploaded);
         console.log();
         let data = fileUploaded.data.split('T')[0];
         data = data.split('-');
     
         var novaLinha = "<tr id='tr_"+ fileUploaded.nome +"'>";
           novaLinha += "<td> <a href='/engine-rest/task/"+camForm.taskId+"/variables/"+ fileUploaded.camundaVariable +"/data' download='" + fileUploaded.nome + "' class='btn btn-info btn-xs' role='button'>";
           novaLinha += fileUploaded.nome+"</a></td>";
           novaLinha += "<td>"+fileUploaded.tipo+"</td>";
           novaLinha += "<td>"+ data[2] + '/' + data[1] + '/' + data[0] +"</td>";
           novaLinha += "<td style=\"text-align:right\">";
           novaLinha += '<input disabled id="' + fileUploaded.nome + '" type="button" value="&#x1F5D1;"  onclick="" />';
           novaLinha += '</td></tr>';
     
         $('#tabelaAnexo').append(novaLinha);
 
       });
       
     }
 
   };
 
 
   camForm.on('store', function(evt) {
 
     evt.retrieveVariables();
     var vManager = evt.variableManager;
     
     try {
 
     } catch (err) {
       console.error(err);
       evt.submitPrevented = true;
     }
   });
 
   camForm.on('variables-stored', function() {
   });
 
   
 function processAndGetVariable(value) {
   var valueReturn = variableManager.variableValue(value);
 
   console.log(value);
   console.log(valueReturn);
 
   if (valueReturn === undefined || valueReturn === null) {
     variableManager.destroyVariable(value);
   }
   return valueReturn;
 };
 
 }]); /// funcao inject

 </script>

 
</form>
