
<form enctype="multipart/form-data" id="EnviarProcessoAGECONTask" class="form-horizontal" role="form">

  <script cam-script type="text/form-script">
           var variableManager = camForm.variableManager;
           $scope.taskId_ = camForm.taskId;
  </script>

  <div class="form-group">
     <h4>Enviar
      processo à GECON</h4>
 </div>

 <div class="form-group">
  <div class="panel panel-default">
      <div class="panel-heading">Verificar alçada de aprovação</div>
      <div class="panel-body">
      <div class="col-sm-12" style="padding-top: 25px;">
        <textarea  cam-variable-name="pcti_ne_notaVerificarAlcada"
            cam-variable-type="String"
            id="pcti_ne_notaVerificarAlcada"
            class="form-control"
            rows="5" cols="25"
            maxlength="2000"
            readonly="readonly"></textarea>  
      </div>
      <div class="row">
        <div class="col-sm-6" style="padding-top: 25px;">
          <label class="control-label" >Download:
          </label>
          <a cam-file-download="pcti_file_ne_verificarAlcada"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12" style="padding-top: 25px;">
    <label class="control-label">Upload:
    </label>
    <input type="file"
      cam-variable-name="pcti_file_ne_enviarProcessoGecon"
      id="pcti_file_ne_enviarProcessoGecon"
      cam-variable-type="File"
      cam-max-filesize="10000000" /> <!-- 10mb -->
  </div>
</div>

<div class="form-group" >
  <div class="col-md-12">	
    <h3>Anexos</h3>
    <table id='tabelaAnexo' class="table table-striped">	
      <tr>
        <td scope="col" align="left">
          Arquivo
        </td>
        <td scope="col" align="left">
          Tipo
        </td>
        <td scope="col" align="left">
          Data
        </td>
        <td scope="col" align="left">
         
       </td>
      </tr>
    </table>
  </div>
</div>

  <div class="form-group">
    <div class="col-sm-12" style="padding-top: 25px;">
      <label class="control-label" for="pcti_ne_notaEnviarProcesso">Nota:
        <p id="show-lenght-nota" style="color:#d57d6d; display: inline;">
          (0/2000)
        </p>
      </label>
      <textarea  cam-variable-name="pcti_ne_notaEnviarProcesso"
              cam-variable-type="String"
              id="pcti_ne_notaEnviarProcesso"
              class="form-control"
              rows="5" cols="25"
              maxlength="2000"
              oninput="verificationNota()"
              required></textarea>  
    </div>
  </div>
  


 <script cam-script type="text/form-script">
   $scope.userName = '';
   var variableManager = camForm.variableManager;

   camForm.on('submit', function(evt) {
    if (document.getElementById('pcti_file_ne_enviarProcessoGecon').files.length === 0) {
      alert("Faça o upload do documento" )
      evt.submitPrevented = true;
    }
   });


   inject(['$http', 'Uri', function($http, Uri) 
   {
       var contextRetorno = $scope.contextRetorno;
       $http.get(Uri.appUri('engine://engine/:engine/identity/groups?userId=' + $scope.userName)).then(function(response) {
         $scope.retorno = response.data;
         console.log($scope.retorno);
       });
   
       camForm.on('form-loaded', function() {
         try {
           console.log ("iniciado form-loaded");
           
           variableManager.fetchVariable('listaArquivosNe');
         } catch (err) {
           console.log(err);
         }
       });
   
       $scope.uploadFile = ($evt) => {
         retun;
       }
   
       camForm.on('variables-restored', function() {
         // handle variables restored
         $scope.loadFields();
       });
   
       $scope.loadFields = function() {
   
       var listaArquivosNe = variableManager.variable('listaArquivosNe').value;
       if(listaArquivosNe){
  
         listaArquivosNe.forEach(function(fileUploaded) {
        
           let data = fileUploaded.data.split('T')[0];
           data = data.split('-');
       
           var novaLinha = "<tr id='tr_"+ fileUploaded.nome +"'>";
             novaLinha += "<td> <a href='/engine-rest/task/"+camForm.taskId+"/variables/"+ fileUploaded.camundaVariable +"/data' download='" + fileUploaded.nome + "' class='btn btn-info btn-xs' role='button'>";
             novaLinha += fileUploaded.nome+"</a></td>";
             novaLinha += "<td>"+fileUploaded.tipo+"</td>";
             novaLinha += "<td>"+ data[2] + '/' + data[1] + '/' + data[0] +"</td>";
             novaLinha += "<td style=\"text-align:right\">";
             novaLinha += '<input disabled id="' + fileUploaded.nome + '" type="button" value="&#x1F5D1;"  onclick="" />';
             novaLinha += '</td></tr>';
       
           $('#tabelaAnexo').append(novaLinha);
   
         });
         
       }
   
     };
   
   
     camForm.on('store', function(evt) {
   
       evt.retrieveVariables();
       var vManager = evt.variableManager;
       
       try {
   
       } catch (err) {
         console.error(err);
         evt.submitPrevented = true;
       }
     });
   
     camForm.on('variables-stored', function() {
     });
   
     
   function processAndGetVariable(value) {
     var valueReturn = variableManager.variableValue(value);
   
     console.log(value);
     console.log(valueReturn);
   
     if (valueReturn === undefined || valueReturn === null) {
       variableManager.destroyVariable(value);
     }
     return valueReturn;
   };
   
   }]); /// funcao inject

 </script>

 <script>
  // show the user how many characteres are in the input area
  var verificationNota = function(e) {
    // get the value into textarea 
    // has to change the ID when have to use in another textarea element  
    let inputedByUser = document.getElementById("pcti_ne_notaEnviarProcesso").value;
    let showUserInputLenghtElement = document.getElementById("show-lenght-nota");
    // generate the p tag that show to user how many characteres are in the input area
    showUserInputLenghtElement.innerHTML = "(" + inputedByUser.length +"/2000)";
    if(inputedByUser.length >= 1950 || inputedByUser.length <= 1)
      document.getElementById("show-lenght-nota").style = "color: #d57d6d; display: inline;"
    else if(inputedByUser.length < 1950)
      document.getElementById("show-lenght-nota").style = "color: #a2d19e; display: inline;"
  }
</script>
 
</form>
