
<form enctype="multipart/form-data" id="RealizarAAvaliacaoDeConformidadeTask" class="form-horizontal" role="form">

  <script cam-script type="text/form-script">
           var variableManager = camForm.variableManager;
           $scope.taskId_ = camForm.taskId;

  </script>

  <div class="form-group">
     <h4>Realizar a avaliação de conformidade</h4>
 </div>

 <div class="form-group" id="mostrarAjuste">
    <div class="panel panel-default">
        <div class="panel-heading">Nota ajustar NE</div>
        <div class="panel-body">
        <div class="col-sm-12" style="padding-top: 25px;">
          <textarea  cam-variable-name="pcti_ne_notaAjustar"
              cam-variable-type="String"
              id="pcti_ne_notaAjustar"
              class="form-control"
              rows="5" cols="25"
              maxlength="2000"
              readonly="readonly"></textarea>
        </div>
        <div class="row">
          <div class="col-sm-6" style="padding-top: 25px;">
            <label class="control-label" >Download:
            </label>
            <a href="/engine-rest/task/{{camForm.taskId}}/variables/pcti_file_ne_ajustarNE/data" class="btn btn-default" role="button">
              Download
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="form-group">
  <div class="panel panel-default">
      <div class="panel-heading">Elaborar Carrinho de compras</div>
      <div class="panel-body">
      <div class="col-sm-12" style="padding-top: 25px;">
        <textarea  cam-variable-name="pcti_ne_notaElaborarCarrinho"
            cam-variable-type="String"
            id="pcti_ne_notaElaborarCarrinho"
            class="form-control"
            rows="5" cols="25"
            maxlength="2000"
            readonly="readonly"></textarea>  
      </div>
      <div class="row">
        <div class="col-sm-6" style="padding-top: 25px;">
          <label class="control-label" >Download:
          </label>
          <a cam-file-download="pcti_file_ne_carrinho"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group" id="mostrarSolicitarParecer">
  <div class="panel panel-default">
      <div class="panel-heading">Nota solicitar o parecer orçamentário</div>
      <div class="panel-body">
      <div class="col-sm-12" style="padding-top: 25px;">
        <textarea  cam-variable-name="pcti_ne_notaSolicitarParecer"
            cam-variable-type="String"
            id="pcti_ne_notaSolicitarParecer"
            class="form-control"
            rows="5" cols="25"
            maxlength="2000"
            readonly="readonly"></textarea>
      </div>
      <div class="row">
        <div class="col-sm-6" style="padding-top: 25px;">
          <label class="control-label" >Download:
          </label>
          <a href="/engine-rest/task/{{camForm.taskId}}/variables/pcti_file_ne_solicitarParecer/data" class="btn btn-default" role="button">
            Download
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="form-group">
  <div class="col-sm-12" style="padding-top: 25px;">
    <label class="control-label">Upload:
    </label>
    <input type="file"
      cam-variable-name="pcti_file_ne_conformidadeNE"
      id="pcti_file_ne_conformidadeNE"
      cam-variable-type="File"
      cam-max-filesize="10000000" /> <!-- 10mb -->
  </div>
</div>

<div class="form-group" >
  <div class="col-md-12">	
    <h3>Anexos</h3>
    <table id='tabelaAnexo' class="table table-striped">	
      <tr>
        <td scope="col" align="left">
          Arquivo
        </td>
        <td scope="col" align="left">
          Tipo
        </td>
        <td scope="col" align="left">
          Data
        </td>
        <td scope="col" align="left">
         
       </td>
      </tr>
    </table>
  </div>
</div>


<div class="form-group">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 col-xs-offset-4 col-md-offset-0">
        <label class="col-md-12 control-label">Nota Executiva está conforme? </label>
    </div>
    <div class="col-md-7 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
          <input type="radio" id="idnotaExecutivaConforme_true" name="notaExecutivaConforme" value="true" >
          <label for="sim">Sim</label>
          <input type="radio" id="idnotaExecutivaConforme_false" name="notaExecutivaConforme" value="false" >
          <label for="nao">Não</label>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12" style="padding-top: 25px;">
    <label class="control-label" for="pcti_ne_notaReavaliarConformidade">Nota:
      <p id="show-lenght-nota" style="color:#d57d6d; display: inline;">
        (0/2000)
      </p>
    </label>
    <textarea  cam-variable-name="pcti_ne_notaReavaliarConformidade"
            cam-variable-type="String"
            id="pcti_ne_notaReavaliarConformidade"
            class="form-control"
            rows="5" cols="25"
            maxlength="2000"
            oninput="verificationNota()"
            required></textarea>  
  </div>
</div>


 <script cam-script type="text/form-script">
   $scope.userName = '';
   var variableManager = camForm.variableManager;

   camForm.on('form-loaded', function() {
    console.log ("iniciado form-loaded");

    // this callback is executed *before* the variables are loaded from the server.
    // if we declare a variable here, its value will be fetched as well
    
    try {
      variableManager.fetchVariable('pcti_ne_notaElaborarCarrinho');
    } 
    catch (err) {
      console.log(err);
    }
    try {
      variableManager.fetchVariable('pcti_ne_notaSolicitarParecer');
    } 
    catch (err) {
      console.log(err);
    }

  });


  camForm.on('variables-fetched', function() {
    if(processAndGetVariable('pcti_ne_notaAjustar') == '') {
      document.getElementById('mostrarAjuste').style = "display: none;";
    }
    if(processAndGetVariable('pcti_ne_notaSolicitarParecer') == ''){
      document.getElementById('mostrarSolicitarParecer').style = "display: none;";
    }
  });

   


   camForm.on('submit', function(evt) {
    if (document.getElementById('pcti_file_ne_conformidadeNE').files.length === 0) {
      alert("Faça o upload do documento" )
      evt.submitPrevented = true;
    }

      var idnotaExecutivaConforme_      = getValueOfInputRadio('notaExecutivaConforme');

      variableManager.createVariable({
          name: 'pcti_ne_notaExecutivaConforme',
          type: 'String',
          value: idnotaExecutivaConforme_,
          isDirty: true
      });

   });

   function createVariableCamunda(nameVariable, typeVariable, valueVariable) {
      if (variableManager.variable(nameVariable) != undefined) {
        variableManager.variableValue(nameVariable, valueVariable);
      } else {
        variableManager.createVariable({
            name: nameVariable,
            type: typeVariable,
            value: valueVariable,
            isDirty: true
        });
      }
    }

    function processAndGetVariable(value) {
      var valueReturn = variableManager.variableValue(value);
      if (valueReturn === undefined) {
        variableManager.destroyVariable(value);
      }
      return valueReturn;
    }
    function getValueOfInputRadio(nameElement) { 
        var listElementRadio = document.getElementsByName(nameElement); 
        var returnValue = '';
        for(var i = 0; i < listElementRadio.length; i++) { 
            if (listElementRadio[i].checked) {
                returnValue = listElementRadio[i].value;
            }
        }
        return returnValue;
    } 

    inject(['$http', 'Uri', function($http, Uri) 
    {
        var contextRetorno = $scope.contextRetorno;
        $http.get(Uri.appUri('engine://engine/:engine/identity/groups?userId=' + $scope.userName)).then(function(response) {
          $scope.retorno = response.data;
          console.log($scope.retorno);
        });
    
        camForm.on('form-loaded', function() {
          try {
            console.log ("iniciado form-loaded");
            
            variableManager.fetchVariable('listaArquivosNe');
          } catch (err) {
            console.log(err);
          }
        });
    
        $scope.uploadFile = ($evt) => {
          retun;
        }
    
        camForm.on('variables-restored', function() {
          // handle variables restored
          $scope.loadFields();
        });
    
        $scope.loadFields = function() {
    
        var listaArquivosNe = variableManager.variable('listaArquivosNe').value;
        if(listaArquivosNe){
   
          listaArquivosNe.forEach(function(fileUploaded) {
         
            let data = fileUploaded.data.split('T')[0];
            data = data.split('-');
        
            var novaLinha = "<tr id='tr_"+ fileUploaded.nome +"'>";
              novaLinha += "<td> <a href='/engine-rest/task/"+camForm.taskId+"/variables/"+ fileUploaded.camundaVariable +"/data' download='" + fileUploaded.nome + "' class='btn btn-info btn-xs' role='button'>";
              novaLinha += fileUploaded.nome+"</a></td>";
              novaLinha += "<td>"+fileUploaded.tipo+"</td>";
              novaLinha += "<td>"+ data[2] + '/' + data[1] + '/' + data[0] +"</td>";
              novaLinha += "<td style=\"text-align:right\">";
              novaLinha += '<input disabled id="' + fileUploaded.nome + '" type="button" value="&#x1F5D1;"  onclick="" />';
              novaLinha += '</td></tr>';
        
            $('#tabelaAnexo').append(novaLinha);
    
          });
          
        }
    
      };
    
    
      camForm.on('store', function(evt) {
    
        
        
        evt.retrieveVariables();
        var vManager = evt.variableManager;
        
        try {
    
        } catch (err) {
          console.error(err);
          evt.submitPrevented = true;
        }
      });
    
      camForm.on('variables-stored', function() {
      });
    
      
    function processAndGetVariable(value) {
      var valueReturn = variableManager.variableValue(value);
    
      console.log(value);
      console.log(valueReturn);
    
      if (valueReturn === undefined || valueReturn === null) {
        variableManager.destroyVariable(value);
      }
      return valueReturn;
    };
    
    }]); /// funcao inject
 </script>

 <script>
  // show the user how many characteres are in the input area
  var verificationNota = function(e) {
    // get the value into textarea 
    // has to change the ID when have to use in another textarea element  
    let inputedByUser = document.getElementById("pcti_ne_notaReavaliarConformidade").value;
    let showUserInputLenghtElement = document.getElementById("show-lenght-nota");
    // generate the p tag that show to user how many characteres are in the input area
    showUserInputLenghtElement.innerHTML = "(" + inputedByUser.length +"/2000)";
    if(inputedByUser.length >= 1950 || inputedByUser.length <= 1)
      document.getElementById("show-lenght-nota").style = "color: #d57d6d; display: inline;"
    else if(inputedByUser.length < 1950)
      document.getElementById("show-lenght-nota").style = "color: #a2d19e; display: inline;"
  }
</script>
 
</form>
